.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
    font-weight: bold !important;
}

.card-body {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000030;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 10px 0px #8dc1ca7d; */
}
.primary{
    color: #1DC8D5 !important;
    clear: both;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";
}

.f2-font{
    color: #828282;    
    font-size: 14px !important;
    line-height: 1.5;
    color: #343434;
    background-color: #fff;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
  margin: 0; 
}
a{
    cursor: pointer;
}
p{
    margin-bottom: 3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
  margin: 0; 
}


.invalid-feedback.helptext{
    display: block;
    color:chocolate;
}
/* Global CSS, you probably don't need that */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.wrapper {
	display: table-cell;
	height: auto;
	vertical-align: middle;
}



.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 8px 10px 10px 15px;
	min-width: 200px;
    float: left;
    height: 36px;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #125274;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #125274;	
}


.productImage{
	display: block;
    position: relative;
    margin-left: 90%;
    margin-top: -30%;
}





/* code for notification icon*/

.icon-wrapper{
    position:relative;
    float:left;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    width:50px;
    text-align:center;
    vertical-align:middle;
}
.badge{
    background:red;
    width: 25px;
    height: 25px;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-8px;
    right:-5px;
	padding-top:8px;
	color: wheat;
	font-weight: bold;
}

.pointer{
	cursor: pointer;
}


fieldset {
    font-family: sans-serif;
    border: 1px solid #1F497D;
    background: #ddd;
   
    padding: 0px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 20px;
   
  	width: 50%;
    margin-left: -1px;
}

.card-title{
	margin-bottom: 0.3rem!important;
	margin-top:0.3rem!important;
}

.index{
	
		width: 20px;
		line-height: 20px;
		border-radius: 50%;
		text-align: center;
		font-size: 13px;
		border: 1px solid #666;
	
}

.po-list-div{
	height: 600px;
	overflow-y: scroll;

}
