<div class="row" *ngIf="!poadddiv">
    <div class="col-sm-8">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control col-sm-5  rounded-0"
            id="formGroupExampleInput" placeholder="Search">
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="ShowPoDiv();">
            <span aria-hidden="true" class="fa fa-plus doct "><span style="padding-left: 8px; font-size: 18px;"> Add
                    Party Order</span></span>
        </button>
    </div>
    <div class="col-sm-8" *ngIf="allPoDetailList">Showing <b style="color: blue;">{{listCount}}</b> search results</div>
</div>
<div class="row" *ngIf="poadddiv && !poProductTable">
    <div class="col-md-8">

        <div class="wrapper">
            <div class="arrow-steps clearfix">
                <div class="step" [class.current]="pobasictab"
                    (click)="pobasictab=true;poproducttab=false;pochemcomp=false;showpolist=false;"> <span><strong>Basic
                            Details</strong></span> </div>
                <div class="step" [class.current]="poproducttab"> <span><strong>Add PO</strong></span>
                </div>
                <!-- <div class="step" [class.current]="pochemcomp"
                    (click)="pobasictab=false;poproducttab=false;pochemcomp=true"> <span><strong>Preview
                            Order</strong></span> </div> -->

            </div>

        </div>

    </div>
    <!-- <div class="col-md-1 pt-2 pointer" title="preview" aria-label="Close" data-toggle="modal"
        data-target="#orderPreview">
        <div class="icon-wrapper">
            <i class="	fa fa-2x fa-file-text-o"></i>
            <span class="badge">2</span>
        </div>
    </div> -->
    <div class="col-md-3 text-right">
        <!-- Button trigger modal -->
        <!-- <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
            aria-label="Close" data-toggle="modal" data-target="#createPocForm" (click)="onclear();">
            <span aria-hidden="true" class="fa fa-plus doct "><span style="padding-left: 8px; font-size: 18px;"> Add
                    Center</span></span>
        </button> -->
        <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0 mr-auto"
            (click)="HidePoDiv();">
            <span aria-hidden="true"><span style="padding-left: 8px; font-size: 18px;"> Back To PO LIST
                </span></span>
        </button>
        <!-- Modal -->
    </div>
    <hr>
</div>
<div class="row pt-3" *ngIf="poadddiv">
    <form [formGroup]="createPocForm" class="col-md-8" *ngIf="pobasictab">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="partyid" class="col-form-label font-weight-bold">Select Party
                    Code:</label>
            </div>
            <div class="col-md-8 form-group">
                <!-- <select formControlName="partyid" class="custom-select custom-select-md rounded-0" id="partyid">
                    <option selected>Select</option>
                    <option *ngFor="let party of partyList">{{party.partyId}}</option>

                </select> -->
                <input type="text" formControlName="partyid" class="form-control rounded-0" id="partyid"
                    placeholder="Party Id" [(ngModel)]="searchIdKeyWord" (keyup)="partyIdSearch()" list="idList"
                    [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['partyid'].errors }"
                    (change)='onIdDropDownClick(searchIdKeyWord)'>

                <datalist id="idList">
                    <option *ngFor="let id of allSearchedId" [value]="id">{{id}}
                    </option>
                </datalist>
            </div>
        </div>
        <div *ngIf="issubmitted && createPocForm.controls['partyid'] && !createPocForm.controls['partyid'].valid">
            <span *ngIf="createPocForm.controls['partyid'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    PartyID is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="partyname" class="col-form-label font-weight-bold">Party Name:</label>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="partyname" class="form-control rounded-0" id="partyname"
                    placeholder="Party Name" [(ngModel)]="searchPartyKeyWord" (keyup)="partyNameSearch()"
                    list="nameList" (change)='onNameDropDownClick(searchPartyKeyWord)'
                    [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['partyname'].errors }">
                <datalist id="nameList">
                    <option *ngFor="let name of allSearchedParty">{{name}}</option>
                </datalist>
                <!-- <select>
                    
                </select> -->

            </div>
        </div>
        <div *ngIf="issubmitted && createPocForm.controls['partyname'] && !createPocForm.controls['partyname'].valid">
            <span *ngIf="createPocForm.controls['partyname'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    PartyName is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Party Address:</label>
            </div>
            <div class="col-sm-8">
                <textarea formControlName="partyaddress" class="form-control rounded-0" rows="3" disabled></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Party PO No:</label>
            </div>
            <div class="col-sm-8">
                <input formControlName="ponumber" type="text" class="form-control rounded-0"
                    [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['ponumber'].errors }">
            </div>
        </div>
        <div *ngIf="issubmitted && createPocForm.controls['ponumber'] && !createPocForm.controls['ponumber'].valid">
            <span *ngIf="createPocForm.controls['ponumber'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    PartyPoNo. is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Party PO Date:</label>
            </div>
            <div class="form-inline col-sm-7">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="podate"
                            ngbDatepicker #d="ngbDatepicker" [placement]="placement"
                            [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['podate'].errors }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="issubmitted && createPocForm.controls['podate'] && !createPocForm.controls['podate'].valid">
            <span *ngIf="createPocForm.controls['podate'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    PODate is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Payment Term:</label>
            </div>
            <div class="col-sm-8">
                <input formControlName="paymentterm" type="text" class="form-control rounded-0"
                    [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['paymentterm'].errors }">
            </div>
        </div>
        <div
            *ngIf="issubmitted && createPocForm.controls['paymentterm'] && !createPocForm.controls['paymentterm'].valid">
            <span *ngIf="createPocForm.controls['paymentterm'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    PaymentTerm is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Delivery Basis:</label>
            </div>
            <div class="col-sm-8" [ngClass]="{'col-md-4':createPocForm.controls['deliverybasis'].value=='OTHER'}">
                <select formControlName="deliverybasis" class="custom-select custom-select-md rounded-0"
                    id="deliverybasis">
                    <option selected>Select</option>
                    <option value="EXWORK">EXWORK</option>
                    <option value="FOR">FOR</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </div>
            <div class="col-md-4" *ngIf="createPocForm.controls['deliverybasis'].value=='OTHER'">
                <input formControlName="deliverybasisText" type="text" class="form-control rounded-0">
            </div>
        </div>
        <div
            *ngIf="issubmitted && createPocForm.controls['deliverybasis'] && !createPocForm.controls['deliverybasis'].valid">
            <span *ngIf="createPocForm.controls['deliverybasis'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    DeliveryBasis is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Order Confirmation Date:</label>
            </div>
            <div class="form-inline col-sm-5">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="ddp" formControlName="ordercnfdate"
                            ngbDatepicker #ddp="ngbDatepicker" [placement]="placement"
                            [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['ordercnfdate'].errors }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="ddp.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            *ngIf="issubmitted && createPocForm.controls['ordercnfdate'] && !createPocForm.controls['ordercnfdate'].valid">
            <span *ngIf="createPocForm.controls['ordercnfdate'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    OrderDate is required
                </div>
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Delivery Date:</label>
            </div>
            <div class="form-inline col-sm-5">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="ddt" formControlName="deliverydate"
                            ngbDatepicker #ddt="ngbDatepicker" [placement]="placement"
                            [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['deliverydate'].errors }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="ddt.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            *ngIf="issubmitted && createPocForm.controls['deliverydate'] && !createPocForm.controls['deliverydate'].valid">
            <span *ngIf="createPocForm.controls['deliverydate'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    DeliveryDate is required
                </div>
            </span>
        </div>


        <div class="row" *ngIf="!isNext">
            <div class="col-md-11">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onSubmit()"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Save & Next
                            </span></span>
                    </button>
                </div>
            </div>
        </div>


        <div class="row" *ngIf="isNext">
            <div class="col-md-8">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onUpdate()"
                        (click)="pochemcomp=!pochemcomp;poproducttab=!poproducttab"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Update
                            </span></span>
                    </button>
                </div>


            </div>
            <div class="col-md-3">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onNext()"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Next
                            </span></span>
                    </button>
                </div>


            </div>
        </div>
        <!-- <div class="row" *ngIf="isNext">
            <div class="col-md-8">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onUpdate()"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Update
                            </span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onNext()"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Next
                            </span></span>
                    </button>
                </div>
            </div>
        </div> -->

    </form>

    <form [formGroup]="porderForm" class="col-md-8" *ngIf="poproducttab">




        <div class="row form-group">
            <div class="col-md-3">
                <label class="col-form-label font-weight-bold">Process Type:</label>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input (change)="resetOrderForm('forging')" name="processtype" formControlName="processtype"
                        value="forging" class="form-check-input" type="radio" id="inlineRadio1"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['processtype'].errors }" disabled>
                    <label class="form-check-label" for="inlineRadio1">FORGING</label>
                </div>
                <div class="form-check form-check-inline">
                    <input (change)="resetOrderForm('rollcasting')" name="processtype" formControlName="processtype"
                        value="rollcasting" class="form-check-input" type="radio" id="inlineRadio2"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['processtype'].errors }">
                    <label class="form-check-label" for="inlineRadio2">ROLL CASTING</label>
                </div>
            </div>


        </div>
        <div *ngIf="isAdd && porderForm.controls['processtype'] && !porderForm.controls['processtype'].valid">
            <span *ngIf="porderForm.controls['processtype'].hasError('required') ">
                <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                    ProcessType is required
                </div>
            </span>
        </div>
        <div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Grade:</label>
                </div>
                <div class="col-sm-8">
                    <select *ngIf="porderForm.controls['processtype'].value=='forging'" formControlName="grade"
                        class="custom-select custom-select-md rounded-0" id="grade"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['grade'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let grade of forgingGrades" [ngValue]="grade">{{grade}}</option>
                        <!-- <option value="2">CHILLS</option>
                        <option value="3">SG-IRON</option>
                        <option value="4">Others</option> -->


                    </select>


                    <select *ngIf="porderForm.controls['processtype'].value=='rollcasting'" formControlName="grade"
                        class="custom-select custom-select-md rounded-0" id="grade"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['grade'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let grade of rollcastingGrades" [ngValue]="grade">{{grade}}</option>
                        <!-- <option value="2">RollGrade2</option>
                        <option value="3">RollGrade3</option>
                        <option value="4">RollGrade4</option> -->


                    </select>
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['grade'] && !porderForm.controls['grade'].valid">
                <span *ngIf="porderForm.controls['grade'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Grade is required
                    </div>
                </span>
            </div>
            <div class="row form-group" *ngIf="porderForm.controls['processtype'].value!=null">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Product Type:</label>
                </div>
                <div class="col-sm-8">
                    <select *ngIf="porderForm.controls['processtype'].value=='forging'" formControlName="producttype"
                        class="custom-select custom-select-md rounded-0" id="forgpotype"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['producttype'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let producttype of forgingPtype" [ngValue]="producttype">{{producttype}}
                        </option>



                    </select>

                    <select *ngIf="porderForm.controls['processtype'].value=='rollcasting'"
                        formControlName="producttype" name="producttype"
                        class="custom-select custom-select-md rounded-0" id="Dropdown2"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['producttype'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let producttype of rollcastingPtype" [ngValue]="producttype">
                            {{producttype}}</option>
                        <!-- <option value="2">BEARING</option>
                        <option value="3">SHAPER</option>
                        <option value="4">OTHERS</option> -->

                    </select>



                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['producttype'] && !porderForm.controls['producttype'].valid">
                <span *ngIf="porderForm.controls['producttype'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Product Type is required
                    </div>
                </span>
            </div>
            <!-- <div class="row form-group" *ngIf="porderForm.controls['producttype'].value=='4' &&
                porderForm.controls['processtype'].value=='rollcasting'">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Remarks:</label>
                </div>
                <div class="col-sm-8">
                    <textarea type="text" formControlName="remark" class="form-control rounded-0" id="remarks" rows="4"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['remark'].errors }"></textarea>
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['remark'] && !porderForm.controls['remark'].valid">
                <span *ngIf="porderForm.controls['remark'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Remark Type is required
                    </div>
                </span>
            </div> -->
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Item Type:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-check form-check-inline">
                        <input name="itemtype" (change)="OnItemTypeChange('rolls')" formControlName="itemtype"
                            value="rolls" class="form-check-input" type="radio" id="inlineRadio1">
                        <label class="form-check-label" for="inlineRadio1">ROLLS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="itemtype" (change)="OnItemTypeChange('steproll')" formControlName="itemtype"
                            value="steproll" class="form-check-input" type="radio" id="inlineRadio2">
                        <label class="form-check-label" for="inlineRadio1">STEP ROLLS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="itemtype" (change)="OnItemTypeChange('reel')" formControlName="itemtype"
                            value="reel" class="form-check-input" type="radio" id="inlineRadio3">
                        <label class="form-check-label" for="inlineRadio1">REEL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="itemtype" (change)="OnItemTypeChange('other')" formControlName="itemtype"
                            value="other" class="form-check-input" type="radio" id="inlineRadio4">
                        <label class="form-check-label" for="inlineRadio1">OTHER</label>
                    </div>
                </div>


            </div>
            <ng-container *ngIf="toggleForm">
                <div formGroupName="dimensionForm" class="row form-group"
                    *ngIf="porderForm.controls['itemtype'].value!=null">



                    <div class="col-md-3">
                        <label class="col-form-label font-weight-bold">Dimension:</label>
                    </div>
                    <div class="col-md-8" *ngIf="porderForm.controls['itemtype'].value=='rolls'">


                        <div class="row pl-1 ml-2">

                            <div class="col-sm-2 pl-0 pr-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BD</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BD" placeholder="BD"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BL</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BL" placeholder="BL"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">JD</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="JD" placeholder="JD"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">JL1</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="JL1" placeholder="JL1"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">JL2</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="JL2" placeholder="JL2"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 ml-0 pl-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">TL</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="TL" placeholder="TL"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div *ngIf="porderForm.controls['itemtype'].value=='steproll'" class="col-md-8">
                        <div class="row pl-1 ml-2">

                            <div class="col-sm-2 pl-0 pr-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BD1</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BD1" placeholder="BD1"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BL1</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BL1" placeholder="BL1"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BD2</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BD2" placeholder="BD2"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">BL2</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="BL2" placeholder="BL2"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">JD</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="JD" placeholder="JD"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 ml-0 pl-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">JL</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="JL" placeholder="JL"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pr-0 ml-0 pl-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label col-sm-6 pl-4">TL</label>
                                    <div class="col-sm-8 pl-1 pr-1">
                                        <input type="number" formControlName="TL" placeholder="TL"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="porderForm.controls['itemtype'].value=='reel'" class="col-md-8">
                        <div class="row pl-2">
                            <div class="col-sm-4 pl-0 pr-0 mr-0">
                                <div class="row">
                                    <label class="col-form-label pl-4">OD</label>
                                    <div class="col-sm-7 pl-1">
                                        <input type="number" formControlName="OD" placeholder="OD"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label pl-4">ID</label>
                                    <div class="col-sm-7 pl-1">
                                        <input type="number" formControlName="ID" placeholder="ID"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4 pr-0 mr-0 pl-0 ml-0">
                                <div class="row">
                                    <label class="col-form-label pl-4">FACE</label>
                                    <div class="col-sm-7 pl-1">
                                        <input type="number" formControlName="Face" placeholder="FACE"
                                            class="form-control rounded-0" (keyup)="calculateWeight()">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div *ngIf="porderForm.controls['itemtype'].value=='other'" class="col-md-8">
                        <input type="text" formControlName="OTHER" class="form-control rounded-0">
                    </div>
                </div>
            </ng-container>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Quantity:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" max="20" min="1" maxlength="2" formControlName="quantity"
                        class="form-control rounded-0"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['quantity'].errors }"
                        (keyup)="onlyNumbers($event.target.value)">
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['quantity'] && !porderForm.controls['quantity'].valid">
                <span *ngIf="porderForm.controls['quantity'].hasError('max') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Number between 1 to 20
                    </div>
                </span>
                <span *ngIf="porderForm.controls['quantity'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Quantity is required
                    </div>
                </span>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Unit Of Measurement:</label>
                </div>
                <div class="col-sm-8">
                    <select formControlName="uom" class="custom-select custom-select-md rounded-0" id="uom"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['uom'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let uom of unitOfMeasurement" [ngValue]="uom">
                            {{uom}}</option>
                        <!-- <option value="1">Per-KG</option>
                        <option value="2">Per-Piece</option>
                        <option value="3">Per-Mtr</option> -->


                    </select>
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['uom'] && !porderForm.controls['uom'].valid">
                <span *ngIf="porderForm.controls['uom'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Uom is required
                    </div>
                </span>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Price Per UOM:</label>
                </div>
                <div class="col-sm-8">
                    <input formControlName="priceperuom" type="text" class="form-control rounded-0" id="priceuom"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['priceperuom'].errors }">
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['priceperuom'] && !porderForm.controls['priceperuom'].valid">
                <span *ngIf="porderForm.controls['priceperuom'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        PricePerUom is required
                    </div>
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Weight Per Piece:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" formControlName="weightperpiece" class="form-control rounded-0"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['weightperpiece'].errors }">
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['weightperpiece'] && !porderForm.controls['weightperpiece'].valid">
                <span *ngIf="porderForm.controls['weightperpiece'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        PricePerUom is required
                    </div>
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Weight + (0 - 5%)</label>
                </div>
                <div class="col-md-4">
                    <select class="custom-select custom-select-md rounded-0" formControlName="weightpercent"
                        id="weightpercent" (change)="OnPerChange()">
                        <option selected>Select</option>
                        <option *ngFor="let weightpercent of weightpercentage" [ngValue]="weightpercent">
                            {{weightpercent}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input formControlName="weightWithPerc" type="text" class="form-control rounded-0" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Remark:</label>
                </div>
                <div class="col-sm-8">
                    <input formControlName="remark" type="text" class="form-control rounded-0" id="remark"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['remark'].errors }">
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['remark'] && !porderForm.controls['remark'].valid">
                <span *ngIf="porderForm.controls['remark'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Remark is required
                    </div>
                </span>
            </div>
            <div class="form-group row" *ngIf="porderForm.controls['processtype'].value!=null">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Required Hardness:</label>
                </div>
                <div class="col-sm-8">
                    <input *ngIf="porderForm.controls['processtype'].value=='forging'" formControlName="reqhardness"
                        type="text" class="form-control rounded-0"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['reqhardness'].errors }">

                    <select *ngIf="porderForm.controls['processtype'].value=='rollcasting'"
                        formControlName="reqhardness" class="custom-select custom-select-md rounded-0" id="reqhardness"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['reqhardness'].errors }">
                        <option selected>Select</option>
                        <option value="35-40">35-40</option>
                        <option value="40-45">40-45</option>
                        <option value="45-50">45-50</option>
                        <option value="50-55">50-55</option>
                        <option value="55-60">55-60</option>
                        <option value="60-65">60-65</option>
                        <option value="65-70">65-70</option>
                        <option value="70-75">70-75</option>
                        <option value="75-80">75-80</option>
                    </select>
                </div>
            </div>
            <div *ngIf="isAdd && porderForm.controls['reqhardness'] && !porderForm.controls['reqhardness'].valid">
                <span *ngIf="porderForm.controls['reqhardness'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Req. Hardness is required
                    </div>
                </span>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Chemical Composition:</label>
                </div>
                <div class="col-sm-8">
                    <select formControlName="chemicalcomp" class="custom-select custom-select-md rounded-0"
                        id="chemcomp" [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['chemicalcomp'].errors }">
                        <option selected>Select</option>
                        <option *ngFor="let chemicalcomp of chemcompList" [ngValue]="chemicalcomp">
                            {{chemicalcomp}}</option>
                        <!-- <option value="2">ChemCom2</option>
                        <option value="3">ChemCom3</option>
                        <option value="4">ChemCom4</option> -->


                    </select>
                </div>



            </div>
            <div *ngIf="isAdd && porderForm.controls['chemicalcomp'] && !porderForm.controls['chemicalcomp'].valid">
                <span *ngIf="porderForm.controls['chemicalcomp'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Chemicalcomp is required
                    </div>
                </span>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label class="col-form-label font-weight-bold">Upload Drawing:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control" formControlName="productimg" type='file'
                        (change)="handleFileSelect($event);"
                        [ngClass]="{ 'is-invalid': isAdd && porderForm.controls['productimg'].errors }" />
                </div>

            </div>
            <div *ngIf="isAdd && porderForm.controls['productimg'] && !porderForm.controls['productimg'].valid">
                <span *ngIf="porderForm.controls['productimg'].hasError('required') ">
                    <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">
                        Image is required
                    </div>
                </span>
            </div>


        </div>
        <!-- <div *ngIf="porderForm.controls['processtype'].value=='rollcasting'">
               
                 <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Grade:</label>
                            </div>
                        <div class="col-sm-5">
                                <select formControlName="grade" class="custom-select custom-select-md rounded-0" id="grade">
                                        <option selected>Select</option>
                                        <option value="1">ADAMITS</option>
                                        <option value="2">CHILLS</option>
                                        <option value="3">SG-IRON</option>
                                        <option value="4">Others</option>
                                        
                                        
                                </select>
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Product Type:</label>
                            </div>
                        <div class="col-sm-5">
                                <select formControlName="producttype" name="producttype" class="custom-select custom-select-md rounded-0"  id="Dropdown2">
                                        <option selected>Select</option>
                                        <option value="1">GROOVE</option>
                                        <option value="2">BEARING</option>
                                        <option value="3">SHAPER</option>
                                        <option value="4">OTHERS</option>
                                        
                                </select>
                        </div>
                </div>
                
                <div class="row form-group" *ngIf="porderForm.controls['producttype'].value=='4'">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Remarks:</label>
                            </div>
                        <div class="col-sm-5">
                                <textarea type="text" formControlName="remark"  class="form-control rounded-0" id="remarks" rows="4"></textarea>
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Size:</label>
                            </div>
                        <div class="col-sm-5">
                                <input formControlName="size" type="text" class="form-control rounded-0" id="size">
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Unit Of Measurement:</label>
                            </div>
                        <div class="col-sm-5">
                                <select formControlName="uom" class="custom-select custom-select-md rounded-0" id="uom">
                                        <option selected>Select</option>
                                        <option value="1">Per-KG</option>
                                        <option value="2">Per-Piece</option>
                                        <option value="3">Per-Mtr</option>
                                        
                                        
                                </select>
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Price Per UOM:</label>
                            </div>
                        <div class="col-sm-5">
                                <input formControlName="priceperuom" type="text" class="form-control rounded-0" id="priceuom">
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Required Hardness:</label>
                            </div>
                        <div class="col-sm-5">
                                <select formControlName="reqhardness" class="custom-select custom-select-md rounded-0" id="reqhardness">
                                        <option selected>Select</option>
                                        <option value="1">35-40</option>
                                        <option value="2">40-45</option>
                                        <option value="3">45-50</option>
                                        <option value="3">50-55</option>
                                        
                                        
                                </select>
                        </div>
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Chemical Composition:</label>
                            </div>
                        <div class="col-sm-5">
                                <select formControlName="chemicalcomp" class="custom-select custom-select-md rounded-0" id="chemcomp">
                                        <option selected>Select</option>
                                        <option value="1">ChemCom1</option>
                                        <option value="2">ChemCom2</option>
                                        <option value="3">ChemCom3</option>
                                        <option value="4">ChemCom4</option>
                                        
                                        
                                </select>
                                <div class="invalid-feedback helptext">
                                        Couldn't find Chemical Composition? <a href="#" class="btn-link">Click here</a> to add new Composition.
                                </div>
                        </div>
                        
                        
                        
                </div>
                <div class="row form-group">
                        <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Upload Drawing:</label>
                            </div>
                        <div class="col-sm-5">
                                <input class="form-control" type='file' formControlName="productimg" (change)="readURL($event);" />
                        </div>
                        
                </div>
               
               
        </div> -->



        <div class="row">
            <div class="col-md-4">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;"
                        (click)="pobasictab=true;poproducttab=false;pochemcomp=false;showpolist=false"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Back
                            </span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;" (click)="onclear()"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Reset
                            </span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row pull-right">
                    <!-- <button *ngIf="!isUpdate" type="button" style=" width: 60px;height: 37.5px;"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span style="font-size: 18px;"> {{counter}}
                        </span><button (click)="onPlusClick($event);$event.stopPropagation()"><span aria-hidden="true"
                                class="fa fa-plus "></span></button>
                    </button> -->
                    <button *ngIf="!isUpdate" type="button" (click)="upload()" style=" width: 130px;height: 37.5px;"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Save & Next
                            </span></span>
                    </button>
                    <button *ngIf="isUpdate" (click)="UpdateImage()" type="button" style=" width: 130px;height: 37.5px;"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span style="padding-left: 8px; font-size: 18px;"> Update
                        </span>
                    </button>
                </div>

            </div>
            <!-- <div class="col-md-4">
                <div class="row pull-right">
                    <button type="button" (click)="onSubmit()" style=" width: 130px;height: 37.5px;"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Save & Next
                            </span></span>
                    </button>
                </div>

            </div> -->

        </div>

        <!--     
    <div>
            <div *ngIf="imageSrc">
                    <img class="productImage" id="blah" [src]="imageSrc || 'http://placehold.it/180'" alt="preview" height="200" width="250"/>
    </div>
            
    </div> -->
    </form>
    <div name="chemComform" class="col-md-8" *ngIf="pochemcomp">

        <div class="row form-group">




        </div>


        <div class="row col-md-7 pr-0">
            <div class="col-md-6">
                <div class="row pull-left">
                    <button type="button" style=" width: 130px;height: 37.5px;"
                        (click)="pochemcomp=!pochemcomp;poproducttab=!poproducttab"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Back1
                            </span></span>
                    </button>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row pull-right">
                    <button type="button" style=" width: 130px;height: 37.5px;"
                        class="closet btn btn-info rounded-0 mybtn">
                        <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                                Save Order
                            </span></span>
                    </button>
                </div>


            </div>


        </div>
    </div>
    <div class="col-md-4 po-list-div pd-0" *ngIf="showpolist">
        <div class="polist" *ngFor="let order of poProductList;let i=index">
            <div class="row pl-2 pull-right">
                <div class="card pr-0" style="width: 400px; height:200px; font-size: 13px; margin-bottom: 30px">
                    <div class="card-title">
                        <div class="d-flex justify-content-between" style="font-size: 15px;">
                            <div class="pull-left pl-1 ml-1">
                                <div class="index">{{i+1}}</div>
                            </div>
                            <div class="pull-right">
                                <span class="fa fa-pencil pl-1 pr-1" (click)="onEdit(order)"></span>&nbsp;
                                <span class="fa fa-trash pl-1 pr-1" (click)="onRemove(order)"
                                    data-target="#delete"></span>
                            </div>
                        </div>

                    </div>
                    <div class="card-body pt-2">
                        <div class="row pl-3">
                            <div class="col-md-6 pl-0 pr-0">
                                <span><strong>Process Type:</strong></span><span>{{order.processtype}}</span><br />
                                <span>
                                    <strong>Product Type:</strong></span><span>{{order.producttype}}</span><br />
                                <span><strong>Item Type:</strong></span><span>{{order.itemtype}}</span><br />

                                <span> <strong>Price Per UOM:</strong></span><span>{{order.priceperuom}}</span><br />

                                <span> <strong>Unit Of Material:</strong></span><span>{{order.uom}}</span><br />
                            </div>
                            <div class="col-md-6 pl-1 pr-0">
                                <span><strong>Grade:</strong></span><span>{{order.grade}}</span>
                                <br />
                                <span> <strong>Remark:</strong></span><span>{{order.remark}}</span><br />
                                <span> <strong>Quantity:</strong></span><span>{{order.quantity}}</span><br />

                                <span> <strong>Weight Per
                                        Piece:</strong></span><span>{{order.weightperpiece}}</span><br />
                            </div>
                        </div>
                        <div class="row pl-3">
                            <span> <strong>Chemical
                                    Composition:</strong></span><span>{{order.chemicalcomp}}</span><br />
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 pl-0 pr-0"> <strong>Dimension:</strong></div>
                                    <div class="col-md-9 pl-4">
                                        <div class="row">
                                            <span *ngFor="let title of order.dimensionForm | keyvalue ">{{title.key}}
                                                :{{title.value}} &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
            </div>
        </div>
    </div>


</div>

<div class="row" *ngIf="!poadddiv">
    <div *ngFor="let poc of allPocList |filter:search" class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-header" style="background: #17a2b8;">
                <div class="row">
                    <div class="col-sm-10 mt-1">
                        <span class="font-weight-bold" style="color:white"> {{poc.centerName | uppercase }}</span>
                    </div>
                    <div class="col-sm-1">
                        <a (click)="onPocView(poc)"><i class="fa fa-pencil-square-o"
                                style="font-size: 28px;color: #fff;" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-1">
                        <a (click)="onPocDelete(poc)"><i class="fa fa-trash-o" style="font-size: 28px;color: #fff;"
                                aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Door No</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.doorNo}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Street Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.streetName}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Area</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.area}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">City</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.city}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">PinCode</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.pinCode}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Location</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.address}}</p>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this
                                    poc?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="onPocDeleteConform()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div>
                    <div class="card-footer text-muted">
                            <button type="button" class="btn btn-primary btn-sm rounded-0 mr-2" style="width: 100px" >Update</button>
                            <button type="button" class="btn btn-secondary btn-sm  rounded-0"  style="width: 100px">Delete</button>
                    </div>
                </div>     -->
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="orderPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="justify-content-center">
                    <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Preview Order</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend><b>Basic Details</b> </legend>
                    <label class="col-form-label font-weight-bold">Party Code: </label>
                    <label>Value</label><br />
                    <label>Party Code: </label><label>Value</label><br />
                    <label>Party Code: </label><label>Value</label><br />
                    <label>Party Code: </label><label>Value</label><br />
                    <label>Party Code: </label><label>Value</label><br />
                    <label>Party Code: </label><label>Value</label>
                </fieldset>
                <fieldset>
                    <legend><b>Products List</b> </legend>
                    <label> <br /> </label>
                    <label> <br /> </label>
                </fieldset>
                <fieldset>
                    <legend><b>Additional Details</b> </legend>
                    <label> <br /> </label>
                    <label> <br /> </label>
                </fieldset>
            </div>
            <div class="modal-footer justify-content-center">
                <!-- 
                  <div *ngIf="roleUpdate; else roleUpdateFalse"> -->
                <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal"
                    style="width: 115px;">Cancel</button>
                <button class="btn btn-primary  rounded-0">Update</button>
                <!-- 
      
                  </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this
                    PoProduct?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary  rounded-0" (click)="onDeletePoProduct()">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- getProductDetails -->
<div class="card  mt-2" *ngIf="!poadddiv">
    <div class="card-body">
        <p-dataTable [value]="allPoDetailList| filter:search" selectionMode="single" [paginator]="true" [rows]="15"
            [responsive]="true" [immutable]="false" (onRowSelect)="showProductTable($event)">
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }"></p-column>
            <!-- <div>{{col|json}}</div> -->
        </p-dataTable>
    </div>
</div>
<!-- <div *ngIf="poProductTable"> -->
<h3 *ngIf="poProductTable">
    <b style="color: blue;">{{displayId}}</b>&nbsp;|&nbsp; {{displayName}}
</h3>
<!-- </div> -->
<!-- convertPoDetailsExcel -->
<button *ngIf="!poadddiv" type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<button *ngIf="poProductTable" type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
    (click)="convert();"><span style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<button *ngIf="poProductTable" type="button" style="float: right; width: 150px;height: 37.5px;"
    class="closet btn btn-info rounded-0" (click)="HidePoDiv();"><span
        style="padding-left: 8px; font-size: 18px;">Back</span>
</button>
<div class="card  mt-2" *ngIf="poProductTable">
    <div class="card-body">
        <p-dataTable [value]="poProductList| filter:search" selectionMode="single" [paginator]="true" [rows]="15"
            [responsive]="true" [immutable]="false" (onRowSelect)="getProductDetails()">
            <p-column field="grade" header="Grade" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="col.field =='grade'?(colorMap[transaction[col.field]]):null"><b>{{transaction[col.field]}}</b></span>
                </ng-template>
            </p-column>
            <p-column *ngFor="let col of pocols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }"></p-column>
            <p-column field="height" header="Quantity/Dispatched" [style]="{'text-align': 'center'}">
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <span>
                        {{user['quantity'] +' / ' + (user['dispatchedQuantity'])}}
                    </span>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Prod. Image" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <img src={{data.productimg}} ngxViewer style="height:30px;width: 50px;"
                        (click)="$event.stopPropagation();" />
                    <!-- <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="previewImage(index)" data-target="#previewImage">Preview</button> -->
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<button *ngIf="poProductTable" type="button" style=" width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convert();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<div class="row" *ngIf="poProductTable && poProductList.length<1">
    <div class="col-md-11">
        <div class="row pull-right">
            <button type="button" style=" width: 130px;height: 37.5px;" (click)="getProductDetails()"
                class="closet btn btn-info rounded-0 mybtn">
                <span aria-hidden="true" class="fa fa-next "><span style="padding-left: 8px; font-size: 18px;">
                        Next
                    </span></span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="previewImage" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content" style="width: 652px;
        height: 502px;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{this.image}}" width="623px" height="370px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>