.primary{
    color: #1DC8D5;
    clear: both;
    padding-top: 20px;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif", "Open Sans",sans-serif;
    
}
.f2-font{
    color: #828282;    
    font-size: 14px !important;
    line-height: 1.5;
    color: #343434;
    background-color: #fff;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif","Open Sans",sans-serif;
}