<p-dataTable [value]="existPatientObjectQueue" selectionMode="single" (onRowSelect)="onRowSelect($event)"
  [paginator]="true" [rows]="7" [responsive]="true" [sortField]="sortF" [immutable]="false"
  (onSort)="changeSort($event)">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
  <!-- <p-column styleClass="col-button"> -->

  <!-- <ng-template pTemplate="header">
      Payment
    </ng-template>
   
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;" >
      <div class="my-center-text">
        <button type="submit" class="btn btn-primary rounded-0 ml-4" [class.btn-info]= "data.patientMobile!==statusChange" pButton  style="text-align: center; width: 110px; height: 30px;" >Pay Now</button>
       </div>

    </ng-template>
  </p-column> -->
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>

    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <button class='btn btn-info rounded-0' (click)="valueChanged(data)"
          style="text-align: center; width: 110px; height: 30px; padding: 3px;" [disabled]='data.presentQueueType != 1'>Investigate</button>

      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>

    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <button class='btn btn-info rounded-0' style="text-align: center; width: 110px; height: 30px; padding: 3px;"
          (click)="goToDoctor(data)" [disabled]='data.presentQueueType != 1'>Go to Sr.doctor</button>

      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>

    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <button class='btn btn-info rounded-0' style="text-align: center; width: 110px; height: 30px; padding: 3px;"
          (click)="goToManger(data)" [disabled]='data.presentQueueType != 1'>Go to Manager</button>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>

    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <button class='btn btn-info rounded-0' style="text-align: center; width: 110px; height: 30px; padding: 3px;"
          (click)="goToDiagnostics(data)" [disabled]='data.presentQueueType != 1'>GotoDiagnostics</button>
      </div>
    </ng-template>
  </p-column>

</p-dataTable>
