
<p-dataTable
[value]="reciveTableData"
selectionMode="single"
(onRowSelect)="onRowSelect($event)"
[paginator]="true"
[rows]="7"
[responsive]="true"
[sortField]="sortF"
[immutable]="false"
(onSort)="changeSort($event)"
>
<p-column
  *ngFor="let col of cols"
  [field]="col.field"
  [header]="col.header"
  [sortable]="true"
></p-column>
<p-column styleClass="col-button">
  <ng-template pTemplate="header">
    Action
  </ng-template>
  <ng-template let-data="rowData" pTemplate="body" style="text-align: center;" >
    <div class="my-center-text">
    <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Go To Doctor</span><span *ngIf="data.patientMobile!==statusChange">Go To Doctor</span></button> -->
    <button class="btn btn-info" (click)='navigateComponent()'>Payment</button>
     </div>
  </ng-template>
</p-column>
</p-dataTable>
