<ng-template #content let-modal let-d="dismiss">
	<form role="form" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
		<div class="modal-title modal-title1 ">
			<span style="padding-top:14px;">Enter Patient Details</span>
			<button style="padding:0px; font-size:30px;" type="button" class="close" aria-label="Close"
				(click)="dismisModel()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body1">
			<div>
				<!-- <div class="form-row">
					<div class="form-group col-lg-12">
						<label for="PatinetId" class="head">PatientId <sup class="star">*</sup></label>
						<input style="height:35px;border-radius:2px;" type="text" class="form-control" id="inputFName"
							placeholder="Entre PatinetId" formControlName="PatinetId" name="PatinetId">
					</div>
				</div> -->
				<div class="form-row">
					<div class="form-group  col-lg-12">
						<label for="inputPhone" class="head">Enter Mobile Number
							<sup class="star">*</sup></label>
						<input type="text" style="height:35px;border-radius:2px;" class="form-control"
							id="input Mobile Number" placeholder="Enter your Phone Number"
							formControlName="mobileNumber" name="mobileNumber" (keyup)="onKeyup($event)"
							[ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" maxlength="10"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					</div>
					<div *ngIf="loader" class="loader"></div>
				</div>
				<div
					*ngIf="submitted && patientForm.controls['mobileNumber'] && !patientForm.controls['mobileNumber'].valid">
					<span *ngIf="patientForm.controls['mobileNumber'].hasError('required') ">
						<div style="color: red; font-size: 12px; margin-top: -4px;">Mobile Number is required </div>
					</span>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-12">
						<label for="inputFName" class="head">First Name <sup class="star">*</sup></label>
						<input style="height:35px;border-radius:2px;" type="text" class="form-control" id="inputFName"
							[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
							placeholder="Entre your First Name" formControlName="firstName" name="firstName"
							maxlength="30">
					</div>
				</div>
				<div *ngIf="submitted && patientForm.controls['firstName'] && !patientForm.controls['firstName'].valid">
					<span *ngIf="patientForm.controls['firstName'].hasError('required') ">
						<div style="color: red; font-size: 12px;  margin-top: -4px;">First name is required </div>
					</span>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-12">
						<label for="inputLName" class="head">Last Name <sup class="star">*</sup></label>
						<input style="height:35px; border-radius:2px;" type="text" class="form-control" id="inputLName"
							[ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
							placeholder="Enter your Last Name" formControlName="lastName" name="lastName"
							maxlength="20">
					</div>
				</div>
				<div *ngIf="submitted && patientForm.controls['lastName'] && !patientForm.controls['lastName'].valid">
					<span *ngIf="patientForm.controls['lastName'].hasError('required') ">
						<div style="color: red; font-size: 12px;  margin-top: -4px;">Last name is required </div>
					</span>
				</div>
				<div class="form-group" *ngIf='existphone'>
					<label class="head">Last Visited Date:</label><span class="ml-2">{{lastVisitedDate1}}</span>
				</div>
				<div class="form-group">
					<span class="head">What is your age? <sup class="star">*</sup></span>
					<div style="padding-top:5px;">
						<span style="font-size: 14px;"> <input name="agebutton" type="radio" id="radioDOB"
								value="radioDOB" (click)="onDobSelection()" class="head" [disabled]="radioDOB1"
								[checked]="isChecked">Date of
							Birth </span>

						<span style="padding-left:20px; font-size: 14px;"> <input name="agebutton" type="radio"
								id="radioAge" value="radioAge" (click)="onAgeSelection()" class="head"
								[disabled]="radioAge1" [checked]="isChecked1">Age </span>
					</div>
				</div>
				<div *ngIf="dobSelected">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="ngbDatepicker" style="font-size: 12px;">Enter your date of birth</label>
							<form class="form-inline">
								<div class="form-group">
									<div class="input-group">
										<input style="height: 35px;" class="form-control rounded-0"
											placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
											[dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
										<div class="input-group-append">
											<button style="height: 35px;"
												class="btn btn-outline-secondary calendar custtomcal"
												(click)="d.toggle()" type="button"></button>
										</div>
									</div>
								</div>
							</form>
							<ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
								let-disabled="disabled" let-focused="focused">
								<span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
									[class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
									[class.text-muted]="disabled">
									{{ date?.day }}
								</span>
							</ng-template>
						</div>
					</div>
				</div>
				<!-- <div *ngIf="submitted && patientForm.controls['agebutton'] && !patientForm.controls['agebutton'].valid">
					<span *ngIf="patientForm.controls['agebutton'].hasError('required') ">
						<div style="color: red; font-size: 12px;  margin-top: -4px;">DOB is required </div>
					</span>
				</div> -->
				<div *ngIf="ageSelected" style="margin-left: 6px;">
					<span style="font-size:12px;">Enter your age</span>
					<div class="form-group form-row ">
						<input style="height: 35px; border-radius: 2px;" type="text" class="form-control col-sm-10"
							placeholder="Enter your age in years" formControlName="age" name="age"
							[ngClass]="{ 'is-invalid': submitted && f.age.errors }" maxlength="10"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						<span class="para"> Years </span>
						<!-- &nbsp;&nbsp;
						<input style="height: 35px;" type="number"
							class="form-control form-control-sm col-sm-4 rounded-0" placeholder="" formControlName="age"
							name="age">
						<span class="para">Months </span> -->
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-12">
						<label class="head">Email id</label>
						<input style="height:35px;border-radius:2px;" type="email" class="form-control" id="inputEmail"
							[ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" placeholder="Enter your Email"
							formControlName="emailId" name="emailId">
					</div>
				</div>
				<div *ngIf="submitted && patientForm.controls['emailId'] && !patientForm.controls['emailId'].valid">
					<span *ngIf="patientForm.controls['emailId'].hasError('required') ">
						<div style="color: red; font-size: 12px;  margin-top: -4px;">Email ID is needed</div>
					</span>
					<span *ngIf="patientForm.controls['emailId'].hasError('email') ">
						<div style="color: red; font-size: 12px; margin-top: -4px;"> Invalid Email ID</div>
					</span>
				</div>
				<div class="form-row" style="height:22px;">
					<div class="form-group col-lg-12">
						<label class="head">Gender<sup class="star">*</sup></label>
					</div>
				</div>
				<div class="form-row">
					<div class="genderContainer">
						<div class="row">
							<div class="col-sm-3">
								<span [ngClass]="maleGenderActive ? 'maleActive' : 'maleInActive'"
									(click)="genderActive($event)" value="Male" id="Male"></span> <br>
								<p style="margin-left: 18px;">Male</p>
							</div>

							<div class="col-sm-3">
								<span [ngClass]="feMaleGenderActive ? 'feMaleActive' : 'feMaleInActive'"
									(click)="genderActive($event)" value="FeMale" id="FeMale"></span><br>
								<p style="margin-left: 14px;">FeMale</p>
							</div>

							<div class="col-sm-3">
								<span [ngClass]="otherGenderActive ? 'otherGenderActive' : 'otherGenderInActive'"
									(click)="genderActive($event)" value="Other" id="Other"></span> <br>
								<p style="margin-left: 14px;">Others</p>
							</div>
							<div class="col-sm-3">
								<div class="snapshot" *ngIf="webcamImage">
									<img [src]="webcamImage?.imageAsDataUrl"
										style="width: 60px; height: 65px; margin-top:6px; border-radius:50%" />
									<p style="margin-left: 14px;">photo</p>
								</div>
								<div class="snapshot" *ngIf="imageicon && !webcamImage">
									<img src="../../assets/images/avatar.png"
										style="width: 60px; height: 65px; margin-top:6px; border-radius:50%" />
									<p style="margin-left: 14px;">photo</p>
								</div>

								<div class="snapshot" *ngIf="existimage">
									<img [src]="imageUrl"
										style="width: 60px; height: 65px; margin-top:6px; border-radius:50%" />
									<p style="margin-left: 14px;">photo</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf= "patientGender" style="margin-top: -5%; margin-bottom: 1%">
					<span style="color: indianred; font-size: 80%;">Please Choose The Gender of Patient</span>
				</div>
				<div *ngIf="newphone">
					<div class="form-row">
						<div class="form-group row col-lg-12">
							<label for="inputFName" class="head col-sm-6 mt-2">Payment Mode</label>
							<select class="custom-select col-sm-6" formControlName="registrationPaymentMode"
								name="registrationPaymentMode" style="height:35px;border-radius:2px;"
								(change)="changePaymentType($event)">
								<option value="" disabled>Choose your paymentmode</option>
								<option *ngFor="let paymentType of PaymentType" [value]="paymentType.value">
									{{paymentType.name}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group row col-lg-12">
							<label for="inputFName" class="head col-sm-6 mt-2">Registration Amount</label>
							<input style="height:35px;border-radius:2px;" type="text" class="form-control col-sm-6"
								id="inputFName" formControlName="registrationFee" name="registrationFee" placeholder="">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-6" style="margin-top: 28px;">
						<button type="button" [disabled]="buttonDisabled"
							class="btn btn-sm btn-danger rounded-0 buttonR " (click)="opencontent()">Capture
							Photo
						</button>
					</div>
					<!-- <div *ngIf="newphone" class="col-sm-4">
						<button style="position: relative" class="btn btn-danger register rounded-0 buttonR"
							(click)="onPayment()">Pay Now</button>
					</div> -->
					<div *ngIf="existphone" class="col-sm-6">
						<button style="position: absolute" class="btn btn-danger register rounded-0 buttonR"
							(click)="createPatientQueue()">Submit</button>
					</div>
					<div *ngIf="newphone" class="col-sm-6">
						<button style="position: absolute" class="btn btn-danger register rounded-0 buttonR">
							Pay & Register</button>
					</div>
				</div>
				<div *ngIf= "imagePhoto" style="margin-top: -3%;">
					<span style="color: indianred; font-size: 95%;">Please Capture The Photo of Patient</span>
				</div>
				<div *ngIf="selectedLink2">
					<div *ngIf="selectedLink3" style="text-align: center;">
						<p>Webcamloading.....</p>
					</div>
				</div>
				<div *ngIf="selectedLink2">
					<div style="text-align:center;">
						<div>
							<!-- <p>{{seconds}}</p> -->
							<webcam [height]="300" [width]="300" [trigger]="triggerObservable"
								(imageCapture)="handleImage($event)" style="width:400px ;height:300px !important">
							</webcam>
							<br />
							<button type="button" id="snapshotBtn" (click)="triggerSnapshot();">Take A
								Snapshot</button>
						</div>
					</div>
					<!-- <div class="snapshot" *ngIf="webcamImage">
						<img [src]="webcamImage.imageAsDataUrl" style="width: 60px; height: 65px;" />
					</div> -->
				</div>

			</div>
		</div>
	</form>
</ng-template>
<div style="position: fixed; right: 15px;">
	<button type="button" style="margin-left:860px;" class="closet btn btn-info rounded-0" aria-label="Close"
		(click)="open(content)">
		<span aria-hidden="true" class="fa fa-plus doct"><span style="padding-left: 8px;">NEW APPOINTMENT</span></span>
	</button>
</div>
<!-- <a class="plus" (click)="open(content)">&#43;</a> -->