app-cc-creation {
    .genderContainer span {

        background: url('../../../../assets/images/sprite.png') no-repeat;
        height: 65px;
        width: 65px;
        display: block;
        float: left;
        margin-right: 25px;
    }

    .genderContainer .maleActive {
        background-position: -61px -149px;
    }

    .genderContainer .maleInActive {
        background-position: -61px -215px;
    }

    .genderContainer .feMaleActive {
        background-position: 6px -149px
    }

    .genderContainer .feMaleInActive {
        background-position: 6px -216px;
    }

    .genderContainer .otherGenderActive {
        background-position: -131px -146px;
    }

    .genderContainer .otherGenderInActive {
        background-position: -131px -215px;
    }

    // Removing number text-box up and down arow increment & deccement icon
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    td,
    th {
        padding: 5px 2px 5px 2px !important;
    }

    td,
    th:nth-child(1) {
        width: 70px !important;
    }

    td,
    th:nth-child(2) {
        width: 150px !important;
    }

    td,
    th:nth-child(5) {
        width: 150px !important;
    }

    td,
    th:nth-child(n+6):not(:last-child) {
        width: 50px !important;
    }

    td,
    th:last-child() {
        width: 110px !important;
    }

}