<!-- Button trigger modal -->
<div class="row">
    <div class="col-sm-8">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control col-sm-5  rounded-0"
            id="formGroupExampleInput" placeholder="Search">
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" style="margin-left:29%; width: 241px;height: 37.5px;"
            class="closet btn btn-info rounded-0" aria-label="Close" data-toggle="modal"
            data-target="#exampleModalCenter" (click)="Onclear()">
            <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Add Chemical Composition</h5>
        </button>
    </div>
    <div class="col-sm-8" *ngIf="chemcompList">Showing <b style="color: blue;">{{listCount}}</b> search results</div>
</div>


<!-- <button type="button" style="margin-left:83.3%; width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
    aria-label="Close" data-toggle="modal" data-target="#exampleModalCenter" (click)="Onclear();">
    <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Add Chemical Composition</h5>
</button> -->
<!-- Create EMp Modal -->
<form [formGroup]="chemcompForm" (ngSubmit)="onSubmit()" id="exampleModalCenter2">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="justify-content-center">
                        <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Create Chemical
                            Composition</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="height" class="col-form-label font-weight-bold">Item Particulars</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="height" class="form-control rounded-0" id="height"
                                placeholder="height" [ngClass]="{ 'is-invalid': issubmitted && f.height.errors }">
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">X</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="width" class="form-control rounded-0" id="width"
                                placeholder="width" [ngClass]="{ 'is-invalid': issubmitted && f.width.errors }">
                        </div>
                    </div>
                    <div *ngIf="issubmitted && ((chemcompForm.controls['height'] && !chemcompForm.controls['height'].valid) 
                        || ((chemcompForm.controls['width'] && !chemcompForm.controls['width'].valid))) ">
                        <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Item
                            particulars are
                            required
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="heatno" class="col-form-label font-weight-bold">Heat. No.</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" formControlName="heatno" class="form-control rounded-0"
                                [ngClass]="{ 'is-invalid': issubmitted && f.heatno.errors }" id="heatno"
                                placeholder="Heat. No.">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['heatno'] && !chemcompForm.controls['heatno'].valid">
                        <span *ngIf="chemcompForm.controls['heatno'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Heat.
                                Number is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="quality" class="col-form-label font-weight-bold">Quality</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="quality" class="form-control rounded-0" id="quality"
                                placeholder="Quality" [ngClass]="{ 'is-invalid': issubmitted && f.quality.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['quality'] && !chemcompForm.controls['quality'].valid">
                        <span *ngIf="chemcompForm.controls['quality'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">Qualtiy
                                is required </div>
                        </span>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="partyname" class="col-form-label font-weight-bold">Party Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="partyname" class="form-control rounded-0" id="partyname"
                                placeholder="PartyName" [ngClass]="{ 'is-invalid': issubmitted && f.partyname.errors }">
                        </div>
                    </div>
                    <div [ngClass]="{ 'is-invalid': issubmitted && f.partyname.errors }"
                        *ngIf="issubmitted && chemcompForm.controls['partyname'] && !chemcompForm.controls['partyname'].valid">
                        <span *ngIf="chemcompForm.controls['partyname'].hasError('required') ">
                            <div style="color:crimson; font-size: 12px; margin-top: -12px; margin-left: 524px;">
                                PartyName
                                is required </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="clientgrade" class="col-form-label font-weight-bold">Client Grade</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="clientgrade" class="form-control rounded-0"
                                id="clientgrade" placeholder="Clientgrade"
                                [ngClass]="{ 'is-invalid': issubmitted && f.clientgrade.errors }">
                        </div>
                    </div>
                    <div [ngClass]="{ 'is-invalid': issubmitted && f.clientgrade.errors }"
                        *ngIf="issubmitted && chemcompForm.controls['clientgrade'] && !chemcompForm.controls['clientgrade'].valid">
                        <span *ngIf="chemcompForm.controls['clientgrade'].hasError('required') ">
                            <div style="color:crimson; font-size: 12px; margin-top: -12px; margin-left: 524px;">
                                Client Grade
                                is required </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="cpercentage" class="col-form-label font-weight-bold"><strong>C
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentagefrom" class="form-control rounded-0"
                                id="cpercentagefrom" placeholder="C %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.cpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentageto" class="form-control rounded-0"
                                id="cpercentageto" placeholder="C %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.cpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['cpercentagefrom'] && !chemcompForm.controls['cpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['cpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">C % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['cpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">C % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['cpercentageto'] && !chemcompForm.controls['cpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['cpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">C % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['cpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">C % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mnpercentage" class="col-form-label font-weight-bold"><strong>Mn
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentagefrom" class="form-control rounded-0"
                                id="mnpercentagefrom" placeholder="Mn %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mnpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentageto" class="form-control rounded-0"
                                id="mnpercentageto" placeholder="Mn %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mnpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mnpercentagefrom'] && !chemcompForm.controls['mnpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['mnpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mn % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mnpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mn % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mnpercentageto'] && !chemcompForm.controls['mnpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['mnpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mn % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mnpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mn % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="sipercentage" class="col-form-label font-weight-bold"><strong>Si
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentagefrom" class="form-control rounded-0"
                                id="sipercentagefrom" placeholder="Si %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.sipercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentageto" class="form-control rounded-0"
                                id="sipercentageto" placeholder="Si %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.sipercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['sipercentagefrom'] && !chemcompForm.controls['sipercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['sipercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Si % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['sipercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Si % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['sipercentageto'] && !chemcompForm.controls['sipercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['sipercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Si % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['sipercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Si % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="spercentage" class="col-form-label font-weight-bold"><strong>S
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentagefrom" class="form-control rounded-0"
                                id="spercentagefrom" placeholder="S %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.spercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentageto" class="form-control rounded-0"
                                id="spercentageto" placeholder="S %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.spercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['spercentagefrom'] && !chemcompForm.controls['spercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['spercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">S % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['spercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">S % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['spercentageto'] && !chemcompForm.controls['spercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['spercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">S % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['spercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">S % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="ppercentage" class="col-form-label font-weight-bold"><strong>P
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentagefrom" class="form-control rounded-0"
                                id="ppercentagefrom" placeholder="P %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.ppercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentageto" class="form-control rounded-0"
                                id="ppercentageto" placeholder="P %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.ppercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['ppercentagefrom'] && !chemcompForm.controls['ppercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['ppercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">P % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['ppercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">P % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['ppercentageto'] && !chemcompForm.controls['ppercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['ppercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['ppercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="crpercentage" class="col-form-label font-weight-bold"><strong>Cr
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentagefrom" class="form-control rounded-0"
                                id="crpercentagefrom" placeholder="Cr %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.crpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentageto" class="form-control rounded-0"
                                id="crpercentageto" placeholder="Cr %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.crpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['crpercentagefrom'] && !chemcompForm.controls['crpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['crpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Cr % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['crpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Cr % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['crpercentageto'] && !chemcompForm.controls['crpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['crpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Cr % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['crpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Cr % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="nipercentage" class="col-form-label font-weight-bold"><strong>Ni
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentagefrom" class="form-control rounded-0"
                                id="nipercentagefrom" placeholder="Ni %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.nipercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentageto" class="form-control rounded-0"
                                id="nipercentageto" placeholder="Ni %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.nipercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['nipercentagefrom'] && !chemcompForm.controls['nipercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['nipercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Ni % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['nipercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Ni % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['nipercentageto'] && !chemcompForm.controls['nipercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['nipercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['nipercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mopercentage" class="col-form-label font-weight-bold"><strong>Mo
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentagefrom" class="form-control rounded-0"
                                id="mopercentagefrom" placeholder="Mo %(from)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mopercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentageto" class="form-control rounded-0"
                                id="mopercentageto" placeholder="Mo %(to)"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mopercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mopercentagefrom'] && !chemcompForm.controls['mopercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['mopercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mo % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mopercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mo % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mopercentageto'] && !chemcompForm.controls['mopercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['mopercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mo % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mopercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mo % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="remark" class="col-form-label font-weight-bold">Remark</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="remark" class="form-control rounded-0" id="remark"
                                placeholder="Remark" [ngClass]="{ 'is-invalid': issubmitted && f.remark.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['remark'] && !chemcompForm.controls['remark'].valid">
                        <span *ngIf="chemcompForm.controls['remark'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">Remark
                                is required </div>
                        </span>
                    </div>


                </div>
                <div class="modal-footer justify-content-center">
                    <div>
                        <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal"
                            style="width: 115px;">Close</button>
                        <button class="btn btn-primary col-sm-5  rounded-0" type="submit" id="myBtn">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- UpdateEmpModel -->
<form [formGroup]="chemcompForm" (ngSubmit)="onUpdateChemComp()">
    <div class="modal fade" id="updateempModel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitleUpdate" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="justify-content-center">
                        <h5 class="modal-title justify-content-center" id="exampleModalCenterTitleUpdate">Update
                            Chemical Composition</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="height" class="col-form-label font-weight-bold">Item Particulars</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="height" class="form-control rounded-0" id="height"
                                placeholder="height" [ngClass]="{ 'is-invalid': issubmitted && f.height.errors }">
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">X</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="width" class="form-control rounded-0" id="width"
                                placeholder="width" [ngClass]="{ 'is-invalid': issubmitted && f.width.errors }">
                        </div>
                    </div>
                    <div *ngIf="issubmitted && ((chemcompForm.controls['height'] && !chemcompForm.controls['height'].valid) 
                    || ((chemcompForm.controls['width'] && !chemcompForm.controls['width'].valid))) ">
                        <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Item
                            particulars are
                            required
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="heatno" class="col-form-label font-weight-bold">Heat. No.</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" formControlName="heatno" class="form-control rounded-0"
                                [ngClass]="{ 'is-invalid': issubmitted && f.heatno.errors }" id="heatno"
                                placeholder="Heat. No.">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['heatno'] && !chemcompForm.controls['heatno'].valid">
                        <span *ngIf="chemcompForm.controls['heatno'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Heat.
                                Number is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="quality" class="col-form-label font-weight-bold">Quality</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="quality" class="form-control rounded-0" id="quality"
                                placeholder="Quality" [ngClass]="{ 'is-invalid': issubmitted && f.quality.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['quality'] && !chemcompForm.controls['quality'].valid">
                        <span *ngIf="chemcompForm.controls['quality'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">Qualtiy
                                is required </div>
                        </span>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="partyname" class="col-form-label font-weight-bold">Party Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="partyname" class="form-control rounded-0" id="partyname"
                                placeholder="PartyName" [ngClass]="{ 'is-invalid': issubmitted && f.partyname.errors }"
                                disabled>
                        </div>
                    </div>
                    <div [ngClass]="{ 'is-invalid': issubmitted && f.partyname.errors }"
                        *ngIf="issubmitted && chemcompForm.controls['partyname'] && !chemcompForm.controls['partyname'].valid">
                        <span *ngIf="chemcompForm.controls['partyname'].hasError('required') ">
                            <div style="color:crimson; font-size: 12px; margin-top: -12px; margin-left: 524px;">
                                PartyName
                                is required </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="cpercentage" class="col-form-label font-weight-bold"><strong>C
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentagefrom" class="form-control rounded-0"
                                id="cpercentagefrom" placeholder="C %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.cpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentageto" class="form-control rounded-0"
                                id="cpercentageto" placeholder="C %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.cpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['cpercentagefrom'] && !chemcompForm.controls['cpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['cpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">C % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['cpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">C % is
                                invalid</div>
                        </span>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['cpercentageto'] && !chemcompForm.controls['cpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['cpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">C % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['cpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">C % is
                                invalid</div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mnpercentage" class="col-form-label font-weight-bold"><strong>Mn
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentagefrom" class="form-control rounded-0"
                                id="mnpercentagefrom" placeholder="Mn %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mnpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentageto" class="form-control rounded-0"
                                id="mnpercentageto" placeholder="Mn %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mnpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mnpercentagefrom'] && !chemcompForm.controls['mnpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['mnpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mn % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mnpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mn % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mnpercentageto'] && !chemcompForm.controls['mnpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['mnpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mn % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mnpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mn % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="sipercentage" class="col-form-label font-weight-bold"><strong>Si
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentagefrom" class="form-control rounded-0"
                                id="sipercentagefrom" placeholder="Si %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.sipercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentageto" class="form-control rounded-0"
                                id="sipercentageto" placeholder="Si %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.sipercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['sipercentagefrom'] && !chemcompForm.controls['sipercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['sipercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Si % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['sipercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Si % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['sipercentageto'] && !chemcompForm.controls['sipercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['sipercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Si % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['sipercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Si % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="spercentage" class="col-form-label font-weight-bold"><strong>S
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentagefrom" class="form-control rounded-0"
                                id="spercentagefrom" placeholder="S %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.spercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentageto" class="form-control rounded-0"
                                id="spercentageto" placeholder="S %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.spercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['spercentagefrom'] && !chemcompForm.controls['spercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['spercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">S % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['spercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">S % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['spercentageto'] && !chemcompForm.controls['spercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['spercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">S % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['spercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">S % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="ppercentage" class="col-form-label font-weight-bold"><strong>P
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentagefrom" class="form-control rounded-0"
                                id="ppercentagefrom" placeholder="P %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.ppercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentageto" class="form-control rounded-0"
                                id="ppercentageto" placeholder="P %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.ppercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['ppercentagefrom'] && !chemcompForm.controls['ppercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['ppercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['ppercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['ppercentageto'] && !chemcompForm.controls['ppercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['ppercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['ppercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">P % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="crpercentage" class="col-form-label font-weight-bold"><strong>Cr
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentagefrom" class="form-control rounded-0"
                                id="crpercentagefrom" placeholder="Cr %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.crpercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentageto" class="form-control rounded-0"
                                id="crpercentageto" placeholder="Cr %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.crpercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['crpercentagefrom'] && !chemcompForm.controls['crpercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['crpercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Cr % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['crpercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Cr % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['crpercentageto'] && !chemcompForm.controls['crpercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['crpercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Cr % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['crpercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Cr % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="nipercentage" class="col-form-label font-weight-bold"><strong>Ni
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentagefrom" class="form-control rounded-0"
                                id="nipercentagefrom" placeholder="Ni %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.nipercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentageto" class="form-control rounded-0"
                                id="nipercentageto" placeholder="Ni %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.nipercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['nipercentagefrom'] && !chemcompForm.controls['nipercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['nipercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['nipercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['nipercentageto'] && !chemcompForm.controls['nipercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['nipercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['nipercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Ni % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mopercentage" class="col-form-label font-weight-bold"><strong>Mo
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentagefrom" class="form-control rounded-0"
                                id="mopercentagefrom" placeholder="Mo %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mopercentagefrom.errors }">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentageto" class="form-control rounded-0"
                                id="mopercentageto" placeholder="Mo %"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mopercentageto.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mopercentagefrom'] && !chemcompForm.controls['mopercentagefrom'].valid">
                        <span *ngIf="chemcompForm.controls['mopercentagefrom'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mo % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mopercentagefrom'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 150px;">Mo % is
                                invalid</div>
                        </span>

                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['mopercentageto'] && !chemcompForm.controls['mopercentageto'].valid">
                        <span *ngIf="chemcompForm.controls['mopercentageto'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mo % is
                                needed</div>
                        </span>
                        <span *ngIf="chemcompForm.controls['mopercentageto'].hasError('pattern') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Mo % is
                                invalid</div>
                        </span>

                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="remark" class="col-form-label font-weight-bold">Remark</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="remark" class="form-control rounded-0" id="remark"
                                placeholder="Remark" [ngClass]="{ 'is-invalid': issubmitted && f.remark.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && chemcompForm.controls['remark'] && !chemcompForm.controls['remark'].valid">
                        <span *ngIf="chemcompForm.controls['remark'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">Remark
                                is required </div>
                        </span>
                    </div>


                </div>
                <div class="modal-footer justify-content-center">
                    <div class="text-nowrap">
                        <button type="submit" class="btn btn-primary col-sm-5  rounded-0  mr-2">Update</button>
                        <button type="button" class="btn btn-danger col-sm-5  rounded-0 mr-2" style="width: 115px;"
                            (click)="deleteChemComp()" data-target="#delete">Delete</button>
                        <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal"
                            style="width: 115px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this
                        ChemicalComposition?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary  rounded-0"
                        (click)="onDeleteChemComp()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable [value]="chemcompList| filter:search" selectionMode="single" [paginator]="true" [rows]="15"
            [responsive]="true" [sortField]="sortF" [immutable]="false" (onRowSelect)="getChemCompValue($event)">
            <!-- <p-column field="ccid" header="CC ID" [style]="{'text-align': 'center'}">
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <span>
                        {{user['ccId']}}
                    </span>
                </ng-template>
            </p-column> -->
            <!-- <p-column field="height" header="Item Particulars" [style]="{'text-align': 'center'}">
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <span>
                        {{user['height'] +' x ' + (user['width'])}}
                    </span>
                </ng-template>
            </p-column> -->
            <p-column *ngFor="let col of cols" [style]="{'text-align': 'center','width':col.width }" [field]="col.field"
                [header]="col.header" [sortable]="col.sortable">
            </p-column>

        </p-dataTable>
    </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>

<!-- <img src="https://picsum.photos/2000/1500" ngxViewer style="height:30px;width: 50px;" /> -->