<nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler pr-0" type="button" (click)="toggleSidebar()" style="display: -webkit-box">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <a href="#"><img src="../../../../assets/images/modernrollslogo.png" height="50" width="50"
            alt="ModernRolls Logo"></a>
    <a class="navbar-brand pl-2"><strong>Modern Rolls & Engineering Limited</strong></a>
    <!-- <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
            <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </button> -->

    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
            </form> -->
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-none d-xl-block">
                    <a
                        href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                        class="nav-link btn mt-1" role="button"
                        style="padding: .375rem 1rem !important;border-color: #999;"
                    >
                        {{ 'Download Now' | translate }}
                    </a>
                </li> &nbsp;
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link mt-1"
                        style="padding: 0.375rem 1rem !important; border-color: #999;"
                        (click)="rltAndLtr()"
                    >
                        RTL/LTR
                    </a>
                </li> &nbsp; -->

            <!-- <button type="button"  (click)="test1ToggleSidebar()">
                        Test 1
                </button>
                &nbsp;
                <button type="button"  (click)="test2ToggleSidebar()">
                        Test2
                </button> -->

            <!-- <ng-container *ngFor="let role of roleData.roleList"> -->
            <!-- <li>{{role.roleName}}</li> -->
            <!-- </ng-container> -->
            <!-- <li *ngIf="isOnbordingActive1; else OnbordingInActive1"> 
                    <a><img  class="imageZoom"  src="../../../../assets/header_Icon/ic-onboarding-active.png" alt="onboarding"></a> 
               </li>
               <ng-template #OnbordingInActive1>
                    <a (click)="OnbordingActive1(5)">  <img  class="imageZoom"  src="../../../../assets/header_Icon/ic-onboarding-grey.png" alt="Doctor"> </a>
               </ng-template> -->

            <ng-container *ngFor="let role of featureList">
                <div *ngIf="role.roleName === 'Doctor'">
                    <li *ngIf="isDoctorRoleActive; else isDoctorRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-doctor-active.png" alt="Doctor">
                    </li>
                    <ng-template #isDoctorRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-doctor-grey.png" alt="Doctor"></a>
                    </ng-template>
                </div>

                <div *ngIf="role.roleName === 'super admin'">
                    <li *ngIf="isSuperAdminRoleActive; else isSuperAdminRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-super-admin-active.png"
                            alt="Super Admin active">
                    </li>
                    <ng-template #isSuperAdminRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-super-admin-grey.png"
                                alt="Super Admin Inactive"></a>
                    </ng-template>
                </div>
                <div *ngIf="role.roleName === 'Admin'">
                    <li *ngIf="isAdminRoleActive; else isAdminRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-admin-active.png"
                            alt="Admin active">
                    </li>
                    <ng-template #isAdminRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-admin-grey.png" alt="Admin Inactive"></a>
                    </ng-template>
                </div>

                <div *ngIf="role.roleName === 'Nuse'">
                    <li *ngIf="isNurseRoleActive; else isNurseRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-vitals-active.png"
                            alt="Nurse active">
                    </li>
                    <ng-template #isNurseRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-vitals-grey 2.png" alt="Nurse Inactive"></a>
                    </ng-template>
                </div>

                <div *ngIf="role.roleName === 'Nurse'">
                    <li *ngIf="isNurseRoleActive; else isNurseRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-vitals-active.png"
                            alt="Nurse active">
                    </li>
                    <ng-template #isNurseRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-vitals-grey 2.png" alt="Nurse Inactive"></a>
                    </ng-template>
                </div>
                <div *ngIf="role.roleName === 'Junior Doctor'">
                    <li *ngIf="isJuniorDoctorRoleActive; else isJuniorDoctorRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-junior-doctor-active.png"
                            alt="JuniorDoctor active">
                    </li>
                    <ng-template #isJuniorDoctorRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-junior-doctor-grey.png"
                                alt="JuniorDoctor Inactive"></a>
                    </ng-template>
                </div>
                <div *ngIf="role.roleName === 'Pharmacy'">
                    <li *ngIf="isPharmacyRoleActive; else isPharmacyRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-pharmacy-active.png"
                            alt="Pharmacy active">
                    </li>
                    <ng-template #isPharmacyRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-pharmacy-grey.png" alt="Pharmacy Inactive"></a>
                    </ng-template>
                </div>
                <div *ngIf="role.roleName === 'Manager'">
                    <li *ngIf="isManagerRoleActive; else isManagerRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/manager-active.png"
                            alt="Manager active">
                    </li>
                    <ng-template #isManagerRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/manager-grey.png" alt="Manager Inactive"></a>

                    </ng-template>
                </div>
                <div *ngIf="role.roleName === 'Lab Investigator'">
                    <li *ngIf="isLabinvestigatorRoleActive; else isLabinvestigatorRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/ic-labinvestigator-active.png"
                            style="margin-top: 18PX;" alt="Doctor">
                    </li>
                    <ng-template #isLabinvestigatorRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/ic-labinvestigator-grey.png"
                                style="margin-top: 18PX;" alt="Doctor"></a>
                    </ng-template>
                </div>

                <div *ngIf="role.roleName === 'POCreator'">
                    <li *ngIf="isPOCreatorRoleActive; else isPOCreatorRoleInActive">
                        <img class="imageZoom" src="../../../../assets/header_Icon/voplan-active.png"
                            style="margin-top: 0PX;" alt="Doctor">
                    </li>
                    <ng-template #isPOCreatorRoleInActive>
                        <a (click)="onRoleNameClick(role)"><img class="imageZoom"
                                src="../../../../assets/header_Icon/voplan-grey.png" style="margin-top: 0PX;"
                                alt="Doctor"></a>
                    </ng-template>
                </div>
            </ng-container>

            <!-- <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                        <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3"
                                src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                            >
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3"
                                src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                                alt="Generic placeholder image"
                            >
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3"
                                src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                                alt="Generic placeholder image"
                            />
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a href="javascript:void(0)" class="dropdown-item">
                            {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item">
                            {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item">
                            {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                        </a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">
                            {{ 'View All' | translate }}
                        </a>
                    </div>
                </li> -->
            <!-- <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                            {{ 'English' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                            {{ 'French' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">
                            {{ 'Urdu' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                            {{ 'Spanish' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')">
                            {{ 'Italian' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fa')">
                            {{ 'Farsi' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                            {{ 'German' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')">
                            {{ 'Simplified Chinese' | translate }}
                        </a>
                    </div>
                </li> -->
            <li><span style="padding: 3px;font-size: 42px;font-family: initial;color:#E6E6E6;">&#124;</span></li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <img class="imageZoom" src="../../../../assets/header_Icon/account-grey.png" alt="onboarding">
                    <!-- <i class="fa fa-user"></i> Account <b class="caret"></b> -->
                </a>
                <!--  <div class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenu1" ngbDropdownMenu
                    style="left:-80px !important">
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div> -->
                <div class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenu1" ngbDropdownMenu
                    style="background-color: #ffffff !important; margin-left: -226%; width: 497% !important">
                    <div class="row col-sm-12" style="position: relative">
                        <div class="col-sm-6">
                            <img src="../../assets/images/avatar.png" style="width: 80%; height: 94%; ">
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <b><span style="font-family: Times New Roman">{{currentloginUser}}</span></b>
                            </div>
                            <div style="margin-top: -3%;">
                                <span
                                    style="font-size: 95%;  font-family: 'Times New Roman'">{{currentuserMobileNumber}}</span>
                            </div>
                            <div style="margin-top: -6%;">
                                <span
                                    style="font-size: 91%;font-family: 'Times New Roman'">{{currentuserEmailId}}</span>
                            </div>
                        </div>
                        <!-- <a class="dropdown-item">
                            <i></i>
                            
                        </a> -->
                        <!-- <a class="dropdown-item" style="margin-top: -8%;">
                            <i></i>
                            <span style="font-size: 81%;">{{currentuserMobileNumber}}</span>
                        </a>
                        <a class="dropdown-item" style="margin-top: -8%;">
                            <i></i>
                            <span style="font-size: 81%;">{{currentuserEmailId}}</span>
                        </a> -->
                    </div>

                    <!-- class="fa fa-fw fa-user" -->
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>  -->
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }} 
                    </a> -->
                    <div style="margin-bottom:-3%; background-color: #eeeeee">
                        <hr>
                        <a style="margin-left: 61%; width: 39%; padding-bottom: 4%" class="dropdown-item img-thumbnail"
                            [routerLink]="['/login']" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> <b>{{ 'Log Out' | translate }}</b>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>