$topnav-background-color: #fff;
$topnav-font-hover-color: #000;
$topnav-borderbottom-color: #E6E6E6;
$topnav-font-color: #000;
$imageZoomValue: 0.7;
:host {
    .navbar {
        background-color: $topnav-background-color;
        border-bottom: 2px solid $topnav-borderbottom-color;
        .navbar-brand {
            color: $topnav-font-color;
        }
        .nav-item > a {
            color:$topnav-font-color;
            &:hover {
                color: $topnav-borderbottom-color;
            }
        }
    }
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* padding: 0.5rem 1rem; */
        padding:0;
    }
    .nav-link {
        display: block;
        padding:0;
        /* padding: 0.5rem 1rem; */
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.imageZoom{
    zoom:$imageZoomValue;    
    // border-radius: 50%;
    // border: 3px solid;
}
.dropdownMenu{
    left: -102px !important;
    top: 60px !important;
    box-shadow: 2px 2px 5px 0px black;
}
.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
button:focus {
     outline: 0px !important;
     outline: 0px auto !important -webkit-focus-ring-color ;
}
.fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}