<div class="card">
    <div class="card-body">
        <div id="content" #content>
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="75%" style="border-top:0px; vertical-align: top;border-top:0px;">
                        <!-- <a><img src="../../../../../assets/images/masterhomelogo_header.png" alt="logo"></a> -->
                    </td>
                    <td style='border-top:0px' width="25%">
                        <table width="100%" class="printImageWidth" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Phone</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>9787519529</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Fax</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>024658546</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Email</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>info@modernrolls.com</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">D.No</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>865/2</span>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="100%" style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                                    <span class="font-weight-bold">Rayala Cheruvu Road</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                                    <span class="font-weight-bold">Royal Nagar</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                                    <span class="font-weight-bold">Tirupati - 517501</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="border-top:0px">
                        <table width="100%" style="margin-top:20px;">
                            <tr>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px; white-space: nowrap;"
                                    width="10%">
                                    <span class="font-weight-bold">Patient Name</span>
                                </td>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                                    <span>{{patientName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;" width="10%">
                                    <span class="font-weight-bold">Patient Id</span>
                                </td>
                                <td style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                                    <span>{{patientId}}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>

            <!-- <div style="font-size: 20px; color: skyblue; margin-bottom: -40px;">List of Prescriptions</div> -->
            <table class="borderStyle table table-striped table-responsive-sm table-product mt-5" width="100%"
                cellpadding="0" cellspacing="0" style="border-top: 0px;padding-top: 0px;padding-bottom: 0px;">
                <thead>
                    <tr class="d-flex">
                        <!-- <th class="col-sm-3" widht="25%">SR#</th>
                                <th class="col-sm-3" widht="25%">Particular</th>
                                <th class="col-sm-3" widht="25%">Quantity</th>
                                <th class="col-sm-3" widht="25%">Amout</th> -->
                        <!-- <th class="col-sm-4">Name of the Document</th>
                                <th class="col-sm-4">Title</th>
                                <th class="col-sm-4">Submission Date</th>
                                <th class="col-sm-4">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!--   <tr class=" d-flex" *ngFor="let pay of payment">
                                <th class="col-sm-4" widht="25%">{{ pay.id }}</th>
                                <td class="col-sm-4" widht="25%">
                                    {{ pay.particular }}
                                </td>
                                <td class="col-sm-4" widht="25%">{{ pay.quantity | number}}</td> -->
                    <!-- <td class="col-sm-3">
                                    <div *ngIf="isPrint else value" widht="25%">
                                        <input type="text" value="{{ pay.amount | number }}">
                                    </div>
                                    <ng-template #value>
                                        {{ pay.amount | number }}
                                    </ng-template>
                                </td> -->
                    <!-- </tr> -->
                    <!-- <tr class=" d-flex" *ngFor="let pay of payment">
                                <th class="col-sm-3" widht="25%">{{ pay.id }}</th>
                                <td class="col-sm-3" widht="25%">
                                    {{ pay.particular }}
                                </td>
                                <td class="col-sm-3 " widht="25%">{{ pay.quantity | number}}</td>
                                <td class="col-sm-3">
                                    <div *ngIf="isPrint else value" widht="25%">
                                        <input type="text" value="{{ pay.amount | number }}">
                                    </div>
                                    <ng-template #value>
                                        {{ pay.amount | number }}
                                    </ng-template>
                                </td>
                            </tr> -->
                    <tr>
                        <th width="25%">Name of the Document</th>
                        <th width="25%">Title</th>
                        <th width="25%">Submission Date</th>
                        <th width="25%">Action</th>
                    </tr>
                    <tr *ngFor="let cheifComplan of cheifComplaintObj; index as i">
                        <td width="25%" [attr.data-index]="i">{{cheifComplan?.comment}}</td>
                        <td width="25%" [attr.data-index]="i">{{cheifComplan?.title}}</td>
                        <td width="25%" [attr.data-index]="i">{{cheifComplan?.submissionDate | date: 'dd/MM/yyyy' }}
                        </td>
                        <td width="25%" [attr.data-index]="i" *ngIf="cheifComplan.docUrl">
                            <!-- <a (click)="getMyProperty(cheifComplan)"  data-target="#exampleModalLong"><img  src="../../../../../assets/images/pdf_icon_read.png"></a> -->
                            <button (click)="getMyProperty(cheifComplan)" style=" width:150px;height: 37.5px;"
                                class=" btn btn-secondary  rounded-0" data-toggle="modal"
                                data-target="#exampleModalLong">
                                View
                            </button>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{docTitle}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" *ngIf="imageUrl">
                                        <img [src]='imageUrl' />
                                        <!-- <img src = "{{imageUrl}}"/> -->
                                        <!-- {{cheifComplan.docUrl}} -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                    <tr *ngIf="!cheifComplaintObj">
                        <td colspan="4" style="width:100%">
                            <h2 class="text-center text-danger">No Records for this Patient....</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="form">
                        <div class="form-group row">
                            <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>Days</b></label>
                            <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                        </div>
                        <div class="form-group row">
                            <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>GST</b></label>
                            <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                        </div>
                        <div class="form-group row">
                            <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>Amount</b></label>
                            <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                        </div>
                        <div class="form-group row">
                            <div style="margin: 2px; margin-left:619px;" class="col-sm-2">
                                <span class="font-weight-bold">Mode Of Payment:</span>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm rounded-0" id="formGroupInput"
                                    style="width: 158px; margin-left: -14px;">
                                    <option class="f2-font" *ngFor="let payType of modeofPayment" value="payType">
                                        <small>{{payType}}</small></option>
                                </select>
                            </div>
                        </div>
                    </div> -->
            <table cellspacing="0" cellpadding="0" class="table table-responsive-sm mt-2" width="100%"
                id="print-section">
                <tr>
                    <td width="60%" style="border-top:0px;">
                    </td>
                    <td width="100%" style="border-top:0px;">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Days</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    <span><input type="text" [(ngModel)]="adminTracsaction.days" name="days"></span>
                                    <!-- {{adminTracsaction.days}} -->
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Pay &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    <span><input type="text" [(ngModel)]="adminTracsaction.amount" name="days"
                                            (keyup)="getAmount($event)"></span><!-- {{adminTracsaction.amount}} -->
                                    <!--  {{gstValue}} -->
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">GST &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    {{gstRemainderCal}}
                                </td>
                            </tr>

                            <tr>
                                <td width="50%" style="border-top:0px; padding-left: 0px;">
                                    <span class="font-weight-bold">Mode Of Payment:</span>
                                </td>
                                <td style="border-top:0px">
                                    <select class="form-control form-control-sm rounded-0" id="formGroupInput"
                                        style="width: 150px;" [(ngModel)]="paymentType" (change)="selected()">
                                        <option class="f2-font" *ngFor="let payment of paymentTypes"
                                            [ngValue]="payment.id">
                                            <small>{{payment.value}}</small></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Total &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    {{totalamount}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="beforepaid">
            <button style="margin-left: 581px;" class="btn btn-primary col-sm-2 rounded-0"
                (click)="paymentButtons()">Paynow</button>
        </div>
        <div *ngIf="afterPaidOnly" class="row mt-2">
        <!-- <div class="row mt-2"> -->
            <div class="col-sm-4">
                <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                      </ngb-pagination> -->
            </div>
            <div class="col-sm-12" style="text-align:center">
                <!-- 
                        <button class="btn btn-primary col-sm-2 mr-5" (click)="onGoBack()">Go Back</button> -->
                <!-- <button class="btn btn-primary  rounded-0 col-sm-2 mr-2" (click)="captureScreenpdf()">Download PDF</button> -->
                <!-- <a (click)="makePdf()" class=" mr-3" data-target="#exampleModalLong"><img
                        src="../../../../../assets/images/pdf_icon_read.png"></a> -->
                <button class="btn btn-primary  rounded-0 col-sm-2  mr-2" (click)="print()">print</button>
                <button class="btn btn-danger col-sm-2 rounded-0 mr-2" disabled>Paid</button>
            </div>
        </div>
    </div>
</div>