
.loading{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 0px;
}

.table{
    padding-top: 5%!important;
    margin-left: 0.4%!important;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table>tbody>tr:first-child>td:last-child{
      border-top: none!important;
      border-right: none!important;
  }

  .bigModal{
    width:1080px;
}