<form>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Aadhar Number</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="formAdhar">What is your Aadhar number?</label>
        </div>
        <div class="col-sm-6">
            <input type="number" class="form-control form-control-sm rounded-0" id="formGroupOther"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type = "number"
            maxlength = "12" placeholder="Aadhar number">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Height</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
        <label class="f2-font" for="height">Height</label>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <ng-container *ngIf="selectedFeet">
                
                <div class="col-sm-4">
                    <select class="form-control form-control-sm rounded-0" id="feet" (change)="onChangeFeetOption($event.target.value)">
                        <option class = "f2-font" *ngFor="let feet of bmiFeet">{{feet}}</option>
                    </select>
                </div>
                <div class="col-sm-4" >
                    <select class="form-control form-control-sm rounded-0" id="inch" (change)="onChangeInchOption($event.target.value)">
                        <option  *ngFor="let inch of bmiInch" class = "f2-font" >{{inch}}</option>
                    </select>
                </div>
                </ng-container>
                <ng-container *ngIf="selectedCms">
                    <div class="col-sm-8"> 
                         <input type="text" class="form-control form-control-sm rounded-0"   (change)="onChangeCms($event.target.value)" placeholder="Enter Height">
                    </div>
                </ng-container>
                <div class="col-sm-4 ">
                    <select class="form-control form-control-sm rounded-0" id="height" (change)="onChangeHeightOption($event.target.value)">
                        <option class = "f2-font" *ngFor="let heightOption of bmiHeightOption">{{heightOption}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <h3 class="primary">Weight</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font">Weight</label>
        </div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]= "bmiWeight" class="form-control form-control-sm rounded-0"  (change)="onChangeWeight($event.target.value)"  placeholder="Enter Weight">
            {{bmiWeight}}
        </div>
        <div class="col-sm-2">
            <select class="form-control form-control-sm rounded-0">
                <option class = "f2-font"  *ngFor="let weightOption of bmiWeightOption">{{weightOption}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">BMI</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="formAdhar">Your BMI (Kg/m²)</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Blood Group</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="bloodGroup">What is your Blood group?</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="bloodGroup">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Marital Status</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="maritalStatus">What is your Marital status?</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="maritalStatus">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Nationality</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="nationality">What is your Nationality?</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="nationality">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Occupation & Description</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="occupationStatus">What is your Occupation status?</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="occupationStatus">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="DescribeOccupation">Describe your occupation</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="DescribeOccupation">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class=col-sm-4>
            <label class="f2-font" for="occupationalnExposure">Occupational Exposure to dust, smoke, chemical foams, fiber, etc.</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="occupationalnExposure">
                <option class = "f2-font" value="option"><small></small></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Service Provider</h3>
        </div>
    </div>
    <div class="row mt-2">
            <div class=col-sm-4>
                <label class="f2-font" for="serviceProvider">What is Your Service Provider's Name?</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="What is Your Service Provider's Name?">
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Insurance Provider</h3>
        </div>
    </div>
    <div class="row mt-2">
            <div class=col-sm-4>
                <label class="f2-font" for="insuranceProvider">What is Your Insurance Provider's Name?</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm rounded-0" id="insuranceProvider" placeholder="What is Your Insurance Provider's Name?">
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Insurance Id</h3>
        </div>
    </div>
    <div class="row mt-2">
            <div class=col-sm-4>
                <label class="f2-font" for="insuranceId">What is Your Insurance Id?</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="What is Your Insurance Id?">
            </div>
    </div>
</form>