<!-- <h1 class="primary">OnBoarding</h1>
<form [formGroup]="myForm">
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Height</h3>
      </div>
  </div>
  <div class="row mt-2">
      <div class=col-sm-4>
      <label class="f2-font" for="height">Height:</label>
      </div>
      <div class="col-sm-6">
          <div class="row">
              <ng-container *ngIf="selectedFeet">
              
              <div class="col-sm-4">
                  <select class="form-control form-control-sm rounded-0" id="feet" (change)="onChangeFeetOption($event.target.value)">
                      <option class = "f2-font" *ngFor="let feet of bmiFeet">{{feet}}</option>
                  </select>
              </div>
              <div class="col-sm-4" >
                  <select class="form-control form-control-sm rounded-0" id="inch" (change)="onChangeInchOption($event.target.value)">
                      <option  *ngFor="let inch of bmiInch" class = "f2-font" >{{inch}}</option>
                  </select>
              </div>
              </ng-container>
              <ng-container *ngIf="selectedCms">
                  <div class="col-sm-8">
                      <input  type="text" class="form-control form-control-sm rounded-0"  name="bmiHeight" formControlName="bmiHeight" (keyup)="onHeightChange($event)" placeholder="Enter Height"/> 
                  </div>
              </ng-container>
              <div class="col-sm-4 ">
                  <select class="form-control form-control-sm rounded-0" id="height" (change)="onChangeHeightOption($event.target.value)">
                      <option class = "f2-font" *ngFor="let heightOption of bmiHeightOption">{{heightOption}}</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
              <h3 class="primary">Weight</h3>
      </div>
  </div>
  <div class="row mt-2">
      <div class=col-sm-4>
          <label class="f2-font">Weight:</label>
      </div>
      <div class="col-sm-4">
          <input  type="text" class="form-control form-control-sm rounded-0"  name="bmiWeight" formControlName="bmiWeight" (keyup)="onWeightChange($event)" placeholder="Enter Weight"/> 
      </div>
      <div class="col-sm-2">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let weightOption of bmiWeightOption">{{weightOption}}</option>
          </select>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">BMI</h3>
      </div>
  </div>
  <div class="row mt-2">
      <div class=col-sm-4>
          <label class="f2-font">Your BMI (Kg/m²)</label>
      </div>
      <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm rounded-0" name="bmiCalcuation"  formControlName="bmiCalcuation" disabled>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Marital Status</h3>
      </div>
  </div>
  <div  class="row mt-2">
      <div  class=col-sm-4>
          <label class="f2-font">Marital Status:</label>
      </div>
      <div class="col-sm-6">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let maritalStatus of maritalStatusOption">{{maritalStatus}}</option>
          </select>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Marital Life</h3>
      </div>
  </div>
  <div  class="row mt-2">
      <div  class=col-sm-4>
          <label class="f2-font">Marital Life:</label>
      </div>
      <div class="col-sm-6">
          <input  type="text" class="form-control form-control-sm rounded-0" placeholder="Enter Years"/> 
      </div>
      <label class="f2-font" for="formAdhar">Years</label>
  </div>
  
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Children</h3>
      </div>
  </div>
  <div  class="row mt-2">
      <div  class=col-sm-4>
          <label class="f2-font">Children:</label>
      </div>
      <div class='col-sm-1'>
          <label class="f2-font">Male</label>
      </div>
      <div class="col-sm-2">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let male of children">{{male}}</option>
          </select>
      </div>
      <div class='col-sm-1'>
          <label class="f2-font">FeMale</label>
      </div>
      <div class="col-sm-2">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let feMale of children">{{feMale}}</option>
          </select>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Dite</h3>
      </div>
  </div>
  <div  class="row mt-2">
      <div  class=col-sm-4>
          <label class="f2-font">Dite:</label>
      </div>
      <div class="col-sm-6">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let diet of dietOption">{{diet}}</option>
          </select>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <h3 class="primary">Homeopathic Medicine</h3>
      </div>
  </div>
  <div  class="row mt-2">
      <div  class=col-sm-4>
          <label class="f2-font">Homeopathic Medicine:</label>
      </div>
      <div class="col-sm-6">
          <select class="form-control form-control-sm rounded-0">
              <option class = "f2-font"  *ngFor="let homeopathicUsed of homeopathicMedicineOption">{{homeopathicUsed}}</option>
          </select>
      </div>
  </div>
</form>  -->
<!-- <app-obs-gynac-history></app-obs-gynac-history> -->
<!-- <app-treatment-history></app-treatment-history> -->
<!-- <app-physical-makeup></app-physical-makeup> -->
<!-- <app-clinical-findings></app-clinical-findings> -->
<!-- <app-lab-investigations></app-lab-investigations> -->

<!-- <div class="card mt-5">
    <div class="card-body"> -->

<form role="form" [formGroup]="patientInfoForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-title">
        <h3 class="primary"> 1. General Information</h3>
    </div>
    <div class="modal-body">
        <!--Basic Information Started From here-->
        <h5 class="head1">Basic Information</h5>
        <hr class="mt-2">
        <div class="form-group row">
            <div class="col col-md-4 col-sm-4 col-lg-4">
                <label for="number" class="col-form-label-sm">Mobile Number</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="number" class="form-control form-control-sm rounded-0"
                    placeholder="Enter your Mobile Number" name="mobileNumber" formControlName="mobileNumber"
                    [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div *ngIf="loader" class="loader1"></div>
        </div>
        <div
            *ngIf="submitted && patientInfoForm.controls['mobileNumber'] && !patientInfoForm.controls['mobileNumber'].valid">
            <span *ngIf="patientInfoForm.controls['mobileNumber'].hasError('required') ">
                <div style="color: red; font-size: 12px; margin-top: -4px;">Mobile Number is required </div>
            </span>
        </div>
        <div class="form-group row">
            <div class="col col-md-4 col-sm-4 col-lg-4">
                <label for="name" class="col-form-label-sm">Name</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="text" class="form-control form-control-sm rounded-0" placeholder="Enter your First Name"
                    name="firstName" formControlName="firstName">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="text" class="form-control form-control-sm rounded-0" placeholder="Enter your Last Name"
                    name="lastName" formControlName="lastName">
            </div>
        </div>
        <!--Gender from here-->

        <div class="form-group row">
            <div class="col col-md-4 col-sm-4 col-lg-4">
                <label class="col-form-label-sm mt-3">Gender</label>
            </div>
            <div>
                <div class="genderContainer">
                    <div class="row pl-1">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <span [ngClass]="maleGenderActive ? 'maleActive' : 'maleInActive'"
                                (click)="genderActive($event)" name="Male" id="Male"></span> <br>
                            <p style="margin-left: 18px; font-size: 14px;">Male</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <span [ngClass]="feMaleGenderActive ? 'feMaleActive' : 'feMaleInActive'"
                                (click)="genderActive($event)" name="FeMale" id="FeMale"></span><br>
                            <p style="margin-left: 10px;width: 55PX; font-size: 14px;">FeMale</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <span [ngClass]="otherGenderActive ? 'otherGenderActive' : 'otherGenderInActive'"
                                (click)="genderActive($event)" name="Other" id="Other"></span> <br>
                            <p style="margin-left: 10px;width: 55PX; font-size: 14px;">Others</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Refferal started from here-->
        <!-- <div class="form-group row">
            <div class="col col-md-4 col-sm-4 col-lg-4">
                <label for="RefferalCode" class="col-form-label-sm">Refferal Code</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm rounded-0" placeholder="Enter your Refferal Code"
                    name="refferalcode" ngModel #refferalcode="ngModel">
            </div>
        </div> -->
        <!--HOW OLD ARE YOU? started from here-->
        <div>
            <div class="form-group row">
                <span class="col-md-4 col-sm-4 col-lg-4 col col-form-label col-form-label-sm"></span>
                <span class="col-form-label-sm col-md-3 col-sm-3 col-lg-3 col col-form-label"> <input name="age button"
                        type="radio" value="dob" [(ngModel)]="selected" [ngModelOptions]="{standalone: true}"
                        (click)="onDobSelection(null)">Date of Birth </span>
                <span class="col-md-3 col-sm-3 col-lg-3 col col-form-label col-form-label-sm"> <input name="age button"
                        type="radio" value="age" (click)="onAgeSelection(null)" [disabled]='radioAge2'>Age </span>
            </div>
            <div *ngIf="dobSelected">
                <div class="form-group row">
                    <div class="col col-md-4 col-sm-4 col-lg-4">
                        <label class="col-form-label-sm">Age/Date of Birth</label>
                    </div>
                    <div class="col col-md-4 col-sm-4 col-lg-4 input-group">
                        <input style="height: 35px;" class="form-control rounded-0" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="model" [ngModelOptions]="{standalone: true}" ngbDatepicker
                            [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button style="height: 35px;" class="btn btn-outline-secondary calendar custtomcal"
                                (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
                <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
                    let-disabled="disabled" let-focused="focused">
                    <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
                        [class.text-muted]="disabled">
                        {{ date.day }}
                    </span>
                </ng-template>
            </div>
            <div *ngIf="ageSelected">
                <div class="form-group row">
                    <div class="col col-md-4 col-sm-4 col-lg-4">
                        <label for="name" class="col-form-label-sm">How old are you?</label>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group form-inline">
                            <input type="text" class="form-control form-control-sm rounded-0 mr-1" placeholder="Years"
                                name="age" formControlName="age">
                            <label class="col-form-label-sm">Years</label>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-inline">
                            <input type="text" class="form-control form-control-sm rounded-0  mr-1" placeholder="Months"
                                name="months" formControlName="months">
                            <label class="col-form-label-sm">Months</label>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="form-group row">
                <div class="col col-md-4 col-sm-4 col-lg-4">
                    <label for="Address" class="col-form-label-sm">Email</label>
                </div>
                <div class="col-sm-6">
                    <input type="email" class="form-control form-control-sm rounded-0" placeholder="ex: abc@gmail.com"
                        name="emailId" formControlName="emailId">
                </div>
            </div>
            <div class="form-group row">
                <div class="col col-md-4 col-sm-4 col-lg-4">
                    <label for="Address" class="col-form-label-sm">Address</label>
                </div>
                <div class="col-sm-6">
                    <textarea type="text-area" class="form-control form-control-sm rounded-0" row="3"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="Enter Your Address"
                        name="address" formControlName="address"></textarea>
                </div>
            </div>
            <div>
                <span *ngIf="submitted && patientInfoForm.controls['address'].hasError('required')"
                    class="error-message">
                    <div style="color: red; font-size: 12px;  margin-top: -14px; margin-left: 681px;">Address is
                        required
                    </div>
                </span>
            </div>
            <!-- <div class="form-group row">
                <div class="col col-md-4 col-sm-4 col-lg-4"></div>
                <div class="col-sm-6">
                    <label class="col-form-label-sm"><input name="age button" type="checkbox"
                            value="Residential Address" (click)="addResidentialAddress()" class="head"> Add
                        Residential Address</label>
                </div>
            </div>
            <div *ngIf="selectedLink4">
                <fieldset ngModelGroup="ResidentialAddress">
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 1</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0"
                                placeholder="Building Name, Street" name="address1" ngModel #address1="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 2</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder="Lane,Suburb"
                                name="address2" ngModel #address2="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="name" class="col-form-label-sm">State</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="state" ngModel #state="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="name" class="col-form-label-sm">City</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder="" name="city"
                                ngModel #city="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="PIN/ZIP code" class="col-form-label-sm">PIN/ZIP Code</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control form-control-sm rounded-0" placeholder=""
                                name="pincode" ngModel #pincode="ngModel">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <div class="col col-md-4 col-sm-4 col-lg-4"></div>
                <div class="col-sm-6">
                    <label class="col-form-label-sm"> <input name="age button" type="checkbox" value="Official Address"
                            (click)="addOfficialAddress()" class="head"> Add Official
                        Address</label>
                </div>
            </div>
            <div *ngIf="selectedLink2">
                <fieldset ngModelGroup="OfficialAddress">
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 1</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0"
                                placeholder="Building Name, Street" name="officialaddress1" ngModel
                                #officialaddress1="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 2</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder="Lane, Suburb"
                                name="officialaddress2" ngModel #officialaddress2="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="name" class="col-form-label-sm">State</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="officialstate" ngModel #officialstate="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="name" class="col-form-label-sm">City</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="officialcity" ngModel #officialcity="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="number" class="col-form-label-sm">PIN/ZIP Code</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="officialpin" ngModel #officialpin="ngModel">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <div class=" col col-md-4 col-sm-4 col-lg-4"></div>
                <div class="col-sm-6">
                    <label class="col-form-label-sm"><input name="age button" type="checkbox" value="Official Address"
                            (click)="addEmergencyContact()" class="head"> Add Emergency
                        Contact</label>
                </div>
            </div>
            <div *ngIf="selectedLink3">
                <fieldset ngModelGroup="EmergencyContact">
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="Address" class="col-form-label-sm">Contact Person's Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0"
                                placeholder="Enter the person name" name="emergencycontactname" ngModel
                                #emergencycontactname="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="Address" class="col-form-label-sm">Contact Person's Mobile</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control form-control-sm rounded-0"
                                placeholder="Enter the person Mobile number" name="emergencycontactmobile" ngModel
                                #emergencycontactmobile="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="email" class="col-form-label-sm">Contact Person's Email</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control form-control-sm rounded-0"
                                placeholder="Enter the person's Email" name="emergencycontactemail" ngModel
                                #emergencycontactemail="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col col-md-4 col-sm-4 col-lg-4">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 1</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm  rounded-0"
                                placeholder="Building Name, Street" name="emergencycontactaddress1" ngModel
                                #emergencycontactaddress1="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4 ">
                            <label for="Address" class="col-form-label-sm">Contact Person's Address 2</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder="Lane, Suburb"
                                name="emergencycontactaddress2" ngModel #emergencycontactaddress2="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="name" class="col-form-label-sm">State</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="emergencycontactstate" ngModel #emergencycontactstate="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="name" class="col-form-label-sm">City</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm rounded-0" placeholder=""
                                name="emergencycontactcity" ngModel #emergencycontactcity="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <label for="number" class="col-form-label-sm">PIN/ZIP Code</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control form-control-sm rounded-0" placeholder=""
                                name="emergencycontactpin" ngModel #emergencycontactpin="ngModel">
                        </div>
                    </div>
                </fieldset>
            </div> -->


            <!-- <div>
                    <h5 class="head1">Topics of Interests</h5>
                    <hr class="mt-2">
                    <label class="col-form-label-sm">What are your topics of interests?</label>
                    <div  class="row" >
                        <div  class="col col-md-4 col-sm-4 col-lg-4 mt-2" *ngFor="let element of InterestArray">
                            <label class="col-form-label-sm">
                                <input type="checkbox">{{element.value}}
                            </label>
                        </div> 
                    </div>  
                </div> -->
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 class="primary">Onboarding Queue</h4>
                <hr class="mt-2">
            </div>
        </div>
        <div class="form-group">
            <div class="row mt-2 col-sm-12">
                <div class=col-sm-2>
                    <label class="col-form-label-sm">Height:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm rounded-0" name="height"
                        formControlName="height" placeholder="Enter your height in cm"
                        [ngClass]="{ 'is-invalid': submitted && f.height.errors }"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
                <!-- <div class="f2-font col-sm-2">cm</div> -->
                <div class=col-sm-2>
                    <label class="col-form-label-sm">Weight:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm rounded-0" name="weight"
                        formControlName="weight" placeholder="Enter your weight in Kgs"
                        [ngClass]="{ 'is-invalid': submitted && f.weight.errors }"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <!-- <div class="f2-font">kgs</div> -->
            </div>
        </div>
        <!-- <div *ngIf="submitted && patientInfoForm.controls['height'] && !patientForm.controls['height'].valid"> -->
        <div>
            <span *ngIf="submitted && patientInfoForm.controls['height'].hasError('required')" class="error-message">
                <div style="color: red; font-size: 12px;  margin-top: -19px; margin-left: 343px;">height is required
                </div>
            </span>
        </div>
        <!-- </div> -->
        <!-- <div *ngIf="submitted && patientInfoForm.controls['weight'] && !patientForm.controls['weight'].valid"> -->
        <div>
            <span *ngIf="submitted && patientInfoForm.controls['weight'].hasError('required') ">
                <div style="color: red; font-size: 12px;  margin-top: -19px; margin-left: 790px;">Weight is required
                </div>
            </span>
        </div>
        <!-- </div> -->
        <!-- <ng-container *ngIf="selectedFeet">
            <div class="col-sm-4">
                <select class="form-control form-control-sm rounded-0" id="feet"
                    (change)="onChangeFeetOption($event.target.value)">
                    <option class="f2-font" *ngFor="let feet of bmiFeet">{{feet}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control form-control-sm rounded-0" id="inch"
                    (change)="onChangeInchOption($event.target.value)">
                    <option *ngFor="let inch of bmiInch" class="f2-font">{{inch}}</option>
                </select>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedCms">
            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm rounded-0" name="bmiHeight"
                    formControlName="bmiHeight" (keyup)="onHeightChange($event)" placeholder="Enter Height" />
            </div>
        </ng-container>
        <div class="col-sm-4 ">
            <select class="form-control form-control-sm rounded-0" id="height"
                (change)="onChangeHeightOption($event.target.value)">
                <option class="f2-font" *ngFor="let heightOption of bmiHeightOption">{{heightOption}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div> -->


        <!-- <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="primary">Weight</h4>
                </div>
            </div>
            <div class="row mt-2">
                <div class=col-sm-4>
                    <label class="f2-font">Weight:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm rounded-0" name="bmiWeight"
                        placeholder="Enter Your Weight in kgs" />
                </div>
                <div class="f2-font">kgs</div>
            </div>
        </div> -->
        <div class="form-group">
            <div class="row mt-2 col-sm-12">
                <!-- <div class=col-sm-2>
                    <label class="col-form-label-sm">Marital Status:</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm rounded-0" formControlName="maritalStatus">
                        <option *ngFor="let maritalStatus of maritalStatusOption" [value]="(maritalStatus.value)">
                            {{maritalStatus.name}}
                        </option>
                    </select>
                </div> -->
                <div class=col-sm-2>
                    <label class=" col-form-label-sm">Marital Status:</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm rounded-0" (change)="changeMaritalStatus($event)"
                        formControlName="maritalStatus" [ngClass]="{ 'is-invalid': submitted && f.maritalStatus.errors }">
                        <option *ngFor="let maritalStatus of maritalStatusOption" [value]="maritalStatus.value">
                            {{maritalStatus.name}}</option>
                    </select>
                </div>
                <div class=col-sm-2>
                    <label class="col-form-label-sm">Marital Life:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm rounded-0"
                        [ngClass]="{ 'is-invalid': submitted && f.maritalLife.errors }" placeholder="Enter Years"
                        name="maritalLife" formControlName="maritalLife"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <!-- <label class="f2-font" for="formAdhar">Years</label> -->
            </div>
        </div>
        <!-- <div>
            <span *ngIf="submitted && patientInfoForm.controls['maritalStatus'].hasError('required')"
                class="error-message">
                <div style="color: red; font-size: 12px;  margin-top: -19px; margin-left: 343px;"> MaritalStatus required
                </div>
            </span>
        </div> -->

        <div>
            <span *ngIf="submitted && patientInfoForm.controls['maritalLife'].hasError('required')"
                class="error-message">
                <div style="color: red; font-size: 12px;  margin-top: -19px; margin-left: 343px;"> marital life required
                </div>
            </span>
        </div>
        <!-- <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="primary">Marital Life</h4>
                </div>
            </div>
            <div class="row mt-2">
                <div class=col-sm-4>
                    <label class="f2-font">Marital Life:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm rounded-0" placeholder="Enter Years" />
                </div>
                <label class="f2-font" for="formAdhar">Years</label>
            </div>
        </div> -->
        <div class="form-group mt-2">
            <div class="row mt-2 col-sm-12">
                <div class=col-sm-2>
                    <label class="col-form-label-sm">Children:</label>
                </div>
                <div class='col-sm-1'>
                    <label class="col-form-label-sm">Male</label>
                </div>
                <div class="col-sm-1">
                    <select class="form-control form-control-sm rounded-0" formControlName="maleChildren">
                        <option *ngFor="let male of children" [value]="male">{{male}}</option>
                    </select>
                </div>
                <div class='col-sm-1'>
                    <label class="f2-font col-form-label-sm">FeMale</label>
                </div>
                <div class="col-sm-1">
                    <select class="form-control form-control-sm rounded-0" formControlName="femaleChildren">
                        <option *ngFor="let feMale of children" [value]="feMale">{{feMale}}</option>
                    </select>
                </div>
                <div class=col-sm-2>
                    <label class=" col-form-label-sm">Dite:</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm rounded-0" (change)="changediteType($event)"
                        formControlName="diteType" [ngClass]="{ 'is-invalid': submitted && f.diteType.errors }">
                        <option *ngFor="let dite of diteOption" [value]="dite.value">
                            {{dite.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <span *ngIf="submitted && patientInfoForm.controls['diteType'].hasError('required')" class="error-message">
                <div style="color: rosybrown; font-size: 12px;  margin-top: -19px; margin-left: 780px;">DiteType is
                    required
                </div>
            </span>
        </div>

        <!-- <div class="form-group">
             <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">BMI</h4>
                    </div>
                </div> 
            <div class="row mt-2 col-sm-12">
                <div class=col-sm-2>
                    <label class=" col-form-label-sm">Your BMI (Kg/m²)</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm rounded-0" name="bmiCalcuation"
                        formControlName="bmiCalcuation" disabled>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="primary">Dite</h4>
                </div>
            </div>
            <div class="row mt-2">
                <div class=col-sm-4>
                    <label class="f2-font">Dite:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control form-control-sm rounded-0">
                        <option class="f2-font" *ngFor="let diet of dietOption">{{diet}}</option>
                    </select>
                </div>
            </div>
        </div> -->
        <div class="form-group mt-2">
            <!-- <div class="row">
                <div class="col-sm-12">
                    <h4 class="primary">Homeopathic Medicine</h4>
                </div>
            </div> -->
            <div class="row mt-2 col-sm-12">
                <!-- <div class=col-sm-4>
                    <label class=" col-form-label-sm">Homeopathic Medicine:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control form-control-sm rounded-0">
                        <option class="f2-font" *ngFor="let homeopathicUsed of homeopathicMedicineOption"
                            [value]="homeopathicUsed">
                            {{homeopathicUsed}}</option>
                    </select>
                </div> -->
                <div class=col-sm-2>
                    <label class=" col-form-label-sm">Homeopathic Medicine:</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm rounded-0" (change)="changeusedHomeopathic($event)"
                        formControlName="usedHomeopathic" [ngClass]="{ 'is-invalid': submitted && f.diteType.errors }">
                        <option *ngFor="let homeopathicMedicine of homeopathicMedicineOption"
                            [value]="homeopathicMedicine.value">
                            {{homeopathicMedicine.name}}</option>
                    </select>
                </div>
                <div class=col-sm-2>
                    <label class=" col-form-label-sm">Your BMI (Kg/m²)</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm rounded-0" name="bmiCalcuation"
                        formControlName="bmiCalcuation" value="0"[attr.disabled]="true">
                </div>
            </div>
        </div>

        <button class="btn btn-primary rounded-0 col-sm-2">Next</button>
    </div>
</form>
<!-- <app-onboarding-queue [PData]="pcomponent.value" ></app-onboarding-queue> -->

<!-- </div>     (click)="nextpage() "
</div>  -->