<div class="row">
    <div class="col-sm-4">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control col-sm-5  rounded-0"
            id="formGroupExampleInput" placeholder="Search">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="fromDate" name="dp" ngbDatepicker #d="ngbDatepicker"
            [(ngModel)]="fromDate" (click)="d.toggle()" style="width:100px">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="toDate" name="dp1" ngbDatepicker #d1="ngbDatepicker"
            [(ngModel)]="toDate" (click)="d1.toggle()" style="width:100px">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onDateSelection()">Filter</button>&nbsp;
        <button type="button" class="btn btn-default" (click)="fetchAllPoProduct(true)">Reset</button>
    </div>
    <!-- <div class="col-sm-4 text-right" *ngIf="!this.history">
        <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 18px;"> Rejection History</span>
        </button>
    </div>
    <div class="col-sm-4 text-right" *ngIf="this.history">
        <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 18px;"> Back
                to Rejection</span>
        </button>
    </div> -->
    <div class="col-sm-8" *ngIf="duplicatepoProductList">Showing <b style="color: blue;">{{listCount}}</b> search
        results</div>
</div>
<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable [value]="duplicatepoProductList|filter:search" selectionMode="single" [paginator]="true"
            [rows]="15" [responsive]="true" [immutable]="false" (onRowSelect)="getProductDetails()">
            <p-column *ngFor="let col of pocols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }"></p-column>
            <p-column field="grade" header="Grade" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="col.field =='grade'?(colorMap[transaction[col.field]]):null"><b>{{transaction[col.field]}}</b></span>
                </ng-template>
            </p-column>
            <!-- <p-column field="frost" header="Pass" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton [disabled]='this.history'
                        (click)="moveToRollCasting(data)">Re/Plan</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="MoveTo" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" [disabled]='this.history'
                        (click)="moveTo(data)">MoveTo</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Transfer" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" data-target="#planner"
                        [disabled]='this.history' (click)="remarkData(data)">Transfer</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Path" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" data-target="#return"
                        [disabled]='this.history' (click)="returnData(data)">Path</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Hold" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" data-target="#holdRoll"
                        [disabled]='this.history' (click)="onHold(data)">Hold</button>
                </ng-template>
            </p-column> -->
            <p-column field="frost" header="Prod. Image" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <img src={{data.productimg}} ngxViewer style="height:30px;width: 50px;" />
                    <!-- <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="previewImage(index)" data-target="#previewImage">Preview</button> -->
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea rows="4" cols="50" name="comment" form="usrform" [(ngModel)]="remark">
</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="moveToRejection()">Submit</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="previewImage" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content" style="width: 652px;
        height: 502px;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{this.image}}" width="623px" height="370px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="planner" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="width:1112px">
            <div class="modal-body" style="width:950px">
                <div class="col-sm-8" style="padding-left: 0px;">
                    <input type="text" [(ngModel)]="search" class="form-control col-sm-5  rounded-0"
                        id="formGroupExampleInput" placeholder="Search">
                </div>
                <div class="card  mt-2">
                    <div class="card-body">
                        <p-dataTable [value]="duplicatePlannerList|filter:search" selectionMode="single"
                            [paginator]="true" [rows]="15" [responsive]="true" [immutable]="false">
                            <p-column *ngFor="let col of pcols" [field]="col.field" [header]="col.header"
                                [sortable]="col.sortable" [style]="{'text-align': 'center','width':col.width }">
                            </p-column>
                            <p-column field="frost" header="Transfer" [style]="{'width':'9%','text-align': 'center'}">
                                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                                        data-target="#popUp" (click)="transferData(data)">Transfer</button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="popUp" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <b>Are you Sure?</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Please confirm transfering of <b>{{rejectedRoleDisplayId}}</b> to <b>{{selectedRoleDisplayId}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="transferBack()">Transfer</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="return" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <b>Are you Sure?</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b> Please confirm</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onPath()" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="holdRoll" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <b>Are you Sure?</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b> Please confirm !! You want put this roll on hold and transfer this Roll to Roll Planner</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onHold()" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="moveTo" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <b>Move To Process</b>
            </div>
            <form [formGroup]="registrationForm" (ngSubmit)="moveProcess()">
                <div class="move" *ngIf="this.productType=='CENTER' || this.productType=='GROOVE'">
                    <input type="radio" name="gender" value="2" formControlName="gender"> RollCasting<br>
                    <input type="radio" name="gender" value="3" formControlName="gender"> QualityCheck<br>
                    <input type="radio" name="gender" value="4" formControlName="gender">
                    MachiningEditor<br>
                    <input type="radio" name="gender" value="5" formControlName="gender">
                    InspectionEditor<br>
                    <input type="radio" name="gender" value="6" formControlName="gender">
                    Groove&CentreFinishing<br>
                    <input type="radio" name="gender" value="8" formControlName="gender">
                    Groove&CentreFinal<br>
                </div>
                <div class="move" *ngIf="this.productType=='BEARING' || this.productType=='SHAPER'">
                    <input type="radio" name="gender" value="2" formControlName="gender"> RollCasting<br>
                    <input type="radio" name="gender" value="3" formControlName="gender"> QualityCheck<br>
                    <input type="radio" name="gender" value="4" formControlName="gender">
                    MachiningEditor<br>
                    <input type="radio" name="gender" value="5" formControlName="gender">
                    InspectionEditor<br>
                    <input type="radio" name="gender" value="7" formControlName="gender">
                    Bearing&ShapperFinishing<br>
                    <input type="radio" name="gender" value="9" formControlName="gender">
                    Bearing&ShapperFinal
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ok</button>
                </div>
            </form>

        </div>

    </div>
</div>