
.primary{
color: #1DC8D5 !important;
clear: both;
padding-top: 20px;
 font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";

 }

 .myspiner /deep/ .black-overlay{
 position: fixed;
 margin-top: 200px;

}