<!-- <div class="card">
  <div class="card-body"> -->
     
<form role="form" [formGroup]="physicalGeneral" (ngSubmit)="onSubmit()">
  <div class="modal-title">
    <h3 class="primary">Physical Generals</h3>
  </div>
  <div class="modal-body">
    <div class="form group">
      <div formGroupName="appetite">
        <div class="row">
          <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Appetite</b></label>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="increase" name="increase" class="form-check-input" type="checkbox" id="pgi"
                value="increase">
              <label class="form-check-label col-form-label-sm" for="pgi">Increase</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="decreased" name="decreased" class="form-check-input" type="checkbox" id="pgd"
                value="decreased">
              <label class="form-check-label col-form-label-sm" for="pgd">Decreased</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="easysatiety" name="easysatiety" class="form-check-input" type="checkbox" id="pges"
                value="easysatiety">
              <label class="form-check-label col-form-label-sm" for="pges">Easy satiety</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="normal" name="normal" class="form-check-input" type="checkbox" id="pgn"
                value="normal">
              <label class="form-check-label col-form-label-sm" for="pgn">Normal</label>
            </div>
          </div>
        </div>
        <div>
          <input formControlName="appetiteExtra" name="appetiteExtra" type="text" value=""
            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
        </div>
      </div>
    </div>
    <div class="form group">
      <div formGroupName="thirst">
        <div class="row">
          <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Thirst:</b></label>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="thirsty" name="thirsty" class="form-check-input" type="checkbox" id="pgthirsty"
                value="thirsty">
              <label class="form-check-label col-form-label-sm" for="pgthirsty">Thirsty</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="thistles" name="thistles" class="form-check-input" type="checkbox" id="pgthistles"
                value="thistles">
              <label class="form-check-label col-form-label-sm" for="pgthistles">Thistles</label>
            </div>
          </div>
          <div class="col col-md-4 col-sm-4 col-lg-4 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="litersperday" name="litersperday" class="form-check-input" type="checkbox"
                id="pgApprox" value="litersperday">
              <label class="form-check-label col-form-label-sm" for="pgApprox">Approx. no. of Liters per day</label>
            </div>
          </div>
        </div>
        <div>
          <input formControlName="thirstyExtra" name="thirstyExtra" type="text" value=""
            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
        </div>
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Desires:</b></label>
      </div>
      <div>
        <input formControlName="desires" name="desires" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div formGroupName="addictions">
        <div class="row">
          <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Addictions:</b></label>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input formControlName="tea" name="tea" class="form-check-input mb-2" type="checkbox" id="addictionTea"
              value="tea">
            <label class="form-check-label col-form-label-sm mb-2" for="addictionTea">Tea</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="coffee" name="cofee" class="form-check-input  mb-2" type="checkbox" id="addictionCoffee"
              value="coffee">
            <label class="form-check-label col-form-label-sm mb-2" for="addictionCoffee">Coffee:</label>
            <input formControlName="coffeeperday" name="coffeeperday"
              class="form-control rounded-0 form-control-sm col-lg-1 mb-2" type="text" value="">
            <label> /day.</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="alcohal" name="alcohal" class="form-check-input mb-2 " type="checkbox" id="addictionAlcohal"
              value="alcohal">
            <label class="form-check-label col-form-label-sm mb-2" for="addictionAlcohal"><b>Alcohal:</b></label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="chronic" name="chronic" class="form-check-input  mb-2" type="checkbox" id="addictionChronic"
              value="Decreased">
            <label class="form-check-label col-form-label-sm mb-2" for="addictionChronic">Chronic:</label>
            <input formControlName="alcohalpegsperday" name="alcohalpegsperday"
              class="form-control rounded-0 form-control-sm col-lg-1 mb-2" type="text" value="" id="addictionChronic">
            <label for="addictionChronic"> / pegs day.</label>
          </div>
          <div>
            <div class="form-check form-check-inline">
              <input formControlName="socialSmoking" name="socialSmoking" class="form-check-input mb-2" type="checkbox"
                id="socialSmoking" value="socialSmoking">
              <label class="form-check-label col-form-label-sm mb-2" for="socialSmoking"><b>Social.Smoking:</b></label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="smokeChronic" name="smokeChronic" class="form-check-input  mb-2" type="checkbox"
                id="smokeChronicperday" value="socialSmoking">
              <label class="form-check-label col-form-label-sm mb-2" for="smokeChronicperday">Chronic:</label>
              <input formControlName="smokeChronicperday" name="smokeChronicperday"
                class="form-control rounded-0 form-control-sm col-lg-1 mb-2" type="text" value="">
              <label> / cigar day.</label>
            </div>
          </div>
        </div>



        <!-- <div class="form-check form-check-inline">
                  <label class="form-check-label col-form-label-sm" for="pgd"><b>Alcohal:</b></label>
                  <input class="form-check-input" type="checkbox" id="pgd" value="Decreased">
                  <label class="form-check-label col-form-label-sm" for="pgd">Chronic   / pegs day</label>
                 <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="pgd" value="Decreased">
                  <label class="form-check-label col-form-label-sm" for="pgd">Coffee:   /day.</label>
                </div> 
            </div> -->

        <div>
          <input formControlName="addictionsExtra" name="addictionsExtra" type="text" value=""
            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
        </div>
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Aversions:</b></label>
      </div>
      <div>
        <input formControlName="aversions" name="aversions" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Intolerance's:</b></label>
      </div>
      <div>
        <input formControlName="intolerance" name="intolerance" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Aggravation from:</b></label>
      </div>
      <div>
        <input formControlName="aggravationFrom" name="aggravationFrom" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2"><b>Stools:</b></label>
        <label class="col col-form-label-sm mt-2">(Frequency, Hardness, Watery, Offensive)</label>
      </div>
      <div>
        <input formControlName="stools" name="stools" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2"><b>Urine:</b></label>
        <label class="col col-form-label-sm mt-2">(Frequency, Offensive)</label>
      </div>
      <div>
        <input formControlName="urine" name="urine" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div formGroupName="perspiration">
        <div class="row">
          <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Perspiration</b></label>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="profuse" name="profuse" class="form-check-input" type="checkbox" id="pgProfuse"
                value="profuse">
              <label class="form-check-label col-form-label-sm" for="pgProfuse">Profuse</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="scanty" name="scanty" class="form-check-input" type="checkbox" id="pgScanty"
                value="scanty">
              <label class="form-check-label col-form-label-sm" for="pgScanty">Scanty</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="stainingLinen" name="stainingLinen" class="form-check-input" type="checkbox"
                id="pgStainingLinen" value="stainingLinen">
              <label class="form-check-label col-form-label-sm" for="pgStainingLinen">Staining Linen</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="offensiveness" name="offensiveness" class="form-check-input" type="checkbox"
                id="pgOffensiveness" value="offensiveness">
              <label class="form-check-label col-form-label-sm" for="pgOffensiveness">Offensiveness</label>
            </div>
          </div>
        </div>
        <div>
          <input formControlName="perspirationothers" name="perspirationothers" type="text" value=""
            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
        </div>
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2"><b>Sleep:</b></label>
        <label class="col col-form-label-sm mt-2">(Position esp in children)</label>
      </div>
      <div>
        <input formControlName="sleep" name="sleep" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Dreams:</b></label>
      </div>
      <div>
        <input formControlName="dreams" name="dreams" type="text" value=""
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
    <div class="form group">
      <div formGroupName="thermalReaction">
        <div class="row">
          <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Thermal Reaction:</b></label>
          <div class="col col-md-1 col-sm-1 col-lg-1 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="cold" name="cold" class="form-check-input" type="checkbox" id="pgCold"
                value="cold">
              <label class="form-check-label col-form-label-sm" for="pgCold">Cold</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <span>(</span>
            <div class="form-check form-check-inline">
              <input formControlName="colddampColdAgg" name="colddampColdAgg" class="form-check-input" type="checkbox"
                id="pgDampColdAgg" value="colddampColdAgg">
              <label class="form-check-label col-form-label-sm" for="pgDampColdAgg">Damp Cold Agg</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="colddryColdAgg" name="colddryColdAgg" class="form-check-input" type="checkbox"
                id="pgDryColdAgg" value="colddryColdAgg">
              <label class="form-check-label col-form-label-sm" for="pgDryColdAgg">Dry Cold Agg</label>
              <span>)</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"></div>
          <div class="col col-md-1 col-sm-1 col-lg-1 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="warmth" name="warmth" class="form-check-input" type="checkbox" id="pgWarmth"
                value="warmth">
              <label class="form-check-label col-form-label-sm" for="pgWarmth">Warmth</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <span><b> ( </b></span>
            <div class="form-check form-check-inline">
              <input formControlName="warmthdampColdAgg" name="warmthdampColdAgg" class="form-check-input"
                type="checkbox" id="pgDampColdAgg2" value="warmthdampColdAgg">
              <label class="form-check-label col-form-label-sm" for="pgDampColdAgg2">Damp Cold Agg</label>
            </div>
          </div>
          <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
            <div class="form-check form-check-inline">
              <input formControlName="warmthdryColdAgg" name="warmthdryColdAgg" class="form-check-input" type="checkbox"
                id="pgDryColdAgg2" value="warmthdryColdAgg">
              <label class="form-check-label col-form-label-sm" for="pgDryColdAgg2">Dry Cold Agg</label>
              <span><b> ) </b></span>
            </div>
          </div>
        </div>
        <div>
          <input formControlName="thermalReactionExtra" name="thermalReactionExtra" type="text" value=""
            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
        </div>
      </div>
    </div>
  <div class="form group">
    <div class="row">
      <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2"><b>Time of Aggravation:</b></label>
      <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2">Day @</label>
      <label class="col col-form-label-sm mt-2">(Morning/Noon/Afternoon/Evening)</label>
    </div>
    <div class="row">
      <div class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2"></div>
      <label class="col col-md-2 col-sm-2 col-lg-2 col-form-label-sm mt-2">Night @</label>
      <label class="col col-form-label-sm mt-2">(Night/Mid night)</label>
      <label class="col col-form-label-sm mt-2">Other:</label>
    </div>
    <div>
      <input formControlName="timeofAggravation" name="timeofAggravation" type="text"
        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
    </div>
  </div>
  <div class="form group">
    <div formGroupName="sideofbodyeffected">
      <div class="row">
        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Side of Body Affected:</b></label>
        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
          <div class="form-check form-check-inline">
            <input formControlName="right" name="right" class="form-check-input" type="checkbox" id="pgRight"
              value="right">
            <label class="form-check-label col-form-label-sm" for="pgRight">Right</label>
          </div>
        </div>
        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
          <div class="form-check form-check-inline">
            <input formControlName="left" name="left" class="form-check-input" type="checkbox" id="pgLeft" value="right">
            <label class="form-check-label col-form-label-sm" for="pgLeft">Left</label>
          </div>
        </div>
        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
          <div class="form-check form-check-inline">
            <input formControlName="rightupperLeftlower" name="rightupperLeftlower" class="form-check-input"
              type="checkbox" id="pgRightupperLeftlower" value="rightupperLeftlower">
            <label class="form-check-label col-form-label-sm" for="pgRightupperLeftlower">Right upper Left
              lower</label>
          </div>
        </div>
        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
          <div class="form-check form-check-inline">
            <input formControlName="rightlowerLeftupper" name="rightlowerLeftupper" class="form-check-input"
              type="checkbox" id="pgRightlowerLeftupper" value="rightupperLeftlower">
            <label class="form-check-label col-form-label-sm" for="pgRightlowerLeftupper">Right lower Left
              upper</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2"></div>
        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
          <div class="form-check form-check-inline">
            <input formControlName="bilateral" name="bilateral" class="form-check-input" type="checkbox"
              id="pgBilateral" value="bilateral">
            <label class="form-check-label col-form-label-sm" for="pgBilateral">Bilateral</label>
          </div>
        </div>
      </div>
      <div>
        <input formControlName="sideofBodyAffectedOthers" name="sideofBodyAffectedOthers" type="text" value="" 
          class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
      </div>
    </div>
  </div>
  <div class="form group">
    <div class="row">
      <label class="col col-md-12 col-sm-12 col-lg-12 mt-2 mt-2 col-form-label-sm"><b>Physical
          Restlessness:</b></label>
    </div>
    <div>
      <input formControlName="physicalRestlessness" name="physicalRestlessness" type="text" value="" 
        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
    </div>
  </div>
  <div class="form group">
    <div class="row">
      <label class="col col-md-12 col-sm-12 col-lg-12 mt-2 col-form-label-sm"><b>Occupation Hazards:</b></label>
    </div>
    <div>
      <input formControlName="occupationHazards" name="occupationHazards" type="text" value="" 
        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
    </div>
  </div>
  <div class="form group">
    <div class="row">
      <label class="col col-md-12 col-sm-12 col-lg-12 mt-2 col-form-label-sm"><b>Other Features:</b></label>
    </div>
    <div>
      <input formControlName="otherFeatures" name="otherFeatures" type="text-area" value="" 
        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
    </div>
  </div>
  <button class="btn btn-primary rounded-0 col-sm-2 mt-2">Next</button>
  </div>
</form>
<!-- </div>  class="myspiner"
</div> -->
<ngx-spinner ></ngx-spinner>