<div class="card">
    <div class="card-body" id="contentToConvert">
        <div id="print-section">
            <table class="table" width="100%">
                <tr>
                    <td width="75%" style='border-top:0px'>
                        <a><img src="../../../../../assets/images/masterhomelogo_header.png" alt="logo"></a>
                    </td>
                    <td width="25%" style='border-top:0px'>
                        <table width="100%">
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Phone</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>9787519529</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Fax</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>024658546</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">Email</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>info@modernrolls.com</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top: 0px;">
                                    <span class="font-weight-bold">D.No</span>
                                </td>
                                <td width="75%" style="border-top: 0px;">
                                    <span>865/2</span>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td width="100%" style="border-top:0px">
                                    <span class="font-weight-bold">Rayala Cheruvu Road</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:0px">
                                    <span class="font-weight-bold">Royal Nagar</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:0px">
                                    <span class="font-weight-bold">Tirupati - 517501</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- <tr>
              <td colspan="2" style="border-top:0px">
                  <table width="100%">
                       <tr>
                          <td style="border-top:0px">
                              <span  class="font-weight-bold">No: 865/2</span>
                          </td>
                      </tr> 
                       <tr>
                          <td style="border-top:0px">
                              <span  class="font-weight-bold">Rayala Cheruvu Road</span>
                          </td>
                      </tr>
                      <tr>
                          <td style="border-top:0px">
                              <span  class="font-weight-bold">Royal Nagar</span>
                          </td>
                      </tr>
                      <tr>
                          <td style="border-top:0px">
                              <span  class="font-weight-bold">Tirupati - 517501</span>
                          </td>
                      </tr>
                  </table>
              </td>
            </tr> -->
                <tr>
                    <td colspan="2" style="border-top:0px">
                        <table width="100%" style="margin-top:20px;">
                            <tr>
                                <td style="border-top:0px" width="15%">
                                    <span class="font-weight-bold">Patient Name</span>
                                </td>
                                <td style="border-top:0px" width="75%">
                                    <span>Vinoth</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:0px" width="15%">
                                    <span class="font-weight-bold">Patient Id</span>
                                </td>
                                <td style="border-top:0px" width="75%">
                                    <span>1212121212</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div style="font-size: 20px; color: skyblue">List of Prescriptions</div>
            <table class="borderStyle table table-striped table-responsive-sm table-product mt-5" width="100%"
                cellpadding="0" cellspacing="0">
                <thead>
                    <tr class="d-flex">
                        <!-- <th class="col-sm-3" widht="25%">SR#</th>
                        <th class="col-sm-3" widht="25%">Particular</th>
                        <th class="col-sm-3" widht="25%">Quantity</th>
                        <th class="col-sm-3" widht="25%">Amout</th> -->
                        <th class="col-sm-4">Name of the Document</th>
                        <th class="col-sm-4">Submission Date</th>
                        <th class="col-sm-4"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class=" d-flex" *ngFor="let pay of payment">
                        <th class="col-sm-4" widht="25%">{{ pay.id }}</th>
                        <td class="col-sm-4" widht="25%">
                            {{ pay.particular }}
                        </td>
                        <td class="col-sm-4" widht="25%">{{ pay.quantity | number}}</td>
                        <!-- <td class="col-sm-3">
                            <div *ngIf="isPrint else value" widht="25%">
                                <input type="text" value="{{ pay.amount | number }}">
                            </div>
                            <ng-template #value>
                                {{ pay.amount | number }}
                            </ng-template>
                        </td> -->
                    </tr>
                    <!-- <tr class=" d-flex" *ngFor="let pay of payment">
                        <th class="col-sm-3" widht="25%">{{ pay.id }}</th>
                        <td class="col-sm-3" widht="25%">
                            {{ pay.particular }}
                        </td>
                        <td class="col-sm-3 " widht="25%">{{ pay.quantity | number}}</td>
                        <td class="col-sm-3">
                            <div *ngIf="isPrint else value" widht="25%">
                                <input type="text" value="{{ pay.amount | number }}">
                            </div>
                            <ng-template #value>
                                {{ pay.amount | number }}
                            </ng-template>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <!-- <div class="form">
                <div class="form-group row">
                    <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>Days</b></label>
                    <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                </div>
                <div class="form-group row">
                    <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>GST</b></label>
                    <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                </div>
                <div class="form-group row">
                    <label style="margin: 2px; margin-left:619px;" class="col-sm-2"><b>Amount</b></label>
                    <input type="text" class="form-control col-sm-2 form-control-sm rounded-0">
                </div>
                <div class="form-group row">
                    <div style="margin: 2px; margin-left:619px;" class="col-sm-2">
                        <span class="font-weight-bold">Mode Of Payment:</span>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm rounded-0" id="formGroupInput"
                            style="width: 158px; margin-left: -14px;">
                            <option class="f2-font" *ngFor="let payType of modeofPayment" value="payType">
                                <small>{{payType}}</small></option>
                        </select>
                    </div>
                </div>
            </div> -->
            <table class="table table-responsive-sm mt-2" width="100%">
                <tr>
                    <td width="60%" style="border-top:0px;">
                    </td>
                    <td width="100%" style="border-top:0px;">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Days</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    <span><input type="text"></span>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">GST &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    {{gstRemainderCal}}
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Pay &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    {{gstValue}}
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="border-top:0px; padding-left: 0px;">
                                    <span class="font-weight-bold">Mode Of Payment:</span>
                                </td>
                                <td style="border-top:0px">
                                    <select class="form-control form-control-sm rounded-0" id="formGroupInput"
                                        style="width: 150px;">
                                        <option class="f2-font" *ngFor="let payType of modeofPayment" value="payType">
                                            <small>{{payType}}</small></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" style="border-top:0px; padding-left: 0px">
                                    <span class="font-weight-bold">Total &#8377;</span>
                                </td>
                                <td width="70%" style="border-top:0px;">
                                    {{totalamount}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <button style="margin-left: 550px;" class="btn btn-primary col-sm-2"
                (click)="paymentButtons()">Paynow</button>
        </div>
        <div *ngIf="afterPaidOnly">
            <button style="margin-left: 550px;" class="btn btn-primary col-sm-2">Paid</button>
        </div>
        <div *ngIf="afterPaidOnly" class="row mt-2">
            <div class="col-sm-4">
                <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination> -->
            </div>
            <div class="col-sm-12" style="text-align:center">
                <button class="btn btn-primary col-sm-2 mr-5" (click)="onGoBack()">Go Back</button>
                <button class="btn btn-primary col-sm-2 mr-5" (click)="captureScreenpdf()">Download PDF</button>
                <button class="btn btn-primary col-sm-2" (click)="print()">print</button>
            </div>
        </div>
    </div>
</div>