<div class="row">
    <div class="col-sm-1">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control rounded-0"
            id="formGroupExampleInput" placeholder="Misc Search">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="fromDate" name="dp" ngbDatepicker #d="ngbDatepicker"
            [(ngModel)]="fromDate" (click)="d.toggle()" style="width:100px">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="toDate" name="dp1" ngbDatepicker #d1="ngbDatepicker"
            [(ngModel)]="toDate" (click)="d1.toggle()" style="width:100px">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onDateSelection()">Filter</button>&nbsp;
        <button type="button" class="btn btn-default" (click)="fetchAllPoProduct(true)">Fetch All</button>
    </div>

    <div class="col-sm-2">
        <select [(ngModel)]="searchtype" class="form-control  rounded-0">
            <option [value]="3">Product Type</option>
            <option [value]="1">Party Name</option>
            <option [value]="0">Roll Id</option>
            <option [value]="4">PO Id</option>
            <option [value]="2">Grade</option>
        </select>
    </div>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="basicSearchTerm" class="form-control  rounded-0" placeholder="Basic Search">
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-default" (click)="searchProduct(true)">Search</button>
    </div>

    <div class="col-sm-2 text-right" *ngIf="!this.history">
        <button type="button" style="width: 100%;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 12px;"> QC History</span>
        </button>
    </div>
    <div class="col-sm-2 text-right" *ngIf="this.history">
        <button type="button" style="width: 100%;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 18px;"> Back
                to QC</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="duplicatepoProductList">Showing <b style="color: blue;">{{listCount}}</b> search
        results</div>
</div>
<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable [value]="duplicatepoProductList| filter:search" selectionMode="single" [paginator]="true"
            [rows]="15" [responsive]="true" [immutable]="false" (onRowSelect)="getProductDetails()">
            <p-column *ngFor="let col of pocols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }"></p-column>
            <p-column field="grade" header="Grade" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="col.field =='grade'?(colorMap[transaction[col.field]]):null"><b>{{transaction[col.field]}}</b></span>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Add Size" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" data-target="#editSave"
                        (click)="sizeChange(data)">Edit/Save</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Pass" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton [disabled]='this.history'
                        (click)="moveToMachining(data)">Pass</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Fail" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-danger btn-xs loading" pButton data-toggle="modal" data-target="#myModal"
                        [disabled]='this.history' (click)="remarkData(data)">Fail</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Prod. Image" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <img src={{data.productimg}} ngxViewer style="height:30px;width: 50px;" />
                    <!-- <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="previewImage(index)" data-target="#previewImage">Preview</button> -->
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea rows="4" cols="50" name="comment" form="usrform" [(ngModel)]="remark">
</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="moveToRejection()">Submit</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="previewImage" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content" style="width: 652px;
        height: 502px;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{this.image}}" width="623px" height="370px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="editSave" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Machine Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table">
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Size.</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="size"
                        [disabled]='this.history'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]='this.history'
                    (click)="updateSizeData()">Submit</button>
            </div>
        </div>

    </div>
</div>