<!-- [formGroup]="obsGynac" (ngSubmit)="onSubmit()" -->
<form role="form" #patientForms="ngForm" (ngSubmit)="setPatientConformation(patientForms.value)">
    <div class="modal-title">
        <h3 class="primary">OBS & GYNAC History</h3>
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="col-sm-2">
                    <label for="menarcheAge" class="col-form-label">Menarche at age of:</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" class="form-control form-control-sm rounded-0" id="menarcheAge" placeholder=""
                    value=""  name="menarcheAge" ngModel #menarcheAge="ngModel">
                </div>
                <div class="col-sm-9">
                      <fieldset ngModelGroup="menses">
                        <div class="form-group row">
                            <div class="col-sm-1">
                                <label class="col-form-label col-form-label-md">Menses:</label>
                            </div>
                            <div class="col-sm-3 mt-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-check form-check-inline">
                                            <input name="regular" [ngModel]="menses.regular" #regular="ngModel" class="form-check-input" type="checkbox" id="Regular" value="regular">
                                            <label class="form-check-label col-form-label-sm" for="Regular">Regular</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check form-check-inline">
                                            <input name="irregular" [ngModel]="menses.irregular" #irregular="ngModel" class="form-check-input" type="checkbox"
                                                id="Irregular" value="irregular">
                                            <label class="form-check-label col-form-label-sm" for="Irregular">Irregular</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label class="col-form-label col-form-label-sm">Frequency:</label>
                            </div>
                            <div class="col-sm-1">
                                <input name="frequency" [ngModel]="menses.frequency" #frequency="ngModel" type="text" class="form-control form-control-sm rounded-0" id="staticEmail" value="">

                            </div>
                            <div class="col-sm-1">
                                <label class="col-form-label col-form-label-sm">Days/Months</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
      
        <!-- <div class="row">
            <div class="col-sm-1">
                <label class="col-form-label">Bleeding:</label>
            </div> -->
        <div class="form-group">
            <fieldset ngModelGroup="bleeding">
                <div class="row">
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <label class="col-form-label-md">Bleeding:</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input name="scanty" [ngModel]="bleeding.scanty" #scanty="ngModel" class="form-check-input" type="checkbox" id="Scanty" value="scanty">
                            <label class="form-check-label col-form-label-sm" for="Scanty">Scanty</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input name="profuse" [ngModel]="bleeding.profuse" #profuse="ngModel" class="form-check-input" type="checkbox" id="Profuse" value="profuse">
                            <label class="form-check-label col-form-label-sm" for="Profuse">Profuse</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Normal" value="normal" name="normal" [ngModel]="bleeding.normal" #normal="ngModel">
                            <label class="form-check-label col-form-label-sm" for="Normal">Normal</label>
                        </div>
                    </div>
                    <div class="col col-md-1 col-sm-1 col-lg-1 mt-2">
                        <div class="form-check form-check-inline">
                            <input  class="form-check-input" type="checkbox" id="Clots" value="clots" name="clots" [ngModel]="bleeding.clots" #clots="ngModel">
                            <label class="form-check-label col-form-label-sm" for="Clots">Clots</label>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <label class="col-form-label col-form-label-sm ">Duration:</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm rounded-0" name="duration" [ngModel]="bleeding.duration"  #duration="ngModel" value="">
                    </div>
                    <div class="col-sm-1">
                        <label class="col-form-label col-form-label-sm">Days</label>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0"
                        id="Menopause" placeholder="Specify others if any?" value=""  name="bleedingExtra"  [ngModel]="bleeding.bleedingExtra" #bleedingExtra="ngModel">
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset ngModelGroup="pain">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-md">Pain:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Severe" value="severe" name="severe" [ngModel]="pain.severe" #severe="ngModel">
                            <label class="form-check-label col-form-label-sm" for="Severe">Severe</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Moderate" value="moderate" name="moderate" [ngModel]="pain.moderate" #moderate="ngModel">
                            <label class="form-check-label col-form-label-sm" for="Moderate">Moderate</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Mild" value="mild" name="mild" [ngModel]="pain.mild" #mild="ngModel">
                            <label class="form-check-label col-form-label-sm" for="Mild">Mild</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control form-control-sm col col-sm-10 col-md-10 col-lg-10 rounded-0"
                        id="Menopause" placeholder="Specify others Pain if any?" value=""  name="painothers" [ngModel]="pain.painothers" #painothers="ngModel">
                </div>
            </fieldset>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3" style="text-align: center">
                <label class="col-form-label">L.M.P.Dt:</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm rounded-0" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
                    let-disabled="disabled" let-focused="focused">
                    <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
                        [class.text-muted]="disabled">
                        {{ date?.day }}
                    </span>
                </ng-template>
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="G">G:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="G" value="" name="gValue" [ngModel]="gValue" #g="ngModel">
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="P">P:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="P" value="" name="pValue" [ngModel]="pValue" #p="ngModel">
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="L">L:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="L" value="" name="lValue" [ngModel]="lValue" #l="ngModel">
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="L">A:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="A" value="" name="aValue" [ngModel]="aValue" #a="ngModel">
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="L">D:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="D" value="" name="dValue" [ngModel]="dValue" #dvalue="ngModel">
            </div>
            <div class="col-sm-1" style="text-align: center">
                <label class="col-form-label" for="LCB">L.C.B:</label>
                <input type="text" class="form-control form-control-sm rounded-0" id="LCB" value=""  name="lcbValue" [ngModel]="lcbValue" #LCB="ngModel">
            </div>
            <div class="col-sm-1 mt-4">
                <label class="col-form-label  mt-2">Years</label>
            </div>
        </div>
        <div class="form-group">
            <fieldset ngModelGroup="deliveries">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-md">Deliveries:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="DeliNormal" value="deliNormal" name="deliNormal" [ngModel]="deliveries.deliNormal" #deliNormal="ngModel">
                            <label class="form-check-label col-form-label-sm" for="DeliNormal">Normal</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-sm" type="checkbox" id="DeliModerate"
                                value="delimoderate" name="delimoderate" [ngModel]="deliveries.delimoderate" #delimoderate="ngModel">
                            <label class="form-check-label col-form-label-sm" for="DeliModerate">Moderate</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <label class="col-form-label col-form-label-sm" for="DeliOther">Others:</label>
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control form-control-sm col col-sm-10 col-md-10 col-lg-10 rounded-0"
                        id="DeliOther" placeholder="" value="" name="deliveriesExtra" [ngModel]="deliveries.deliveriesExtra" #deliveriesExtra="ngModel">
                </div>
            </fieldset>
        </div>
        <div class="row mt-1">
            <div class="">
                <label class="col-form-label col-sm-2 text-nowrap" for="Tubectomy">Tubectomy at age:</label>
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control form-control-sm rounded-0" id="Tubectomy" placeholder=""
                    value="" name="tubectomyAge" [ngModel]="tubectomyAge" #tubect="ngModel">
                <!-- <input type="text" class="form-control" name="tubectomyAge" [(ngModel)]="tubectomyAge" #tubec="ngModel" /> -->
            </div>
            <div class="">
                <label class="col-form-label col-sm-2 text-nowrap" for="Hysterectomy">Hysterectomy at age:</label>
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control form-control-sm rounded-0" id="Hysterectomy" placeholder=""
                    value="" name="hysterectomyAge" [ngModel]="hysterectomyAge" #hysterec="ngModel">
            </div>
            <div class="">
                <label class="col-form-label col-sm-2 text-nowrap" for="Menopause">Menopause at age:</label>
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control form-control-sm rounded-0" id="Menopause" placeholder=""
                    value=""  name="menoPauseAge" [ngModel]="menoPauseAge" #menoPa="ngModel">
            </div>
        </div>
        <div class="mt-2">
            <div class="form-group">
                <fieldset ngModelGroup="whiteDischarge">
                    <div class="row">
                        <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-md">White Discharge:</label>
                        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="WhiteProfuse" value="profuse"  name="profuse" [ngModel]="whiteDischarge.profuse" #profuse="ngModel">
                                <label class="form-check-label col-form-label-sm" for="WhiteProfuse">Profuse</label>
                            </div>
                        </div>
                        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="WhiteCurdy" value="curdy" name="curdy" [ngModel]="whiteDischarge.curdy" #curdy="ngModel">
                                <label class="form-check-label col-form-label-sm" for="WhiteCurdy">Curdy</label>
                            </div>
                        </div>
                        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="WhiteItching" value="whiteItching" name="whiteItching" [ngModel]="whiteDischarge.whiteItching" #whiteItching="ngModel">
                                <label class="form-check-label col-form-label-sm" for="WhiteItching">Itching</label>
                            </div>
                        </div>
                        <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="WhiteSmell" value="whiteSmell" name="whiteSmell" [ngModel]="whiteDischarge.whiteSmell" #whiteSmell="ngModel">
                                <label class="form-check-label col-form-label-sm" for="WhiteSmell">Smell</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="text" class="form-control form-control-sm col-sm-10 col-md-10 col-lg-10 rounded-0"
                            id="Menopause" placeholder="Specify Others White Discharge if any?" value="" name="whiteDischargeExtra" [ngModel]="whiteDischarge.whiteDischargeExtra" #whiteDischargeExtra="ngModel">
                    </div>
                </fieldset>
            </div>
        </div>
        <button  class="btn btn-primary rounded-0 col-sm-2" >Next</button>
    </div>
</form>