<div class="row">
    <div class="col-sm-8">
        <input type="text" [(ngModel)]="search" class="form-control col-sm-5  rounded-0" id="formGroupExampleInput"
            placeholder="Search... Center Name">
    </div>
    <div class="col-sm-4 text-right">
        <!-- Button trigger modal -->
        <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
            aria-label="Close" data-toggle="modal" data-target="#createPocForm" (click)="onclear();">
            <span aria-hidden="true" class="fa fa-plus doct "><span style="padding-left: 8px; font-size: 18px;"> Add
                    Center</span></span>
        </button>
        <!-- Modal -->
    </div>
</div>
<div class="modal fade" id="createPocForm" tabindex="-1" role="dialog" aria-labelledby="createPocFormTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="background: #17a2b8;">
                <div class="text-center">
                    <h5 class="modal-title justify-content-center" id="createPocFormTitle"
                        style="color:white; font-size: 18px; ">POC</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createPocForm">
                    <!-- <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="roleName" class="col-form-label font-weight-bold">Role Name</label>  
                        </div>
                        <div class="col-sm-8 form-group">
                            <select class="custom-select custom-select-md rounded-0" id="roleName">
                                <option selected>Select</option>
                                <option value="1">Super admin</option>
                                <option value="2">Admin</option>
                                <option value="2">Reception </option>
                                <option value="2">Junior Doctor </option>
                                <option value="2">Senior Doctor</option>
                                <option value="2">Pharmacy </option>
                                <option value="2">Inhouse Lab Investigator</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="centerName" class="col-form-label font-weight-bold">Center Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="centerName" class="form-control rounded-0"
                                id="centerName" placeholder="Center Name"
                                [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['centerName'].errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && createPocForm.controls['centerName'] && !createPocForm.controls['centerName'].valid">
                        <span *ngIf="createPocForm.controls['centerName'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 377px;">
                                CenterName is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="doorNo" class="col-form-label font-weight-bold">Door No</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="doorNo" class="form-control rounded-0" id="doorNo"
                                placeholder="Door No"
                                [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['doorNo'].errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && createPocForm.controls['doorNo'] && !createPocForm.controls['doorNo'].valid">
                        <span *ngIf="createPocForm.controls['doorNo'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 376px">
                                DoorNumber is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="streetName" class="col-form-label font-weight-bold">Street Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="streetName" class="form-control rounded-0"
                                id="streetName" placeholder="Street Name"
                                [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['streetName'].errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && createPocForm.controls['streetName'] && !createPocForm.controls['streetName'].valid">
                        <span *ngIf="createPocForm.controls['streetName'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 381px;">
                                StreetName is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="area" class="col-form-label font-weight-bold">Area</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="area" class="form-control rounded-0" id="area"
                                placeholder="Area"
                                [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['area'].errors }">
                        </div>
                    </div>
                    <div *ngIf="issubmitted && createPocForm.controls['area'] && !createPocForm.controls['area'].valid">
                        <span *ngIf="createPocForm.controls['area'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 387px;">
                                AreaName is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="city" class="col-form-label font-weight-bold">City</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="city" class="form-control rounded-0" id="city" readonly
                                placeholder="">
                            <!-- <input type="text" formControlName="city" class="form-control rounded-0" id="city"  placeholder="City"> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="state" class="col-form-label font-weight-bold">State</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="state" class="form-control rounded-0" id="state"
                                readonly placeholder="">
                            <!-- <input type="text" formControlName="state" class="form-control rounded-0" id="state" placeholder="State"> -->

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="pinCode" class="col-form-label font-weight-bold">Pin Code</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="pinCode" class="form-control rounded-0" id="pinCode"
                                placeholder="Pin Code" (keyup)="getZipCode($event.target.value)"
                                [ngClass]="{ 'is-invalid': issubmitted && createPocForm.controls['pinCode'].errors }"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && createPocForm.controls['pinCode'] && !createPocForm.controls['pinCode'].valid">
                        <span *ngIf="createPocForm.controls['pinCode'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 401px;">
                                Pincode is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group" formGroupName="location">
                        <div class="col-sm-2">
                            <label for="location" class="col-form-label font-weight-bold">Location</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="lat" class="form-control rounded-0" id="location"
                                placeholder="Lat Location">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="lng" class="form-control rounded-0" id="location"
                                placeholder="lng Location">
                        </div>
                    </div>
                    <!-- <div *ngIf="issubmitted && createPocForm.controls['lat'] && !createPocForm.controls['lat'].valid">
                        <span *ngIf="createPocForm.controls['lat'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: 0px; margin-left: 37px;">
                                Latitude is required
                            </div>
                        </span>
                    </div> -->
                    <!-- <div *ngIf="issubmitted && createPocForm.controls['lng'] && !createPocForm.controls['lng'].valid">
                        <span *ngIf="createPocForm.controls['lng'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: 0px; margin-left: 37px;">
                                Langitude is required
                            </div>
                        </span>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <div *ngIf="newPoc">
                    <button type="button" class="btn btn-secondary  col-sm-5   rounded-0  mr-2" data-dismiss="modal" style="width: 115px;">Close</button>
                    <button type="button" class="btn btn-primary  col-sm-5   rounded-0" (click)="submitPocHandler()" >Create</button>
                </div>
                <div *ngIf="updatedPoc">
                    <button class="btn btn-secondary col-sm-5  rounded-0 mr-2"   id="myBtn">Close</button>
                    <button type="button" class="btn btn-danger col-sm-5  rounded-0" data-dismiss="modal" style="width: 115px;" (click) = "onUpdatedPoc(createPocForm.value)">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div *ngFor="let poc of allPocList |filter:search" class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-header" style="background: #17a2b8;">
                <div class="row">
                    <div class="col-sm-10 mt-1">
                        <span class="font-weight-bold" style="color:white"> {{poc.centerName | uppercase }}</span>
                    </div>
                    <div  class="col-sm-1">
                        <a (click)="onPocView(poc)"><i class="fa fa-pencil-square-o"  style="font-size: 28px;color: #fff;"aria-hidden="true"></i></a>
                    </div>
                    <div  class="col-sm-1">
                        <a  (click)="onPocDelete(poc)"><i class="fa fa-trash-o" style="font-size: 28px;color: #fff;" aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Door No</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.doorNo}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Street Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.streetName}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Area</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.area}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">City</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.city}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">PinCode</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.pinCode}}</p>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Location</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-left">{{poc.address}}</p>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this poc?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body text-center">
                                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="onPocDeleteConform()">Delete</button>
                            </div>
                        </div>
                    </div>
            </div>
                <!-- </div>
                    <div class="card-footer text-muted">
                            <button type="button" class="btn btn-primary btn-sm rounded-0 mr-2" style="width: 100px" >Update</button>
                            <button type="button" class="btn btn-secondary btn-sm  rounded-0"  style="width: 100px">Delete</button>
                    </div>
                </div>     -->
            </div>

        </div>