
<form [formGroup]="Genetic" (ngSubmit)="onSubmit()">
        <h3 class="primary">Genetic Constitution</h3>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Patient as an individual</label>
                <textarea formControlName="Patient" name="Patient" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</form>