<div class="row">
    <div class="col-sm-1">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control rounded-0"
            id="formGroupExampleInput" placeholder="Misc Search">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="fromDate" name="dp2" ngbDatepicker #d2="ngbDatepicker"
            [(ngModel)]="fromDate" (click)="d2.toggle()" style="width:100px">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="toDate" name="dp1" ngbDatepicker #d1="ngbDatepicker"
            [(ngModel)]="toDate" (click)="d1.toggle()" style="width:100px">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onDateSelection()" style="width: 50%;">Filter</button>
        <!-- <button type="button" class="btn btn-default" (click)="fetchAllPoProduct(true)">Fetch Dispatched</button> -->
        <button type="button" class="btn btn-default" (click)="castingHistory()" style="width: 50%;">AllNonD
        </button>
    </div>
    <div class="col-sm-1" style="padding-left: 0px !important; padding-right: 0px !important;">
        <button type="button" class="btn btn-default" (click)="castingHistory()"
            style="width: 100%;">AllDispatch</button>
    </div>
    <div class="col-sm-2">
        <select [(ngModel)]="searchtype" class="form-control  rounded-0">
            <option [value]="3">Product Type</option>
            <option [value]="1">Party Name</option>
            <option [value]="0">Roll Id</option>
            <option [value]="4">PO Id</option>
            <option [value]="2">Grade</option>
        </select>
    </div>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="basicSearchTerm" class="form-control  rounded-0" placeholder="Basic Search">
    </div>
    <div class="col-sm-1" style="padding-left: 0px !important; padding-right: 0px !important;">
        <button type="button" class="btn btn-default" (click)="searchProduct(true)" style="width: 100%;">Search</button>
    </div>
    <div class="col-sm-1">
        <label class="switch">
            <input type="checkbox" id="togBtn" [(ngModel)]="isDisToggle">
            <div class="slider round">
                <span class="on">Dispat</span>
                <span class="off">NonD</span>
            </div>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="duplicatepoProductList">Showing <b style="color: blue;">{{listCount}}</b> search
        results</div>
</div>
<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable [value]="duplicatepoProductList|filter:search" selectionMode="single" [paginator]="true"
            [rows]="15" [responsive]="true" [immutable]="false" (onRowSelect)="getProductDetails($event)">
            <p-column *ngFor="let col of pocols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }"></p-column>
            <p-column field="idList" header="Status" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="transaction[col.field].currentQueue =='Dispatched'?'blue':'black'"><b>{{transaction[col.field].currentQueue}}</b></span>
                </ng-template>
            </p-column>
            <p-column field="grade" header="Grade" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="col.field =='grade'?(colorMap[transaction[col.field]]):null"><b>{{transaction[col.field]}}</b></span>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Machining Data" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" data-target="#editSave"
                        [disabled]='this.history' (click)="machineData(data)">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="ActualDimension" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        data-target="#myDimension" (click)="dimensionData(data)">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="InspectionData" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        data-target="#machineData" (click)="inspectionData(data)">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="FinalDimension" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="finalDimensionData(data)" data-target="#finaldimension">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="ActualBearingDia" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal" [disabled]='this.history'
                        (click)="bearingData(data)" data-target="#bearingData">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Actual Certificate" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="updateChemComp(data)">View</button>
                </ng-template>
            </p-column>
            <p-column field="frost" header="Prod. Image" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <img src={{data.productimg}} ngxViewer style="height:30px;width: 50px;"
                        (click)="$event.stopPropagation();" />
                    <!-- <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="previewImage(index)" data-target="#previewImage">Preview</button> -->
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea rows="4" cols="50" name="comment" form="usrform" [(ngModel)]="remark">
</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="previewImage" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content" style="width: 652px;
        height: 502px;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{this.image}}" width="623px" height="370px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="editSave" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Machine Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table">
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Machine No.</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="machineNo" disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Operator Name</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae2" [(ngModel)]="OperatorName" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myDimension" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ActualDimension</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table">
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Dimension</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="actualDimension"
                        disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Hardness</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="actualHardness"
                        disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="machineData" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Machine Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table">
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Inspection</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="inspection" disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">InspectorName</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="inspectorName" disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Remark</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="finalremark" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="finaldimension" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Machine Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table">
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">FinalDimension</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="finalDimension"
                        disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">InspectorName</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="finalInspectorName"
                        disabled>
                </div>
                <div class="col-sm-3">
                    <label for="roleName" class="col-form-label font-weight-bold">Remark</label>
                </div>
                <div class="col-sm-8 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="finalRemark" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="bearingData" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bearing Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="row form-group table1">
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae1" [(ngModel)]="dia1" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae2" [(ngModel)]="dia2" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae3" [(ngModel)]="dia3" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae4" [(ngModel)]="dia4" disabled>
                </div>
            </div>
            <div class="row form-group table1">
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae5" [(ngModel)]="dia5" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae6" [(ngModel)]="dia6" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae7" [(ngModel)]="dia7" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae8" [(ngModel)]="dia8" disabled>
                </div>
            </div>
            <div class="row form-group table1">
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae9" [(ngModel)]="dia9" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae10" [(ngModel)]="dia10" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae11" [(ngModel)]="dia11" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae12" [(ngModel)]="dia12" disabled>
                </div>
            </div>
            <div class="row form-group table1">
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae13" [(ngModel)]="dia13" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae14" [(ngModel)]="dia14" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae15" [(ngModel)]="dia15" disabled>
                </div>
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae16" [(ngModel)]="dia16" disabled>
                </div>
            </div>
            <div class="row form-group table1">
                <div class="col-sm-3 form-group">
                    <input type="text" class="form-control rounded-0" name="nmae17" [(ngModel)]="dia17" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<form [formGroup]="chemcompForm1" id="exampleModalCenter2">
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="justify-content-center">
                        <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Test
                            Certificate</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td style="width:25%">
                                <span>Roll For</span>
                                <input type="text" formControlName="rollFor" style="width:50%;margin-left: 23%;"
                                    disabled>
                            </td>
                            <td style="width:25%">
                                <span>Item No.</span>
                                <input type="text" formControlName="itemNo" style="width:40%;margin-left: 27%;"
                                    disabled>
                            </td>
                            <td style="width:50%">Chemical Composition</td>
                        </tr>
                        <tr style="width:100%">
                            <td style="width:25%">
                                <span>Date of Test</span>
                                <input type="text" style="width:50%;margin-left: 10%;" placeholder="yyyy-mm-dd"
                                    name="dp" formControlName="dateOfTest" ngbDatepicker #d="ngbDatepicker"
                                    (click)="d.toggle()">
                                <!-- <div class="input-group-append">
                                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                                        type="button"></button>
                                </div> -->
                            </td>
                            <td style="width:25%">
                                <span>Date of Order</span>
                                <input type="text" formControlName="dateOfOrder" style="width:40%;margin-left: 10%;"
                                    disabled>
                            </td>
                            <td>
                                <table style="width:100%">
                                    <tr style="width:100%">
                                        <td style="width:10%">
                                            C
                                        </td>
                                        <td style="width:10%">
                                            Si
                                        </td>
                                        <td style="width:10%">
                                            Mn
                                        </td>
                                        <td style="width:10%">
                                            P
                                        </td>
                                        <td style="width:10%">
                                            S
                                        </td>
                                        <td style="width:10%">
                                            Cr
                                        </td>
                                        <td style="width:10%">
                                            Ni
                                        </td>
                                        <td style="width:10%">
                                            Mo
                                        </td>
                                        <td style="width:10%">
                                            Remark
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td style="width:50%"><span>Our Order No.</span>
                                <input type="text" formControlName="ourOrderNo" style="width:40%;margin-left: 10%;"
                                    disabled>
                            </td>
                            <td>
                                <table style="width:100%">
                                    <tr style="width:100%">
                                        <td style="width:10%">
                                            <input type="text" formControlName="cpercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="sipercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="mnpercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="ppercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="spercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="crpercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="nipercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="mopercentage"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                        <td style="width:10%">
                                            <input type="text" formControlName="remark"
                                                style="width:80%;margin-left: 10%">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td>
                                Dia Drg.
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia1">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia2">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia3">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia4">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia5">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia6">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia7">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia8">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia9">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia10">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia11">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia12">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia13">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia14">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia15">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia16">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia17">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="dia18">
                            </td>
                        </tr>

                    </table>
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td>
                                Long Drg.
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long1">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long2">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long3">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long4">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long5">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long6">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long7">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long8">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long9">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long10">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long11">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long12">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long13">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long14">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long15">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long16">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long17">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="long18">
                            </td>
                        </tr>

                    </table>
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td>
                                Dia Actual
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act1">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act2">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act3">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act4">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act5">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act6">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act7">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act8">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act9">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act10">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act11">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act12">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act13">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act14">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act15">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act16">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act17">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="act18">
                            </td>
                        </tr>

                    </table>
                    <table style="width:100%">
                        <tr style="width:100%">
                            <td>
                                Long Actual
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact1">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact2">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact3">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact4">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact5">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact6">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact7">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact8">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact9">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact10">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact11">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact12">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact13">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact14">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact15">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact16">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact17">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="lact18">
                            </td>
                        </tr>

                    </table>


                    <table style="width:100%">
                        <tr style="width:100%">
                            <td>
                                Drg No.
                            </td>
                            <td>
                                Quality
                            </td>
                            <td>
                                Size of Roll
                            </td>
                            <td>
                                Order Hardness on Barrel
                            </td>
                            <td>
                                Actual Hardness on Barrel
                            </td>
                            <td>
                                Remark
                            </td>
                        </tr>
                        <tr style="width:100%">
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="drgNumber">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="quality">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="sizeofRoll">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="orderHardBarrel">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%"
                                    formControlName="actualHardBarrel">
                            </td>
                            <td>
                                <input type="text" style="width:80%;margin-left: 10%" formControlName="remarks">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <div>
                        <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal"
                            style="width: 115px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="chemcompForm" id="exampleModalCenter2">
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="justify-content-center">
                        <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Chemical
                            Composition</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="cpercentage" class="col-form-label font-weight-bold"><strong>C
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentagefrom" class="form-control rounded-0"
                                id="cpercentagefrom" placeholder="C %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="cpercentageto" class="form-control rounded-0"
                                id="cpercentageto" placeholder="C %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mnpercentage" class="col-form-label font-weight-bold"><strong>Mn
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentagefrom" class="form-control rounded-0"
                                id="mnpercentagefrom" placeholder="Mn %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mnpercentageto" class="form-control rounded-0"
                                id="mnpercentageto" placeholder="Mn %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="sipercentage" class="col-form-label font-weight-bold"><strong>Si
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentagefrom" class="form-control rounded-0"
                                id="sipercentagefrom" placeholder="Si %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="sipercentageto" class="form-control rounded-0"
                                id="sipercentageto" placeholder="Si %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="spercentage" class="col-form-label font-weight-bold"><strong>S
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentagefrom" class="form-control rounded-0"
                                id="spercentagefrom" placeholder="S %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="spercentageto" class="form-control rounded-0"
                                id="spercentageto" placeholder="S %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="ppercentage" class="col-form-label font-weight-bold"><strong>P
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentagefrom" class="form-control rounded-0"
                                id="ppercentagefrom" placeholder="P %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="ppercentageto" class="form-control rounded-0"
                                id="ppercentageto" placeholder="P %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="crpercentage" class="col-form-label font-weight-bold"><strong>Cr
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentagefrom" class="form-control rounded-0"
                                id="crpercentagefrom" placeholder="Cr %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="crpercentageto" class="form-control rounded-0"
                                id="crpercentageto" placeholder="Cr %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="nipercentage" class="col-form-label font-weight-bold"><strong>Ni
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentagefrom" class="form-control rounded-0"
                                id="nipercentagefrom" placeholder="Ni %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="nipercentageto" class="form-control rounded-0"
                                id="nipercentageto" placeholder="Ni %(to)">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mopercentage" class="col-form-label font-weight-bold"><strong>Mo
                                    %</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentagefrom" class="form-control rounded-0"
                                id="mopercentagefrom" placeholder="Mo %(from)">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" formControlName="mopercentageto" class="form-control rounded-0"
                                id="mopercentageto" placeholder="Mo %(to)">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="remark" class="col-form-label font-weight-bold">Remark</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="remark" class="form-control rounded-0" id="remark"
                                placeholder="Remark">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div>
                        <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal"
                            style="width: 115px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="duration" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card  mt-2">
                    <div class="card-body">
                        <p-dataTable [value]="statusQueue" selectionMode="single" [paginator]="true" [rows]="15"
                            [responsive]="true" [immutable]="false">
                            <p-column *ngFor="let col of dcols" [field]="col.field" [header]="col.header"
                                [sortable]="col.sortable" [style]="{'text-align': 'center','width':col.width }">
                            </p-column>
                        </p-dataTable>
                        <div class="card-body">
                            <span *ngIf="isDispacthed"><b style="color:red; padding-left: 76%;">Dispatched</b></span>
                            &nbsp;&nbsp;
                            <span *ngIf="isDispacthed">{{dispatchedTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>