<app-base-patient-info></app-base-patient-info>

<div style='margin-top: 45px'></div>
<p-dataTable [value]="existPatientObjectQueue" selectionMode="single" (onRowSelect)="onRowSelect($event)"
  [paginator]="true" [rows]="10" [responsive]="true" [sortField]="sortF" [immutable]="false"
  (onSort)="changeSort($event)">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>

  <!-- <p-column styleClass="col-button">

    <ng-template pTemplate="header">
      Payment
    </ng-template>

     <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div  class="my-center-text">
        <button type="submit" class="btn btn-primary rounded-0 ml-4"
          [class.btn-info]="data.patientMobile!==statusChange" pButton
          style="text-align: center; width: 110px; height: 30px;" (click)="onPayment()">Pay Now</button>
      </div>
       <div class="my-center-text">
        <button type="submit" class="btn btn-primary rounded-0 ml-4" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="goToDoctor(data)" style="text-align: center; width: 110px; height: 30px;" >Pay Now</button>
       </div> 
  </ng-template>
  </p-column> -->
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <button type="submit" class="btn btn-primary rounded-0 ml-4" pButton (click)="goToDoctor(data)"
          style="text-align: center; width: 110px; height: 30px;" [disabled]="data.presentQueueType != 0">Go to
          Doctor</button>
      </div>
    </ng-template>

  </p-column>
</p-dataTable>