
<form [formGroup]="clinicalFindings" (ngSubmit)="onSubmit()">
    <h3 class='primary'>Clinical Findings</h3>
    <div class="row mt-3">
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="git"> GIT:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" formControlName="git" name="git" class="form-control form-control-sm rounded-0" id="git"
                value="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="rs"> RS:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" formControlName="rs" name="rs" class="form-control form-control-sm rounded-0" id="rs"
                value="">
        </div>
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="lungs"> Lungs:</label>
        </div>
        <div class="col-sm-2">
            <input type="text" formControlName="lungs" name="lungs" class="form-control form-control-sm rounded-0" id="lungs"
                value="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="cns"> CNS:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" formControlName="cns" name="cns" class="form-control form-control-sm rounded-0" id="cns"
                value="">
        </div>
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="pulse"> Pulse:</label>
        </div>
        <div class="col-sm-2">
            <input type="text" formControlName="pulse" name="pulse" class="form-control form-control-sm rounded-0" id="pulse"
                value="">
        </div>
        <div class="col-sm-1">
            <label class="col-form-label col-form-label-sm" for="bp"> BP:</label>
        </div>
        <div class="col-sm-2">
            <input type="text" formControlName="bp" name="bp" class="form-control form-control-sm rounded-0" id="bp"
                value="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
             <h3 class="primary">Genetic Constitution</h3>
                <label for="exampleFormControlTextarea1" for="geneticConstitution">Patient as an individual</label>
                <textarea formControlName="geneticConstitution" name="Patient" class="form-control" id="geneticConstitution" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary rounded-0 col-sm-2">Next</button>
</form>

