$topnav-background-color: #222;
$input-border-bottom-color:#959797;
$place-holder-color:#C8C9C9;
$input-bottom-active-color:#1E88E5;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    
    background: $topnav-background-color;
    text-align: center;
    color: #fff;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 30px;
        padding: 10px 16px;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
       // border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid $input-border-bottom-color;

        // color: #fff;
        color: $topnav-background-color;

        border-radius: 0;
    }
    .input-underline:focus {
       // border-bottom: 2px solid #fff #38303099;
        border-bottom: 2px solid $input-bottom-active-color;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
           // color: rgba(255, 255, 255, 0.6) !important;
            color: $place-holder-color !important;
            opacity:0.5
        }

        input:-moz-placeholder {
            /* Firefox 18- */
             // color: rgba(255, 255, 255, 0.6) !important;
            color:  $place-holder-color !important;
            opacity:0.5

        }

        input::-moz-placeholder {
            /* Firefox 19+ */
             // color: rgba(255, 255, 255, 0.6) !important;
            color:  $place-holder-color !important;
            opacity:0.5

        }

        input:-ms-input-placeholder {
             // color: rgba(255, 255, 255, 0.6) !important; 2422229
            color:  $place-holder-color !important;
            opacity:0.5

        }
    }
    .form-content {
        padding: 3px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0px;
}



@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 28.333333%;
}
}

.rounded {
    border-radius: 0rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 20px !important;
    margin-top: 82px !important;
}
.btn {
    border-radius: 2px !important;
}



.password{
    text-align: center;
    
}

.no-border{
    border:none;
  }

.login-modal-background {
    background-color: #eceeef;
}
span{
    position: absolute;
    margin-left: 317px;
    margin-top: 7px;
    height: 25px;
    display: flex;
    align-items: center;
    color: #000;
}