<div class="login-page"
    style=" background-image: linear-gradient(rgba(29, 4, 4, 0.37), rgb(3, 3, 3)), url(../../assets/images/rolls_reels.jpg) "
    [@routerTransition]>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="row justify-content-md-center ">
        <div class="col-md-4 card shadow-lg p-3 mb-5 bg-white rounded" style="padding:64px;height: 400px;">
            <img class="card-img-top" src="../../assets/images/modernrollslogo.png" height="350" width="100"
                alt="ModernRolls Logo" style="zoom:30%;padding-right: 34% !important;padding-left: 34% !important;">
            <h3 style="color:black">Modern Rolls & Engineering Limited</h3>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <!--  <span>
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </span> -->
                        <input type="text" formControlName="userName" class="form-control input-underline input-lg"
                            placeholder="{{ 'UserName' | translate }}">
                        <!-- <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                            <div *ngIf="f.userName.errors.required">Username is required</div>
                        </div> -->
                    </div>

                    <div class="form-group">
                        <span>
                            <i *ngIf="!showPass" (click)="showPassword()" class="fa fa-eye-slash"
                                aria-hidden="true"></i>
                            <i *ngIf="showPass" (click)="showPassword()" class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <input type="{{type}}" formControlName="password" class="form-control input-underline input-lg"
                            placeholder="{{ 'Password' | translate }}">
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div> -->
                    </div>
                </div>
                <div style="text-align: left;">
                    <a href="#" style="color:#5f5f5f; font-size: 15px;" data-toggle="modal"
                        data-target="#myModal">Forgot Password?</a>
                </div>
                <div style="padding: 18px 0;">
                    <a class="btn btn-primary btn-block" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                    <!-- &nbsp;
                    <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
                    <div *ngIf='wrongEntry'>
                        <p class="text-danger"> Please Check Username and Password</p>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row  pull-right" stye="display:black !important;text-align: right !important;" style="text-align:right">
        <div class="col-md-12  pull-right social" stye="display:black !important;">
            <a href="#/">
                <img src="../../assets/images/fb25px.png" alt="facebook" style="padding-right: 10px;">
            </a>
            <a href="#/">
                <img src="../../assets/images/twitt25px.png" alt="facebook" style="padding-right: 10px;">
            </a>
            <a href="#/">
                <img src="../../assets/images/in25px.png" alt="facebook" style="padding-right: 10px;">
            </a>
            <h6 stye="display:black !important;" style="font-size: 12px; padding-top: 5px;">2020-21 @ModernRolls </h6>
            <h6 stye="display:black !important;" style="font-size: 12px;">www.ModernRolls.com</h6>
            <h6 stye="display:black !important;" style="font-size: 12px;">v1.1.23 (24th Sept 2020)</h6>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content mx-auto">
            <div class="modal-header d-block no-border">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title text-center" id="exampleModalLabel"><b>Forgot Password</b></h5>
                <p style='font-size: 15px; text-align: center; padding-top: 8px;'>We need a bit of your detailed
                    information to proceed. Please enter your login email address to generate OTP. Enter your OTP to
                    reset your password.</p>
            </div>
            <div class="modal-body login-modal-background no-border">
                <form id="forgetPassword" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <input class="form-control input-no-border ng-untouched ng-pristine ng-valid rounded-0"
                                    placeholder="Email" type="text">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-gray" data-target="#myModal" data-toggle="modal" type="button">Close</button>
                <button class="btn btn-success" type="button">Generate OTP</button>
            </div>
        </div>
    </div>
</div>