/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~angular-notifier/styles";

/* Including PrimeMG CSS*/
@import url('../../node_modules/primeng/resources/themes/omega/theme.css');
@import url('../../node_modules/primeng/resources/primeng.min.css');
@import url('../../node_modules/primeicons/primeicons.css');

// @import url('../../node_modules/primeicons/primeicons.css');
// @import url('../../node_modules/primeng/resources/themes/nova-light/theme.css');
// @import url('../../node_modules/primeng/resources/primeng.min.css');

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.la-ball-clip-rotate-pulse.la-2x {
    position: fixed !important;
}

.loading-text {
    position: fixed !important;
}

.positionRight{
  animation:animateright 0.4s;
  padding-left: 726px;
  margin-top:-28px;
  height: 110%;
}
@keyframes animateright{
  from{
    right:-300px;opacity:0
  } to{
    right:0;opacity:1
  }
}


.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
  }
  .hidden {
    display: none;
  }
  html {
    font-size: 14px;
    // -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
  body {
    // font-weight: 300;
    overflow-x: hidden;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    // color: #343434; 
    background-color: #fbfbfb !important;
    // font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif" F2F3F8;
}
*{
  // font-family: arial,sans-serif;
  // font-family: "proxima_novaregular", "Helvetica Neue", Helvetica, Arial,"sans-serif";
  //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";
}
// primeng Data table Header
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 13px;
  padding: 15px;
}
.ui-datatable th.ui-state-default {
  // background: #ebedf0;
  background-color: #f7f9fd;
  /* border-color: #d9d9d9; */
}
.ui-widget-header {
    background-color: #f7f9fd;
    /* background: #f6f7f9 0 0 repeat-x; */
    /* background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%); */
}
.ui-datatable th.ui-state-active {
  background: #186ba0;
  //color: #ffffff;
  color: #000;
}
.card-body {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #00000030;
  /* box-shadow: 0 0 10px 0px #8dc1ca7d; */
}
.myspiner /deep/ .black-overlay{
position: fixed;
}

