<div>
    <div style="position: absolute; padding-top:30%; padding-left: 50%">
          <a [routerLink]="'/'">
            <span>Go Home</span>
          </a>
      </div>
  <img src="../../assets/images/404-error.gif" alt="404-Erro" style="width: 100%; height:100%">
  
</div>