
<form role="form" [formGroup]="mentalGeneral" (ngSubmit)="onSubmit()">
    <div class="modal-title">
        <h3 class="primary">Mental Generals</h3>
    </div>
    <div class="modal-body">
        <h6><small> Try to Catch Hold of the Frank Syphylitic Rubric or Most Peculiar Mental Symptom; your case will be
                success.</small></h6>
        <div>
            <h5 class="head1 pt-2">Ailments from</h5>
            <hr class="mt-2">
            <div class="form-group">
                <div formGroupName="ailmentsFrom">
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="extraverted" name="extraverted" class="form-check-input"
                                    type="checkbox" id="Extraverted" value="extraverted">
                                <label class="form-check-label col-form-label-sm" for="Extraverted">Extraverted</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="introverted" name="introverted" class="form-check-input"
                                    type="checkbox" id="Introverted" value="introverted">
                                <label class="form-check-label col-form-label-sm" for="Introverted">Introverted</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="loquacity" name="loquacity" class="form-check-input"
                                    type="checkbox" id="Loquacity" value="loquacity">
                                <label class="form-check-label col-form-label-sm" for="Loquacity">Loquacity</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="talkIndisposed" name="talkIndisposed" class="form-check-input"
                                    type="checkbox" id="Talk Indisposed to Vivcious"
                                    value="talkIndisposed">
                                <label class="form-check-label col-form-label-sm" for="Talk Indisposed to Vivcious">Talk
                                    Indisposed to Vivcious</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" formControlName="eiltothers" name="eiltothers" value=""
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="conscientious" name="conscientious" class="form-check-input"
                                    type="checkbox" id="Conscientious" value="conscientious">
                                <label class="form-check-label col-form-label-sm"
                                    for="Conscientious">Conscientious</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="careless" name="careless" class="form-check-input"
                                    type="checkbox" id="Careless" value="careless">
                                <label class="form-check-label col-form-label-sm" for="Careless">Careless</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input formControlName="ccothers" name="ccothers" type="text" value=""
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="hurried" name="hurried" class="form-check-input" type="checkbox"
                                    id="Hurried" value="hurried">
                                <label class="form-check-label col-form-label-sm" for="Hurried">Hurried</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="anxious" name="anxious" class="form-check-input" type="checkbox"
                                    id="Anxious" value="anxious">
                                <label class="form-check-label col-form-label-sm" for="Anxious">Anxious</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="speechHistory" name="speechHistory" class="form-check-input"
                                    type="checkbox" id="Speech History" value="speechHistory">
                                <label class="form-check-label col-form-label-sm" for="Speech History">Speech
                                    History</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="stammering" name="stammering" class="form-check-input"
                                    type="checkbox" id="Stammering" value="stammering">
                                <label class="form-check-label col-form-label-sm" for="Stammering">Stammering</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="hassothers" name="hassothers" type="text" value=""
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="sensitive" name="sensitive" class="form-check-input"
                                    type="checkbox" id="Sensitive" value="sensitive">
                                <label class="form-check-label col-form-label-sm" for="Sensitive">Sensitive</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="emotional" name="emotional" class="form-check-input"
                                    type="checkbox" id="Emotional" value="emotional">
                                <label class="form-check-label col-form-label-sm" for="Emotional">Emotional</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="weeping" name="weeping" class="form-check-input" type="checkbox"
                                    id="Weeping" value="weeping">
                                <label class="form-check-label col-form-label-sm" for="Weeping">Weeping</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="rude" name="rude" class="form-check-input" type="checkbox"
                                    id="Rude" value="rude">
                                <label class="form-check-label col-form-label-sm" for="Rude">Rude</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="sewrothers" name="sewrothers" type="text" value=""
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="brooding" name="brooding" class="form-check-input"
                                    type="checkbox" id="Brooding" value="brooding">
                                <label class="form-check-label col-form-label-sm" for="Brooding">Brooding</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="reproching" name="reproching" class="form-check-input"
                                    type="checkbox" id="Reproching" value="reproching">
                                <label class="form-check-label col-form-label-sm" for="Reproching">Reproching</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="others" name="others" class="form-check-input" type="checkbox"
                                    id="Others" value="others">
                                <label class="form-check-label col-form-label-sm" for="Others">Others</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="herself" name="herself" class="form-check-input" type="checkbox"
                                    id="Herself" value="herself">
                                <label class="form-check-label col-form-label-sm" for="Herself">Herself</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="brohothers" name="brohothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="dominating" name="dominating" class="form-check-input"
                                    type="checkbox" id="MgDominating" value="dominating">
                                <label class="form-check-label col-form-label-sm" for="MgDominating">Dominating</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="dictatorial" name="dictatorial" class="form-check-input"
                                    type="checkbox" id="mgDictatorial" value="dictatorial">
                                <label class="form-check-label col-form-label-sm"
                                    for="mgDictatorial">Dictatorial</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="milld" name="milld" class="form-check-input" type="checkbox"
                                    id="mgMilld" value="milld">
                                <label class="form-check-label col-form-label-sm" for="mgMilld">Milld</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="timid" name="timid" class="form-check-input" type="checkbox"
                                    id="mgTimid" value="timid">
                                <label class="form-check-label col-form-label-sm" for="mgTimid">Timid</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="bashful" name="bashful" class="form-check-input" type="checkbox"
                                    id="mgBashful" value="bashful">
                                <label class="form-check-label col-form-label-sm" for="mgBashful">Bashful</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="childish" name="childish" class="form-check-input"
                                    type="checkbox" id="mgChildish" value="childish">
                                <label class="form-check-label col-form-label-sm" for="mgChildish">Childish</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="slowness" name="slowness" class="form-check-input"
                                    type="checkbox" id="mgSlowness" value="slowness">
                                <label class="form-check-label col-form-label-sm" for="mgSlowness">Slowness</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="idiotic" name="idiotic" class="form-check-input" type="checkbox"
                                    id="mgIdiotic" value="idiotic">
                                <label class="form-check-label col-form-label-sm" for="mgIdiotic">Idiotic</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="ddmtbsothers" name="ddmtbothers" type="text" value=""
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h5 class="head1">Fears/Phobia</h5>
            <hr class="mt-2">
            <div class="form-group">
                <div formGroupName="fearsAndFobia">
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="haughty" name="haughty" class="form-check-input" type="checkbox"
                                    id="Haughty" value="haughty">
                                <label class="form-check-label col-form-label-sm" for="Haughty">Haughty</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="effeminate" name="effeminate" class="form-check-input"
                                    type="checkbox" id="Effeminate" value="effeminate">
                                <label class="form-check-label col-form-label-sm" for="Effeminate">Effeminate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input formControlName="heothers" name="heothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="anger" name="anger" class="form-check-input" type="checkbox"
                                    id="Anger" value="anger">
                                <label class="form-check-label col-form-label-sm" for="Anger">Anger</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="rage" name="rage" class="form-check-input" type="checkbox"
                                    id="Rage" value="rage">
                                <label class="form-check-label col-form-label-sm" for="Rage">Rage</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="fury" name="fury" class="form-check-input" type="checkbox"
                                    id="Fury" value="fury">
                                <label class="form-check-label col-form-label-sm" for="Fury">Fury</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="arfothers" name="arfothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="avarice" name="avarice" class="form-check-input" type="checkbox"
                                    id="Avarice" value="avarice">
                                <label class="form-check-label col-form-label-sm" for="Avarice">Avarice</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="sqaunderer" name="sqaunderer" class="form-check-input"
                                    type="checkbox" id="Sqaunderer" value="sqaunderer">
                                <label class="form-check-label col-form-label-sm" for="Sqaunderer">Sqaunderer</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input formControlName="asothers" name="asothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <label class="col-form-label-md">Company</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="desire" name="desire" class="form-check-input" type="checkbox"
                                    id="Desire" value="desire">
                                <label class="form-check-label col-form-label-sm" for="Desire">Desire</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="aversion" name="aversion" class="form-check-input"
                                    type="checkbox" id="Aversion" value="aversion">
                                <label class="form-check-label col-form-label-sm" for="Aversion">Aversion</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="cdaothers" name="cdathers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="startlling" name="startlling" class="form-check-input"
                                    type="checkbox" id="Startlling" value="startlling">
                                <label class="form-check-label col-form-label-sm" for="Startlling">Startlling</label>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-4 col-lg-4 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="sensesAcute" name="sensesAcute" class="form-check-input"
                                    type="checkbox" id="Senses Acute" value="sensesAcute">
                                <label class="form-check-label col-form-label-sm" for="Senses Acute">Senses
                                    Acute</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input formControlName="ssothers" name="ssothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="sympathetic" name="sympathetic" class="form-check-input"
                                    type="checkbox" id="Sympathetic" value="sympathetic">
                                <label class="form-check-label col-form-label-sm" for="Sympathetic">Sympathetic</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="charitable" name="charitable" class="form-check-input"
                                    type="checkbox" id="Charitable" value="charitable">
                                <label class="form-check-label col-form-label-sm" for="Charitable">Charitable</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input formControlName="scothers" name="scothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="yielding" name="yielding" class="form-check-input"
                                    type="checkbox" id="Yielding" value="yielding">
                                <label class="form-check-label col-form-label-sm" for="Yielding">Yielding</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="obstinate" name="obstinate" class="form-check-input"
                                    type="checkbox" id="Obstinate" value="obstinate">
                                <label class="form-check-label col-form-label-sm" for="Obstinate">Obstinate</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input type="text" formControlName="yoothers" name="yoothers" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="suicidal" name="suicidal" class="form-check-input"
                                    type="checkbox" id="Suicidal" value="suicidal">
                                <label class="form-check-label col-form-label-sm" for="Suicidal">Suicidal</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="impulsive" name="impulsive" class="form-check-input"
                                    type="checkbox" id="Impulsive" value="impulsive">
                                <label class="form-check-label col-form-label-sm" for="Impulsive">Impulsive</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="quarrelsome" name="quarrelsome" class="form-check-input"
                                    type="checkbox" id="Quarrelsome" value="quarrelsome">
                                <label class="form-check-label col-form-label-sm" for="Quarrelsome">Quarrelsome</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="sarcastic" name="sarcastic" class="form-check-input"
                                    type="checkbox" id="Sarcastic" value="sarcastic">
                                <label class="form-check-label col-form-label-sm" for="Sarcastic">Sarcastic</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input type="text" formControlName="siqsthers" name="siqsothers" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="nymphomania" name="nymphomania" class="form-check-input"
                                    type="checkbox" id="Nymphomania" value="nymphomania">
                                <label class="form-check-label col-form-label-sm" for="Nymphomania">Nymphomania</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="satyriasis" name="satyriasis" class="form-check-input"
                                    type="checkbox" id="Satyriasis" value="satyriasis">
                                <label class="form-check-label col-form-label-sm" for="Satyriasis">Satyriasis</label>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <input type="text" formControlName="nsothers" name="nsothers" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="artistic" name="artistic" class="form-check-input"
                                    type="checkbox" id="Artistic" value="artistic">
                                <label class="form-check-label col-form-label-sm" for="Artistic">Artistic</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="creative" name="creative" class="form-check-input"
                                    type="checkbox" id="Creative" value="creative">
                                <label class="form-check-label col-form-label-sm" for="Creative">Creative</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" formControlName="acothers" name="acothers" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <label class="col-form-label-md">Gestures:</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="jesting" name="jesting" class="form-check-input" type="checkbox"
                                    id="Jesting" value="jesting">
                                <label class="form-check-label col-form-label-sm" for="Jesting">Jesting</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="witty" name="witty" class="form-check-input" type="checkbox"
                                    id="Witty" value="witty">
                                <label class="form-check-label col-form-label-sm" for="Witty">Witty</label>
                            </div>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-lg-3 mt-2">
                            <div class="form-check form-check-inline">
                                <input formControlName="cheerful" name="cheerful" class="form-check-input"
                                    type="checkbox" id="Cheerful" value="cheerful">
                                <label class="form-check-label col-form-label-sm" for="Cheerful">Cheerful</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input formControlName="gjwcothers" name="gjwcothers" type="text" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <label class="col col-md-12 col-sm-12 col-lg-12 mt-2 col-form-label-md"> Mental
                            Resitiessness:
                        </label>
                    </div>
                    <div class="row">
                        <input formControlName="mentalResitiessness" name="mentalResitiessness" type="text-area" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                    <div class="row">
                        <label class="col col-md-12 col-sm-12 col-lg-12 mt-2 col-form-label-md">Other
                            Symptoms:</label>
                    </div>
                    <div  class="row">
                        <input formControlName="otherSymptoms" name="otherSymptoms" type="text-area" value="" 
                            class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary rounded-0 col-sm-2">Next</button>
    </div>
</form>

