.head1  {
    color:#1DC8D5;
    font-size: 1.5rem;
    clear: both;
  }

.primary{
color: #1DC8D5 !important;
clear: both;
padding-top: 20px;
 font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";

 }
