<div class="card">
    <div class="card-body">
        <form role="form">
            <div class="modal-title">
                <h3 class="primary">OnBoarding</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Height</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Height:</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm rounded-0" name="height"
                            formControlName="height" placeholder="Enter your height in cm">
                    </div>
                    <div class="f2-font">cm</div>
                </div>
                <!-- <div>
                <div>
                <div class=col-sm-4>
                <label class="f2-font" for="height">Height:</label>
                </div> -->

                <!-- <div class="form-group row">
                        <label for="height" class="col-sm-4 f2-font col-form-label">Height</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>  -->

                <!-- <ng-container *ngIf="selectedFeet">
            
            <div class="col-sm-4">
                <select class="form-control form-control-sm rounded-0" id="feet" (change)="onChangeFeetOption($event.target.value)">
                    <option class = "f2-font" *ngFor="let feet of bmiFeet">{{feet}}</option>
                </select>
            </div>
            <div class="col-sm-4" >
                <select class="form-control form-control-sm rounded-0" id="inch" (change)="onChangeInchOption($event.target.value)">
                    <option  *ngFor="let inch of bmiInch" class = "f2-font" >{{inch}}</option>
                </select>
            </div>
            </ng-container> -->
                <!-- <ng-container *ngIf="selectedCms">
                            <div class="col-sm-8">
                                <input  type="text" class="form-control form-control-sm rounded-0"  name="bmiHeight" formControlName="bmiHeight" (keyup)="onHeightChange($event)" placeholder="Enter Height"/> 
                            </div>
                        </ng-container>
                        <div class="col-sm-4 ">
                            <select class="form-control form-control-sm rounded-0" id="height" (change)="onChangeHeightOption($event.target.value)">
                                <option class = "f2-font" *ngFor="let heightOption of bmiHeightOption">{{heightOption}}</option>
                            </select>
                        </div> 
                        <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        </div> 

                    </div>     
                
                    </div> -->

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Weight</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Weight:</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm rounded-0" name="bmiWeight"
                            placeholder="Enter Your Weight in kgs" />
                    </div>
                    <div class="f2-font">kgs</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">BMI</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Your BMI (Kg/m²)</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm rounded-0" name="bmiCalcuation"
                            formControlName="bmiCalcuation" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Marital Status</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Marital Status:</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm rounded-0">
                            <option class="f2-font" *ngFor="let maritalStatus of maritalStatusOption">{{maritalStatus}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Marital Life</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Marital Life:</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm rounded-0" placeholder="Enter Years" />
                    </div>
                    <label class="f2-font" for="formAdhar">Years</label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Children</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Children:</label>
                    </div>
                    <div class='col-sm-1'>
                        <label class="f2-font">Male</label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm rounded-0">
                            <option class="f2-font" *ngFor="let male of children">{{male}}</option>
                        </select>
                    </div>
                    <div class='col-sm-1'>
                        <label class="f2-font">FeMale</label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm rounded-0">
                            <option class="f2-font" *ngFor="let feMale of children">{{feMale}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Dite</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Dite:</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm rounded-0">
                            <option class="f2-font" *ngFor="let diet of dietOption">{{diet}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="primary">Homeopathic Medicine</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=col-sm-4>
                        <label class="f2-font">Homeopathic Medicine:</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm rounded-0">
                            <option class="f2-font" *ngFor="let homeopathicUsed of homeopathicMedicineOption">
                                {{homeopathicUsed}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info rounded-0 col-sm-2 text-center">Submit</button>
        </form>
    </div>
</div>