.primary{
    color: #1DC8D5 !important;
    clear: both;
    padding-top: 20px;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";
}

.f2-font{
    color: #828282;    
    font-size: 14px !important;
    line-height: 1.5;
    color: #343434;
    background-color: #fff;
    font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial,"sans-serif";
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


@media print {  
    @page {  
      size:297mm 210mm;  
    }  
}