<form role="form">
  <div class="modal-title">
      <h3 class="primary" >Labtest Prescription</h3>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
      </div>
      <!-- <div class="mt-2">
        <div class="text-center"> <button type="button" class="btn btn-primary rounded-0" >Submit to Lab</button></div>
      </div> -->
      <div class="form-group">
        <div class="row">
            <div class="col col-md-3 col-sm-3 col-lg-3">
                <label for="number" class="col-form-label-sm">Amount Collect</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="number" class="form-control form-control-sm rounded-0">
            </div>
        </div>
      
      <div class="row">
        <div class="col col-md-3 col-sm-3 col-lg-3">
            <label for="number" class="col-form-label-sm">Comment</label>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="number" class="form-control form-control-sm rounded-0">
        </div>
      </div>
      <div class="mt-2">
        <div class="text-center"> <button type="button" class="btn btn-primary rounded-0" >Submit</button></div>
      </div>
     </div>
    </div>
</form>
