<form role="form">
    <div class="modal-title">
        <h3 class="primary" >Labtest Prescription</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <!-- <label for="exampleFormControlTextarea1"></label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
        </div>
        <div class="mt-2">
          <div class="text-center"> <button type="button" class="btn btn-primary rounded-0" >Submit to Lab</button></div>
        </div>
        <!-- *ngIf="selectedLink4"   (click)="addreports()" -->
        <!-- <div >
            <div class="from-group mt-2" >
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input  type="number" class="form-control form-control-sm rounded-0"  placeholder="Enter Report Name">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary rounded-0">Upload</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input  type="number" class="form-control form-control-sm rounded-0"  placeholder="Enter Report Name">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary rounded-0">Upload</button>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary rounded-0 col-sm-2">Submit</button>
                </div>
            </div>
        </div> -->
       
      <div class="form-group mt-2">
        <div>
          <h4 >Upload the Reports</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input  type="number" class="form-control  rounded-0"  placeholder="Enter Report Name">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary rounded-0">Upload</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input  type="number" class="form-control  rounded-0"  placeholder="Enter Report Name">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary rounded-0">Upload</button>
            </div>
        </div>
      </div>
      </div>
</form>
