<!-- <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
    (click)="ShowPoDiv();">
    <span style="padding-left: 8px; font-size: 18px;">Move to RollCasting</span>
</button> -->
<div class="row">
    <div class="col-sm-1">
        <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control rounded-0"
            id="formGroupExampleInput" placeholder="Misc Search">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="fromDate" name="dp" ngbDatepicker #d="ngbDatepicker"
            [(ngModel)]="fromDate" (click)="d.toggle()" style="width:100px">
    </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="toDate" name="dp1" ngbDatepicker #d1="ngbDatepicker"
            [(ngModel)]="toDate" (click)="d1.toggle()" style="width:100px">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onDateSelection()">Filter</button>&nbsp;
        <button type="button" class="btn btn-default" (click)="fetchAllPoProduct(true)">Fetch All</button>
    </div>

    <div class="col-sm-2">
        <select [(ngModel)]="searchtype" class="form-control  rounded-0">
            <option [value]="3">Product Type</option>
            <option [value]="1">Party Name</option>
            <option [value]="0">Roll Id</option>
            <option [value]="4">PO Id</option>
            <option [value]="2">Grade</option>
        </select>
    </div>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="basicSearchTerm" class="form-control  rounded-0" placeholder="Basic Search">
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-default" (click)="searchProduct(true)">Search</button>
    </div>

    <div class="col-sm-2 text-right" *ngIf="!this.history">
        <button type="button" style="width: 100%;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 12px;"> Roll
                Planner History</span>
        </button>
    </div>
    <div class="col-sm-2 text-right" *ngIf="this.history">
        <button type="button" style="width: 100%;height: 37.5px;" class="closet btn btn-info rounded-0"
            (click)="castingHistory();">
            <span style="padding-left: 8px; font-size: 18px;"> Back
                to RollPlanner</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="duplicatepoProductList">Showing <b style="color: blue;">{{listCount}}</b> search
        results</div>
</div>
<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable [value]="duplicatepoProductList|filter:search" selectionMode="single" [paginator]="true"
            [rows]="15" [responsive]="true" [immutable]="false" (onRowSelect)="getProductDetails($event)">
            <p-column *ngFor="let col of pocols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                [style]="{'text-align': 'center','width':col.width }">
            </p-column>
            <p-column field="idList" header="Status" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="transaction[col.field].currentQueue =='Dispatched'?'blue':'black'"><b>{{transaction[col.field].currentQueue}}</b></span>
                </ng-template>
            </p-column>
            <p-column field="grade" header="Grade" [filter]="false" [sortable]="false"
                [style]="{'text-align': 'center','width':'7%'}">
                <ng-template let-col let-transaction="rowData" pTemplate="body">
                    <span
                        [style.color]="col.field =='grade'?(colorMap[transaction[col.field]]):null"><b>{{transaction[col.field]}}</b></span>
                </ng-template>
            </p-column>
            <p-column field="frost" header="RollCasting" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-data="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <button class="btn btn-success btn-xs loading" pButton (click)="moveToRollCasting(data)"
                        [disabled]='data.idList.currentQueue != "Planning"'>Move</button>
                </ng-template>
            </p-column>
            <p-column field="productimg" header="Prod. Image" [style]="{'width':'9%','text-align': 'center'}">
                <ng-template let-productimg="rowData" let-index="rowIndex" let-col pTemplate="body">
                    <img src={{productimg.productimg}} ngxViewer style="height:30px;width: 50px;"
                        (click)="$event.stopPropagation();" />
                    <!-- {{productimg.productimg}} -->
                    <!-- <button class="btn btn-success btn-xs loading" pButton data-toggle="modal"
                        (click)="previewImage(index)" data-target="#previewImage">Preview</button> -->
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
    class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
        style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>
<!-- <button type="button" style=" width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
    (click)="ShowPoDiv();"><span style="padding-left: 8px; font-size: 18px;">Move to RollCasting</span>
</button> -->

<div class="modal fade" id="previewImage" role="dialog">
    <div class="modal-dialog modal-800">

        <div class="modal-content" style="width: 652px;
        height: 502px;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{this.image}}" width="623px" height="370px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"> -->



<div class="modal fade" id="duration" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card  mt-2">
                    <div class="card-body">
                        <p-dataTable [value]="statusQueue" selectionMode="single" [paginator]="true" [rows]="15"
                            [responsive]="true" [immutable]="false">
                            <p-column *ngFor="let col of dcols" [field]="col.field" [header]="col.header"
                                [sortable]="col.sortable" [style]="{'text-align': 'center','width':col.width }">
                            </p-column>
                        </p-dataTable>
                        <div class="card-body">
                            <span *ngIf="isDispacthed"><b style="color:red; padding-left: 76%;">Dispatched</b></span>
                            &nbsp;&nbsp;
                            <span *ngIf="isDispacthed">{{dispatchedTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>