
<!-- <form name="pastMedicalHistory" (ngSubmit)="onFamilyMedicalHistory()" #familMedicalHistor="ngForm"> -->
  <ng-container *ngFor="let item of data.ParentChildchecklist">
      <div class="row">
          <div class="col-sm-12 mt-3">
              <div class="form-group form-check ">
                      <input type="checkbox" class="form-check-input"  [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" id ="{{item.id}}" (ngModelChange)="parentCheck(item)" />
                      <label class="form-check-label" for="{{item.id}}">{{item.value}}</label>
              </div>
              <div class="row mt-1" *ngIf="item.isSelected">
                  
                  <div *ngFor="let itemChildX of item.childList" class="col-sm-12">
                      <h6 class="primary mt-1">{{itemChildX.title}}</h6>
                     <div class="row">
                          <div *ngFor="let itemChild of itemChildX.maternal" class="col-sm-2">
                                  <div class="form-group form-check ">
                                      <input type="checkbox" class="form-check-input"  [(ngModel)]="itemChild.isSelected" name="list_name_child"  id ="{{item.id}}{{itemChild.id}}" 
                                      (ngModelChange)="childCheck(item)" />
                                      <label class="form-check-label" for="{{item.id}}{{itemChild.id}}">{{itemChild.value}}</label>
                                  </div>    
                          </div>
                     </div>
                  </div>
                  <div *ngFor="let itemChild of item.childList2" class="col-sm-12">
                          <h6 class="primary mt-1">{{itemChild.title}}</h6>
                         <div class="row">
                              <div *ngFor="let paternal of itemChild.paternal" class="col-sm-2">
                                      <div class="form-group form-check ">
                                          <input type="checkbox"  class="form-check-input" [(ngModel)]="paternal.isSelected" name="list_name_child" id ="{{item.id}}{{paternal.id}}" 
                                          (ngModelChange)="childCheck(item)" />
                                          <label class="form-check-label" for="{{item.id}}{{paternal.id}}">{{paternal.value}}</label>
                                      </div>
                              </div>
                         </div>
                      </div>
              </div>
          </div>
      </div>
  </ng-container>



  <button type="submit" class="btn btn-primary rounded-0 mb-2" (click)="submitFamilyHistory()">Submit</button>
<!-- </form> -->

<!-- <div class="form-group form-check ">
  <input type="checkbox"  class="form-check-input" [(ngModel)]="paternal.isSelected" name="list_name_child" value="{{item.id}}{{paternal.id}}"  id ="{{item.id}}{{paternal.id}}" 
  (ngModelChange)="childCheck(item,item.childList2[0].maternal)" />
  <label class="form-check-label" for="{{item.id}}{{paternal.id}}">{{paternal.value}}</label>
</div> -->

<!-- <ng-container *ngFor="let item of data.ParentChildchecklist">
    <div class="row">
      <div class="col-sm-12">
        <input type="checkbox" class="form-check-input"  [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" id ="{{item.id}}" (ngModelChange)="parentCheck(item)" />
        <label class="form-check-label" for="{{item.id}}">{{item.value}}</label>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let itemChild of item.lifeCycle" class="col-sm-12">
          <input type="checkbox" class="form-check-input"   [(ngModel)]="itemChild.isSelected" name="list_name_child" value="{{itemChild.lid}}"  id ="{{itemChild.lid}}" 
          (ngModelChange)="childCheck()" />
          <label class="form-check-label" for="{{itemChild.lid}}">{{itemChild.value}}</label>
          <div class="row" >
            <div *ngFor="let chickList of itemChild.chickList" class="col-sm-6 mt-5">
              <input type="checkbox" class="form-check-input"   [(ngModel)]="chickList.isSelected" name="list_name_child2" value="{{chickList.cid}}"  id ="{{chickList.cid}}" 
              (ngModelChange)="childCheck2()" />
              <label class="form-check-label" for="{{chickList.cid}}">{{chickList.value}}</label>
            </div>
        </div>
        </div>
    </div> 
    
  </ng-container> -->

  
  