<!-- <app-base-patient-info></app-base-patient-info> -->
<!-- <div style='margin-top: 45px'></div> -->
<p-dataTable [value]="existPatientObjectQueue" selectionMode="single" (onRowSelect)="onRowSelect($event)"
  [paginator]="true" [rows]="7" [responsive]="true" [sortField]="sortF" [immutable]="false"
  (onSort)="changeSort($event)">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Investigate</span><span *ngIf="data.patientMobile!==statusChange">Investigate</span></button>  (click)="valueChanged()"-->
        <button class='btn btn-info rounded-0' style="text-align: center; width: 126px; height: 30px; padding: 3px;"
          pButton (click)="valueChanged(data)" [disabled]='data.presentQueueType != 2'>Investigate</button>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Investigate</span><span *ngIf="data.patientMobile!==statusChange">Investigate</span></button> -->
        <button class='btn btn-info rounded-0' style="text-align: center; width: 126px; height: 30px; padding: 3px;"
          (click)="goToManger(data)" [disabled]='data.presentQueueType != 2'>Go to Manager</button>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Investigate</span><span *ngIf="data.patientMobile!==statusChange">Investigate</span></button> -->
        <button class='btn btn-info rounded-0' style="text-align: center; width: 126px; height: 30px; padding: 3px;"
          (click)="goToDiagnostics(data)" [disabled]='data.presentQueueType != 2'>GotoDiagnostics</button>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>