<!--  <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading Awesomeness...</p>
</ngx-spinner> -->


<!-- <ngx-spinner class = "myspiner"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  fullScreen = 'true'
  divArray = 1000
  divCount = 1000
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<router-outlet></router-outlet>
<notifier-container></notifier-container>
<!-- <ngx-spinner ></ngx-spinner> -->
<!-- <ngx-spinner class="myspiner"></ngx-spinner> -->
	<ngx-spinner  [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>