

<p-dataTable
[value]="existPatientObjectQueue"
selectionMode="single"
[paginator]="true"
[rows]="7"
[responsive]="true"
[immutable]="false"
>
<p-column
  *ngFor="let col of cols"
  [field]="col.field"
  [header]="col.header"
  [sortable]="true"
></p-column>
<p-column styleClass="col-button">
  <ng-template pTemplate="header">
    Action
  </ng-template>

<ng-template let-data="rowData" pTemplate="body" style="text-align: center;" >
  <div class="my-center-text ml-5">
    <button type="button btn btn-info"  (click)="valueChanged(data); onPayment()" [disabled]= 'data.presentQueueType != 3' class="btn btn-primary  rounded-0"  >
        Payment
    </button>
  </div>
</ng-template>

</p-column>
<!-- <p-column styleClass="col-button">
  <ng-template pTemplate="header">
    Action
  </ng-template>

<ng-template let-data="rowData" pTemplate="body" style="text-align: center;" >
  <div class="my-center-text ml-5">
    <button type="button btn btn-info" style="margin-left: -27px;"  (click)="valueChanged(data); goToPharmacy()" [disabled]= 'data.presentQueueType != 3' class="btn btn-primary  rounded-0"  >
        GoTOPharmacy
    </button>
  </div>
</ng-template>

</p-column> -->

</p-dataTable>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PresCription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-6">
                      <span>Patient Name:</span>
                  </div>
                  <div class="col-sm-6">
                    {{ptName}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <span>Date:</span>
                  </div>
                  <div class="col-sm-6">
                     {{ptDate | date:'fullDate'}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <span>Time:</span>
                  </div>
                  <div class="col-sm-6">
                    {{ptDate | date:'h:mm a z'}}
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img src="../../../../../assets/images/prescription.png" alt="prescription" style="width: 765px;">
          </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <div class="row">
                  <div class="col-sm-2">
                      <span>Amout</span>
                  </div>
                  <div class="col-sm-6">
                      <input class="form-control form-control-sm" type="text" placeholder="Days">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-2">
                      <span>Days</span>
                  </div>
                  <div class="col-sm-6">
                      <input class="form-control form-control-sm" type="text" placeholder="Days">
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-sm-4">
                      <button type="button" class="btn btn-secondary  rounded-0"(click)="onPayment();">Pay Amount</button>
                  </div>
                  <div class="col-sm-8">
                      
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary  rounded-0" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary  rounded-0"  data-dismiss="modal"  >Go to Pharmacy</button>
      </div>
    </div>
  </div>
</div>