<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section [ngClass]="{collapsed: collapedSideBar}">
    <section [ngClass]="isExpanded ? 'main-container' : 'main-container2'">
        <router-outlet></router-outlet>
    </section>
</section>
