
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='primary'>Medication History</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class = "f2-font" for="formGroupOther">Are you currently taking any medications?</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" formControlName = "curentlytakingmedicins" name="curentlytakingmedicins" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="Are you currently taking any medications?">
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-0 mb-2">Next</button>
        </form>
   