<!-- Button trigger modal -->
<button type="button" style="margin-left:860px; width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0" aria-label="Close" data-toggle="modal" data-target="#exampleModalCenter" (click)="Onclear();">
    <span aria-hidden="true" class="fa fa-plus doct"><span style="padding-left: 8px; font-size: 18px;">Create Employee</span></span>
</button> 
<!-- Create EMp Modal -->
<form  [formGroup]="empregisterForm"  (ngSubmit)="onSubmit()" id="exampleModalCenter2" >
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div  class="justify-content-center"> 
                <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Create Employee</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="name" class="col-form-label font-weight-bold">Name</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="name" class="form-control rounded-0" id="name" placeholder="Name"[ngClass]="{ 'is-invalid': issubmitted && f.name.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && empregisterForm.controls['name'] && !empregisterForm.controls['name'].valid">
                        <span *ngIf="empregisterForm.controls['name'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 546px">Name is
                                required
                            </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mobileNumber" class="col-form-label font-weight-bold">Mobile Number</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="mobileNumber" class="form-control rounded-0" 
                                [ngClass]="{ 'is-invalid': issubmitted && f.mobileNumber.errors }"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                id="mobileNumber" placeholder="Mobile Number" maxlength="10">
                        </div>
                    </div>
                    <div   
                        *ngIf="issubmitted && empregisterForm.controls['mobileNumber'] && !empregisterForm.controls['mobileNumber'].valid">
                        <span *ngIf="empregisterForm.controls['mobileNumber'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Mobile Number is required
                            </div>
                        </span>
                    </div>
                     <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="userName" class="col-form-label font-weight-bold">User Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="userName" class="form-control rounded-0" id="userName"
                                placeholder="User Name"   [ngClass]="{ 'is-invalid': issubmitted && f.userName.errors }">
                        </div>
                    </div>
                    <div 
                        *ngIf="issubmitted && empregisterForm.controls['userName'] && !empregisterForm.controls['userName'].valid">
                        <span *ngIf="empregisterForm.controls['userName'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">UserName is required </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="password" class="col-form-label font-weight-bold">Password</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" formControlName="password" class="form-control rounded-0" id="state"
                                placeholder="Password" [ngClass]="{ 'is-invalid': issubmitted && f.password.errors }">
                        </div>
                    </div>
                    <div   [ngClass]="{ 'is-invalid': issubmitted && f.password.errors }"
                        *ngIf="issubmitted && empregisterForm.controls['password'] && !empregisterForm.controls['password'].valid">
                        <span *ngIf="empregisterForm.controls['password'].hasError('required') ">
                            <div style="color:crimson; font-size: 12px; margin-top: -12px; margin-left: 524px;">Password is required </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="emailId" class="col-form-label font-weight-bold">Email Id</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="emailId" class="form-control rounded-0" id="emailId" placeholder="Email Id" [ngClass]="{ 'is-invalid': issubmitted && f.emailId.errors }">
                        </div>
                    </div>
                    <div 
                        *ngIf="issubmitted && empregisterForm.controls['emailId'] && !empregisterForm.controls['emailId'].valid">
                        <span *ngIf="empregisterForm.controls['emailId'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Email ID is needed</div>
                        </span>
                        <span *ngIf="empregisterForm.controls['emailId'].hasError('email') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 556px;"> Invalid Email Id</div>
                        </span>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="age" class="col-form-label font-weight-bold">Age</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="number"  formControlName="age" class="form-control rounded-0" id="age" placeholder="age">
                        </div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-2" style="padding-top:65px;">
                            <label for="gender" class="col-form-label font-weight-bold">Gender</label>  
                        </div>
                        <div class="col-sm-8">
                            <div class="genderContainer" id="gender" >
                                <div class="row">
                                    <div class="col-sm-3">
                                      <span [ngClass]="maleGenderActive ? 'maleActive' : 'maleInActive'"  (click)="genderActive($event)" value="Male" id="Male" ></span> <br>
                                      <p style="margin-left: 18px;">Male</p>
                                    </div>
                                    
                                    <div class="col-sm-3">
                                      <span [ngClass]="feMaleGenderActive ? 'feMaleActive' : 'feMaleInActive'"  (click)="genderActive($event)"   value="FeMale" id="FeMale"></span><br>
                                      <p style="margin-left: 14px;">FeMale</p>
                                    </div>
                                            
                                    <div class="col-sm-3">
                                      <span [ngClass]="otherGenderActive ? 'otherGenderActive' : 'otherGenderInActive'"  (click)="genderActive($event)"   value="Other" id="Other"></span> <br>
                                      <p style="margin-left: 14px;">Others</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="roleList" class="col-form-label font-weight-bold">Role List</label>  
                        </div>
                        <div class="col-sm-8" *ngFor="let rolelist of getcreatedRole">
                            <div class="row">
                                    <div  *ngFor="let role of rolelist; let i=index" class="col-sm-4">
                                        <div class="form-group form-check ">
                                            <input class="form-check-input" [ngModel]="isSelected(role)" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange(role, $event)" type="checkbox" id="{{role.roleName}}" name="topicgroup_{{i}}">
                                            <label class="form-check-label" for="{{role.roleName}}">{{role.roleName}}</label>
                                        </div>
                                            <!-- {{role.roleName}} -->
                                        <div>
                                                <!-- <div class="form-group form-check "  *ngFor="let role of rolelist" class="col-sm-4">
                                                    <input type="checkbox"  class="form-check-input" name="list_name_child" id ="{{role.roleName}}" value="{{role.roleName}}" (click)="getRoleId(role)"/>
                                                    <label class="form-check-label" for="{{role.roleName}}" (click)="getRoleId(role)">{{role.roleName}}</label>
                                                </div> -->
                                        </div>
                                    </div>
                            </div>
                            <!-- <select  formControlName="roleList"   class="custom-select custom-select-md rounded-0" id="roleList">
                                <option *ngFor="let role of roleName" value="{{role}}">{{role}}</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="qualification" class="col-form-label font-weight-bold">Qualification</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="qualification" class="form-control rounded-0" id="qualification" placeholder="Qualification">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="yearsOfExp" class="col-form-label font-weight-bold">YearsOfExp</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="yearsOfExp" class="form-control rounded-0" id="yearsOfExp" placeholder="YearsOfExp">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="speciality" class="col-form-label font-weight-bold">Speciality</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="speciality" class="form-control rounded-0" id="speciality" placeholder="Speciality">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="centerName" class="col-form-label font-weight-bold">Center Name</label>
                        </div>
                        <div class="col-sm-8">
                            <select formControlName="centerId" class="custom-select custom-select-md rounded-0"
                                id="centerName" [ngClass]="{ 'is-invalid': issubmitted && f.centerId.errors }">
                                <option *ngFor="let centerName of getAllPocData" [value]="centerName._id">
                                    {{centerName.centerName}}</option>
                            </select>
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && empregisterForm.controls['centerId'] && !empregisterForm.controls['centerId'].valid">
                        <span *ngIf="empregisterForm.controls['centerId'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 558px">
                                Choose Center 
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <!-- <button class="btn btn-primary">Register</button> -->
                    </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div>
                <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal" style="width: 115px;">Close</button>
                <button class=" btn btn-primary col-sm-5  rounded-0"   id="myBtn">Create</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- UpdateEmpModel -->
<form  [formGroup]="empregisterForm"  (ngSubmit)="onUpdateEmp()">
    <div class="modal fade" id="updateempModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitleUpdate" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div  class="justify-content-center"> 
                <h5 class="modal-title justify-content-center" id="exampleModalCenterTitleUpdate">Update Employee</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="nameUpdate" class="col-form-label font-weight-bold">Name</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="name" class="form-control rounded-0" id="nameUpdate"
                                placeholder="Name" [ngClass]="{ 'is-invalid': issubmitted && f.name.errors }">
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && empregisterForm.controls['name'] && !empregisterForm.controls['name'].valid">
                        <span *ngIf="empregisterForm.controls['name'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 546px">Name is
                                required
                            </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="mobileNumberUodate" class="col-form-label font-weight-bold">Mobile Number</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="mobileNumber" class="form-control rounded-0"
                                [ngClass]="{ 'is-invalid': issubmitted && f.mobileNumber.errors }"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                id="mobileNumberUodate" placeholder="Mobile Number" maxlength="10">
                        </div>
                    </div>
                    <div   
                        *ngIf="issubmitted && empregisterForm.controls['mobileNumber'] && !empregisterForm.controls['mobileNumber'].valid">
                        <span *ngIf="empregisterForm.controls['mobileNumber'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -12px; margin-left: 496px">Mobile Number is required
                            </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="userNameUpdate" class="col-form-label font-weight-bold">User Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="userName" class="form-control rounded-0" id="userNameUpdate"
                                placeholder="User Name"   [ngClass]="{ 'is-invalid': issubmitted && f.userName.errors }">
                        </div>
                    </div>
                    <div 
                        *ngIf="issubmitted && empregisterForm.controls['userName'] && !empregisterForm.controls['userName'].valid">
                        <span *ngIf="empregisterForm.controls['userName'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 520px;">UserName is required </div>
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="passwordUpdate" class="col-form-label font-weight-bold">Password</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" formControlName="password" class="form-control rounded-0" id="passwordUpdate"
                                placeholder="Password" [ngClass]="{ 'is-invalid': issubmitted && f.password.errors }">
                        </div>
                    </div>
                    <div   [ngClass]="{ 'is-invalid': issubmitted && f.password.errors }"
                        *ngIf="issubmitted && empregisterForm.controls['password'] && !empregisterForm.controls['password'].valid">
                        <span *ngIf="empregisterForm.controls['password'].hasError('required') ">
                            <div style="color:crimson; font-size: 12px; margin-top: -12px; margin-left: 524px;">Password is required </div>
                        </span>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="emailIdUpdate" class="col-form-label font-weight-bold">Email Id</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="emailId" class="form-control rounded-0" id="emailIdUpdate"
                                placeholder="Email Id" [ngClass]="{ 'is-invalid': issubmitted && f.emailId.errors }">
                        </div>
                    </div>
                    <div 
                        *ngIf="issubmitted && empregisterForm.controls['emailId'] && !empregisterForm.controls['emailId'].valid">
                        <span *ngIf="empregisterForm.controls['emailId'].hasError('required') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 536px;">Email ID is needed</div>
                        </span>
                        <span *ngIf="empregisterForm.controls['emailId'].hasError('email') ">
                            <div style="color: crimson; font-size: 12px; margin-top: -12px; margin-left: 556px;"> Invalid Email Id</div>
                        </span>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="age" class="col-form-label font-weight-bold">Age</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="number"  formControlName="age" class="form-control rounded-0" id="age" placeholder="age">
                        </div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-2" style="padding-top:65px;">
                            <label for="gender" class="col-form-label font-weight-bold">Gender</label>  
                        </div>
                        <div class="col-sm-8">
                            <div class="genderContainer" id="gender" >
                                <div class="row">
                                    <div class="col-sm-3">
                                      <span [ngClass]="maleGenderActive ? 'maleActive' : 'maleInActive'"  (click)="genderActive($event)" value="Male" id="Male" ></span> <br>
                                      <p style="margin-left: 18px;">Male</p>
                                    </div>
                                    
                                    <div class="col-sm-3">
                                      <span [ngClass]="feMaleGenderActive ? 'feMaleActive' : 'feMaleInActive'"  (click)="genderActive($event)"   value="FeMale" id="FeMale"></span><br>
                                      <p style="margin-left: 14px;">FeMale</p>
                                    </div>
                                            
                                    <div class="col-sm-3">
                                      <span [ngClass]="otherGenderActive ? 'otherGenderActive' : 'otherGenderInActive'"  (click)="genderActive($event)"   value="Other" id="Other"></span> <br>
                                      <p style="margin-left: 14px;">Others</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="roleListUpdate" class="col-form-label font-weight-bold">Role List</label>  
                        </div>
                        <div class="col-sm-8" *ngFor="let rolelist of getcreatedRole">
                            <div class="row">
                                    <div  *ngFor="let role of rolelist; let i=index" class="col-sm-4">
                                        <div class="form-group form-check ">
                                            <input class="form-check-input" [ngModel]="role.isSelected" [ngModelOptions]="{standalone: true}" (ngModelChange)="onUpdateChange(role, $event)" type="checkbox" id="{{role.roleName}}{{i}}" name="topicgroup_{{i}}">
                                            <label class="form-check-label" for="{{role.roleName}}{{i}}">{{role.roleName}}</label>
                                        </div>
                                         <!-- <div class="form-group form-check ">
                                            <input class="form-check-input" [ngModel]="isSelected(role)" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange(role, $event)" type="checkbox" id="{{role.roleName}}" name="topicgroup_{{i}}">
                                            <label class="form-check-label" for="{{role.roleName}}">{{role.roleName}}</label>
                                        </div> -->
                                            <!-- {{role.roleName}} -->
                                        <div>
                                                <!-- <div class="form-group form-check "  *ngFor="let role of rolelist" class="col-sm-4">
                                                    <input type="checkbox"  class="form-check-input" name="list_name_child" id ="{{role.roleName}}" value="{{role.roleName}}" (click)="getRoleId(role)"/>
                                                    <label class="form-check-label" for="{{role.roleName}}" (click)="getRoleId(role)">{{role.roleName}}</label>
                                                </div> -->
                                        </div>
                                    </div>
                            </div>
                            <!-- <select  formControlName="roleList"   class="custom-select custom-select-md rounded-0" id="roleList">
                                <option *ngFor="let role of roleName" value="{{role}}">{{role}}</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="qualificationUpdate" class="col-form-label font-weight-bold">Qualification</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="qualification" class="form-control rounded-0" id="qualificationUpdate" placeholder="Qualification">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="yearsOfExpUpdate" class="col-form-label font-weight-bold">YearsOfExp</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="yearsOfExp" class="form-control rounded-0" id="yearsOfExpUpdate" placeholder="YearsOfExp">
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-sm-2">
                            <label for="specialityUpdate" class="col-form-label font-weight-bold">Speciality</label>  
                        </div>
                        <div class="col-sm-8">
                            <input type="text" formControlName="speciality" class="form-control rounded-0" id="specialityUpdate" placeholder="Speciality">
                        </div>
                    </div>

                     <div class="row form-group">
                        <div class="col-sm-2">
                            <label for="centerNameUpdate" class="col-form-label font-weight-bold">Center Name</label>
                        </div>
                        <div class="col-sm-8">
                            <select formControlName="centerId" class="custom-select custom-select-md rounded-0"
                                id="centerNameUpdate" [ngClass]="{ 'is-invalid': issubmitted && f.centerId.errors }">
                                <option *ngFor="let centerName of getAllPocData" [value]="centerName._id">
                                    {{centerName.centerName}}</option>
                            </select>
                        </div>
                    </div>
                    <div
                        *ngIf="issubmitted && empregisterForm.controls['centerId'] && !empregisterForm.controls['centerId'].valid">
                        <span *ngIf="empregisterForm.controls['centerId'].hasError('required') ">
                            <div style="color: crimson;font-size: 12px; margin-top: -8px; margin-left: 558px">
                                Choose Center 
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <!-- <button class="btn btn-primary">Register</button> -->
                    </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="text-nowrap">
                <button class="btn btn-primary col-sm-5  rounded-0  mr-2">Updated</button>
                <!-- <button type="button" class="btn btn-danger col-sm-5  rounded-0 mr-2" data-dismiss="modal" style="width: 115px;" (click) = "onDeleteEmp()">Delete</button> -->
                <button type="button" class="btn btn-danger col-sm-5  rounded-0 mr-2" style="width: 115px;" (click)= "deleteModelShow()" data-target="#delete">Delete</button>
                <button type="button" class="btn btn-secondary col-sm-5  rounded-0 mr-2" data-dismiss="modal" style="width: 115px;">Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this Employee?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary  rounded-0" (click)="onDeleteEmp()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="card  mt-2">
    <div class="card-body">
        <p-dataTable
        [value]="empList"
        selectionMode="single"
        [paginator]="true"
        [rows]="15"
        [responsive]="true"
        [sortField]="sortF"
        [immutable]="false"
        (onRowSelect)="getEmpValue($event)"
      >
        <p-column
          *ngFor="let col of cols"
          [field]="col.field"
          [header]="col.header"
          [sortable]="col.sortable"
        ></p-column>
        </p-dataTable>
    </div>
</div>