
<form [formGroup]="physicalMakeup" (ngSubmit)="onSubmit()">
    <div class="modal-title">
        <h3 class="primary">Physical Makeup</h3>
    </div>
    <div class="modal-body">
        <div class="form group">
            <div formGroupName="appearance">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm"><b>Appearance</b></label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="fastidious" name="fastidious" class="form-check-input"
                                type="checkbox" id="pmFastidious" value="Fastidious">
                            <label class="form-check-label col-form-label-sm" for="pmFastidious">Fastidious</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="raged" name="raged" class="form-check-input" type="checkbox"
                                id="pmRaged" value="Raged">
                            <label class="form-check-label col-form-label-sm" for="pmRaged">Raged</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="normal" name="normal" class="form-check-input" type="checkbox"
                                id="pmNormal" value="Normal">
                            <label class="form-check-label col-form-label-sm" for="pmNormal">Normal</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="apperanceothers" name="apperanceothers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" placeholder="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="built">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Built:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="thin" name="thin" class="form-check-input" type="checkbox" id="Thin"
                                value="thin">
                            <label class="form-check-label col-form-label-sm" for="Thin">Thin</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="moderate" name="moderate" class="form-check-input" type="checkbox"
                                id="Moderate" value="moderate">
                            <label class="form-check-label col-form-label-sm" for="Moderate">Moderate</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="well" name="well" class="form-check-input" type="checkbox" id="Well"
                                value="well">
                            <label class="form-check-label col-form-label-sm" for="Well">Well</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="overWeight" name="overWeight" class="form-check-input"
                                type="checkbox" id="OverWeight" value="overWeight">
                            <label class="form-check-label col-form-label-sm" for="OverWeight">Over Weight</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="obese" name="obese" class="form-check-input" type="checkbox"
                                id="Obese" value="obese">
                            <label class="form-check-label col-form-label-sm" for="Obese">Obese</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2"></div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="tall" name="tall" class="form-check-input" type="checkbox" id="Tall"
                                value="Tall">
                            <label class="form-check-label col-form-label-sm" for="Tall">Tall</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="shortStatured" name="shortStatured" class="form-check-input"
                                type="checkbox" id="ShortStatured" value="ShortStatured">
                            <label class="form-check-label col-form-label-sm" for="ShortStatured">Short statured</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="normalBuilt" name="normalBuilt" class="form-check-input"
                                type="checkbox" id="Normal" value="Normal">
                            <label class="form-check-label col-form-label-sm" for="Normal">Normal</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="dwarfish" name="dwarfish" class="form-check-input" type="checkbox"
                                id="Dwarfish" value="Dwarfish">
                            <label class="form-check-label col-form-label-sm" for="Dwarfish">Dwarfish</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="builtOthers" name="builtOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" placeholder="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="nourishment">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Nourishment:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="under" name="under" class="form-check-input" type="checkbox"
                                id="Under" value="Under">
                            <label class="form-check-label col-form-label-sm" for="Under">Under</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="nourisModerate" name="nourisModerate" class="form-check-input" type="checkbox"
                                id="nourisModerate" value="nourisModerate">
                            <label class="form-check-label col-form-label-sm" for="nourisModerate">Moderate</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="nourishWell" name="nourishWell" class="form-check-input" type="checkbox" id="nourishWell"
                                value="Well">
                            <label class="form-check-label col-form-label-sm" for="nourishWell">Well</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="anemic" name="anemic" class="form-check-input" type="checkbox"
                                id="Anemic" value="Anemic">
                            <label class="form-check-label col-form-label-sm" for="Anemic">Anemic</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="nourishmentOthers" name="nourishmentOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="face">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Face:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="round" name="round" class="form-check-input" type="checkbox"
                                id="Round" value="Round">
                            <label class="form-check-label col-form-label-sm" for="Round">Round</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="ovel" name="ovel" class="form-check-input" type="checkbox" id="Ovel"
                                value="Ovel">
                            <label class="form-check-label col-form-label-sm" for="Ovel">Ovel</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="angular" name="angular" class="form-check-input" type="checkbox"
                                id="Angular" value="Angular">
                            <label class="form-check-label col-form-label-sm" for="Angular">Angular</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="faceOthers" name="faceOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="Specify any other Face?" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="nose">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Nose:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="sharp" name="sharp" class="form-check-input" type="checkbox"
                                id="Sharp" value="Sharp">
                            <label class="form-check-label col-form-label-sm" for="Sharp">Sharp</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="carbon" name="carbon" class="form-check-input" type="checkbox"
                                id="Carbon" value="Carbon">
                            <label class="form-check-label col-form-label-sm" for="Carbon">Carbon</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="blunt" name="blunt" class="form-check-input" type="checkbox"
                                id="Blunt" value="Blunt">
                            <label class="form-check-label col-form-label-sm" for="Blunt">Blunt</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="noseOthers" name="noseOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div class="row">
                <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Eys Color:</label>
            </div>
            <div>
                <input formControlName="eysColor" name="eysColor" type="text"
                    class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id="EysColor"
                    value=" ">
            </div>
        </div>
        <div class="form group">
            <div class="row">
                <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Ear:</label>
            </div>
            <div>
                <input formControlName="ear" name="ear" type="text"
                    class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id="Ear" value=" ">
            </div>
        </div>
        <div class="form group">
            <div formGroupName="foreHead">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Fore Head:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="broad" name="broad" class="form-check-input" type="checkbox"
                                id="Broad" value="Broad">
                            <label class="form-check-label col-form-label-sm" for="Broad">Broad</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="small" name="small" class="form-check-input" type="checkbox"
                                id="col-Small" value="col-Small">
                            <label class="form-check-label col-form-label-sm" for="col-Small">Small</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="foreheadOthers" name="foreheadOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="wrinkleOnForeHead">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Wrinkles on Fore Head</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="vertical" name="vertical" class="form-check-input" type="checkbox"
                                id="Vertical" value="Vertical">
                            <label class="form-check-label col-form-label-sm" for="Vertical">Vertical</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="horizontal" name="horizontal" class="form-check-input"
                                type="checkbox" id="Horizontal" value="Horizontal">
                            <label class="form-check-label col-form-label-sm" for="Horizontal">Horizontal</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="text" formControlName="wrinklesonforeheadOthers" name="wrinklesonforeheadOthers"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="hairAppearance">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Hair Appearance</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="soft" name="soft" class="form-check-input" type="checkbox" id="Soft"
                                value="Soft">
                            <label class="form-check-label col-form-label-sm" for="Soft">Soft</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="hard" name="hard" class="form-check-input" type="checkbox" id="Hard"
                                value="Hard">
                            <label class="form-check-label col-form-label-sm" for="Hard">Hard</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="curly" name="curly" class="form-check-input" type="checkbox"
                                id="Curly" value="Curly">
                            <label class="form-check-label col-form-label-sm" for="Curly">Curly</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="hairappearanceOthers" name="hairappearanceOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div class="row">
                <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Hair Distribution:</label>
            </div>
            <div>
                <input formControlName="hairDistribution" name="hairDistribution" type="text"
                    class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0"
                    id="HairDistribution" value=" ">
            </div>
        </div>
        <div class="form group">
            <div formGroupName="baldhead">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Bald Head</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="complete" name="complete" class="form-check-input" type="checkbox"
                                id="Complete" value="Complete">
                            <label class="form-check-label col-form-label-sm" for="Complete">Complete</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="frontal" name="frontal" class="form-check-input" type="checkbox"
                                id="Frontal" value="Frontal">
                            <label class="form-check-label col-form-label-sm" for="Frontal">Frontal</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="parietal" name="parietal" class="form-check-input" type="checkbox"
                                id="Parietal" value="Parietal">
                            <label class="form-check-label col-form-label-sm" for="Parietal">Parietal</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="notBald" name="notBald" class="form-check-input" type="checkbox"
                                id="NotBaid" value="NotBaid">
                            <label class="form-check-label col-form-label-sm" for="NotBaid">Not Bald</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="baldheadOthers" name="baldheadOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div formGroupName="grayHair">
                <div class="row">
                    <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Gray Hair:</label>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="severe" name="severe" class="form-check-input" type="checkbox"
                                id="Servere" value="Servere">
                            <label class="form-check-label col-form-label-sm" for="Servere">Severe</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="mild" name="mild" class="form-check-input" type="checkbox" id="Mild"
                                value="Mild">
                            <label class="form-check-label col-form-label-sm" for="Mild">Mild</label>
                        </div>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-lg-2 mt-2">
                        <div class="form-check form-check-inline">
                            <input formControlName="grayHarirModerate" name="grayHarirModerate" class="form-check-input" type="checkbox"
                                id="grayHarirModerate" value="grayHarirModerate">
                            <label class="form-check-label col-form-label-sm" for="grayHarirModerate">Moderate</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input formControlName="grayhairOthers" name="grayhairOthers" type="text"
                        class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id=""
                        placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="form group">
            <div class="row">
                <label class="col col-md-2 col-sm-2 col-lg-2 mt-2 col-form-label-sm">Tongue Coating:</label>
            </div>
            <div>
                <textarea formControlName="tongueCoating" name="tongueCoating"
                    class="form-control form-control-sm col col-md-10 col-sm-10 col-lg-10 rounded-0" id="TongueCoating"
                    rows="3"></textarea>
            </div>
        </div>
        <div>
            <button class="btn btn-primary rounded-0 col-sm-2">Next</button>
        </div>
    </div>
</form>

