<form #chiefComplaint="ngForm" (ngSubmit)="chiefComplaintAdd()" >
  <!--   <div class="modal-title">
        <h3 class="primary">Chief complaints</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" formControlName="complainttextbox" name="complainttextbox" id="exampleFormControlTextarea1"
                rows="9"></textarea>
        </div>
        <button class="btn btn-primary rounded-0 col-sm-2">Next</button>
    </div> -->
  <div>
    <canvas class="canvas ml-2" #sigPad width="950" height="350" (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"></canvas>
    <br />
    <a class="btn btn-info ml-2 mr-2  rounded-0" style="width: 121px;height: 37.5px; color:#fff; padding-top:3px;" (click)="clear()">clear</a>
    <a style="width: 121px;height: 37.5px; color:#fff"  class="btn btn-secondary  rounded-0" (click)="AddBase64CheifComplaint()">save</a>
  </div>
  <div class="form-group row mt-5">
    <div class="">
      <!-- <button type="button" class="btn btn-info rounded-0" style="margin-left: 722px; width: 121px;height: 37.5px;"
        (click)="newComplaint()">NewComplaints</button> -->
      <button type="button" style=" margin-left:735px; width: 121px;height: 37.5px;"
        class="closet btn btn-info rounded-0" aria-label="Close" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="onAddRow();">
        <span aria-hidden="true" class="fa fa-plus doct"><span
            style="padding-left: 8px; font-size: 18px;">New</span></span>
      </button>
    </div>
  </div>
  
<!--   <div *ngIf="newComplaints">
      <textarea type="text-area" class="form-control form-control-sm rounded-0" row="100"></textarea>
  </div> -->
  <div class="row mt-2">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Document Name</th>
            <th scope="col">Title</th>
            <th scope="col">Comment</th>
            <th scope="col">Data</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cheifComplan of cheifComplaintObj; index as i">
            <td [attr.data-index]="i" *ngIf="cheifComplan.docUrl">
              <!-- {{cheifComplan?.docUrl}} -->
              <a (click)="getMyProperty(cheifComplan)" style=" width:150px;height: 37.5px;"
                class=" btn btn-danger  rounded-0" data-toggle="modal" data-target="#exampleModalLong">
                View
              </a>
            </td>
            <td [attr.data-index]="i">{{cheifComplan?.comment}}</td>
            <td [attr.data-index]="i">{{cheifComplan?.title}}</td>
            <td [attr.data-index]="i">{{cheifComplan?.submissionDate  | date: 'dd/MM/yyyy' }}</td>
            <td [attr.data-index]="i" *ngIf="cheifComplan?.docUrl">
              <!-- <i class="fa fa-trash-o" style= "font-size: 38px;" aria-hidden="true" (click)="deleteFieldValue(i)"></i> -->
            </td>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{cheifComplan?.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" *ngIf="imageUrl">
                    <img [src]='imageUrl' />
                    <!-- <img src = "{{imageUrl}}"/> -->
                    <!-- {{cheifComplan.docUrl}} -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>

          </tr>

          <tr *ngFor="let addCheif of addCheifComplaintObj; index as i">
            <td [attr.data-index]="i">{{addCheif?.docUrl}}</td>
            <td [attr.data-index]="i">{{addCheif?.comment}}</td>
            <td [attr.data-index]="i">{{addCheif?.title}}</td>
            <td [attr.data-index]="i">{{addCheif?.uiDatedate}}</td>
            <td [attr.data-index]="i" *ngIf="addCheif?.docUrl"><i class="fa fa-trash-o"
                style="font-size: 38px;color: darkred;" aria-hidden="true" (click)="deleteFieldaddCheif(i)"></i></td>
          </tr>
          <tr *ngIf="isVisbaleAddFile">
            <td>

              <div class="form-group col-sm-2">
                <input type="file" class="form-control-file closet rounded-0 " (change)="picked($event,1)"
                  [(ngModel)]="docObj.docUrl" name="docUrl" value="" #docUrl="ngModel"
                  style="width: 191px;height: 37.5px;border: 2px solid lightslategrey; padding-top: 3px;padding-left: 3px; margin-left: -21px;">
              </div>

            </td>
            <td>
              <input class="form-control" [(ngModel)]="docObj.comment" name="comment" #comment="ngModel" type="text"
                placeholder="Title">
            </td>
            <td>
              <input class="form-control" [(ngModel)]="docObj.title" #title="ngModel" name="title" type="text"
                placeholder="Comment">
            </td>
            <td>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                      [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary custtomcal calendar" (click)="d.toggle()"
                        type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
                let-disabled="disabled" let-focused="focused">
                <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                  [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
                  [class.text-muted]="disabled">
                  {{ date.day }}
                </span>
              </ng-template>
            </td>
            <td style="width: 91px;">
              <a (click)="addFieldValue(docObj);"> <i class="fa fa-plus-circle mr-2"
                  style="font-size: 38px;color: darkcyan;" aria-hidden="true"></i> </a>
              <a (click)="hideChiefComplaint();"> <i class="fa fa-trash-o" style="font-size: 38px;color: darkred;"
                  aria-hidden="true"></i> </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class=" btn btn-primary col-sm-2  rounded-0 mt-5" style=" width:150px;height: 37.5px;" id="myBtn">Save &
    Next</button>

</form>
