<!-- <nav  class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"> -->
<nav [ngClass]="isExpanded ? 'sidebar1' : 'sidebar2'">
    <div class="list-group">
        <!-- <a [routerLink]="['/dashboard/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Charts' | translate }}</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Dashboard' | translate }}</span>
    </a>
    <a [routerLink]="['/dashboard//tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-table"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Tables' | translate }}</span>
    </a>
    <a [routerLink]="['/dashboard//forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Forms' | translate }}</span>
    </a>
    <a [routerLink]="['/dashboard//bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-desktop"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Bootstrap Element' | translate }}</span>
    </a>
    <a [routerLink]="['/dashboard//grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-wrench"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Bootstrap Grid' | translate }}</span>
    </a>
    <a [routerLink]="['/dashboard//components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-th-list"></i>&nbsp;
      <span *ngIf="isExpanded">{{ 'Component' | translate }}</span>
    </a> -->
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div> -->
        <!-- <a [routerLink]="['/dashboard/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span *ngIf="isExpanded">{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span *ngIf="isExpanded">{{ 'More Themes' | translate }}</span>
        </a> -->

        <!-- <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div> -->

        <!-- 
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div> -->
        <!-- <div *ngIf="reciveDataValue?.length === 0">
      <ng-container *ngFor="let features of doctorRoleData.roleList">
        <ng-container *ngIf="features.id === 1">
          <div *ngFor="let feature of features.features">
            <a
              routerLink="/dashboard/{{ features.roleName }}/{{ feature.featureName }}"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-fw fa-bar-chart-o"></i>
              <span *ngIf="isExpanded"> {{ feature.featureName }}</span>
            </a>
          </div>
        </ng-container>
        <div *ngFor = "let feature of features.features">
                    <ul>
                        <li><a routerLink="/{{feature}}" routerLinkActive="active">{{feature.featureName}}</a></li>
                    </ul>
            </div>
      </ng-container>
    </div> -->

        <!-- <div *ngIf="reciveDataValue?.length > 0"> -->
        <ng-container *ngFor="let features of reciveDataValue.checkedFeatureList">
            <!-- <span>{{features.roleName}}</span> -->
            <!-- <div *ngFor="let feature of features.features"> -->
            <!-- <ul>
                        <li><a routerLink="/dashboard/{{features.roleName}}/{{feature.featureName}}" routerLinkActive="active">{{feature.featureName}}</a></li>
                    </ul> -->
            <a routerLink="/dashboard/{{roleRouting }}/{{ features}}" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-pagelines" aria-hidden="true"></i>&nbsp;
                <span *ngIf="isExpanded"> {{ features}}</span>
            </a>
            <!-- </div> -->
        </ng-container>
    </div>
    <!-- </div> -->
</nav>