<form>
  <ng-container *ngFor = "let personaLifeQuestion of personalLifeStyle">
    <div class="row">
      <div class="col-sm-12 mb-4" *ngIf="personaLifeQuestion?.heading">
          <h3 class='primary'>{{personaLifeQuestion?.heading}}</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            <label class = "f2-font" for="formGroupInput">{{personaLifeQuestion.quetion}}</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control form-control-sm rounded-0" id="formGroupInput">
                <option class = "f2-font"  *ngFor="let option of personaLifeQuestion.answer" value="option"><small>{{option}}</small></option>
            </select>
        </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-primary rounded-0 mb-2">Update</button>
</form>
