<div class="row">
  <div class="col-sm-8">
    <input type="text" [(ngModel)]="search" class="form-control col-sm-5  rounded-0" id="formGroupExampleInput"
      placeholder="Search... Center Name">
  </div>
  <div class="col-sm-4">
    <button type="button" style="margin-left:29%; width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
      aria-label="Close" data-toggle="modal" data-target="#roleCreation" (click)="patchValues()">
      <span aria-hidden="true" class="fa fa-plus doct "><span style="padding-left: 8px; font-size: 18px;"> Role
          Creation</span></span>
    </button>
  </div>
</div>

<!-- Modal -->
<!-- <form [formGroup]="roleForms" (ngSubmit)="onRoleSubmit()"> -->
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
  <div class="modal fade" id="roleCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="justify-content-center">
            <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Role Creation</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="patchValues()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--   <form> -->
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="roleName" class="col-form-label font-weight-bold">Role Name</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Role Name" [(ngModel)]="roleName.roleName"
                name="nmae" #nmae="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nmae.invalid }" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;"
              *ngIf="f.submitted && nmae.invalid">
              <div *ngIf="nmae?.errors.required">Role Name is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="firstName" class= " col-sm-3">Role Name</label>
            <input type="text" class="form-control col-sm-8" name="firstName" [(ngModel)]="roleName.roleName"
              #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName?.errors.required">Role Name is required</div>
            </div>
          </div> -->

          <!-- <div *ngIf="issubmitted && roleForms.controls['name'] && !roleForms.controls['name'].valid">
            <span *ngIf="roleForms.controls['name'].hasError('required') ">
              <div style="color: crimson;font-size: 12px; margin-top: -23px; margin-left: 588px;">
                RoleName is required     [class.has-error]="name.invalid" [class.has-success]="name.valid"

              </div>
            </span>
          </div> -->
          <div class="row form-group">
            <div class="col-sm-3 form-check form-check-inline custom-control custom-checkbox">
              <label for="assignFeature" class="col-form-label font-weight-bold">Assing Features</label>
            </div>
            <div class="col-sm-8">
              <div class="row">

                <!-- <div *ngFor="let featueName of baseFeaturList" class="col-sm-4">
                                    <div class="form-group form-check ">
                                        <input type="checkbox"  class="form-check-input" [(ngModel)]="roleName" name="list_name_child"   id ="{{featueName}}" 
                                        (ngModelChange)="checkedFeature(featueName)" />
                                        <label class="form-check-label" for="{{featueName}}">{{featueName}}</label>
                                    </div>
                             </div> -->

                <div *ngFor="let feature of  baseFeaturList; let i=index" class="col-sm-4">
                  <div class="form-group form-check ">
                    <input class="form-check-input" [ngModel]="isSelected(feature)"
                      (ngModelChange)="onChange(feature, $event)" type="checkbox" id="{{feature}}" name="{{i}}"
                      required>
                    <label class="form-check-label" for="{{feature}}">{{feature}}</label>
                  </div>
                  <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;"
                    *ngIf="f.submitted && name.invalid">
                    <div *ngIf="name?.errors.required">Feature is required</div>
                  </div>
                </div>
                <!-- <div *ngIf="feature.valid && !feature.valid">
                   <span *ngIf="feature.hasError('required') "> 
                    <div style="color: crimson;font-size: 12px; margin-top: -23px; margin-left: 588px;">
                      Features is required
                    </div>
                   </span>
                </div> -->



                <!-- <div class="col-sm-4 form-group form-check" *ngFor="let featuresName of featuresNameList; let i = index;">
                                  <input class="form-check-input" type="checkbox"  
                                  (change)="getSelectedFeatureValue()"
                                  formControlName= "featuresName"
                                  id="inlineCheckbox{{i}}">
                                  <label class="form-check-label" for="inlineCheckbox{{i}}">{{featuresName}}</label>
                                </div> -->
                <!-- <div class="col-sm-4 form-group form-check" *ngFor="let control of featuresArray.controls; let i = index;">
                                  <input class="form-check-input" type="checkbox"  
                                  (change)="getSelectedFeatureValue()"
                                  [formControl] = "control"
                                  id="inlineCheckbox{{i}}">
                                  <label class="form-check-label" for="inlineCheckbox{{i}}">{{featuresNameList[i]}}</label>
                                </div> -->
                <!-- <div class="ToppingsSelector" formArrayName="toppings"> -->
                <!-- <div *ngFor="let row of roleForms.controls; let i = index" [formGroupName]="i"   >
                        {{row}}
                        <input class="form-check-input" type="checkbox"  formControlName="roleName" (change)="clearQuantityIfNecessary(row)" id=" {{i}}">
                        <label class="form-check-label" for=" {{i}}"></label>
                          
                      </div> -->
                <!-- </div> -->
                <!-- <div class="col-sm-4 form-group form-check " *ngFor="let featureName of featuresNameList">
                                    <input type="checkbox" class="form-check-input"  [(ngModel)]="roleData.featureName" name="featureName" value="{{featureName}}" id ="{{featureName}}"/>
                                    <label class="form-check-label" for="{{featureName}}">{{featureName}}</label>
                                </div> -->
                <!-- <div class="col-sm-4 form-group form-check" >
                                    <input type="checkbox" class="form-check-input"  [(ngModel)]="roleData.Billing" name="Billing" value="Billing" id ="Billing"/>
                                    <label class="form-check-label" for="Billing">Billing</label>
                                </div>
                                <div class="col-sm-4 form-group form-check" >
                                    <input type="checkbox" class="form-check-input"  [(ngModel)]="roleData.EmpCreation" name="EmpCreation" value="EmpCreation" id ="EmpCreation"/>
                                    <label class="form-check-label" for="EmpCreation">EmpCreation</label>
                                </div>
                                <div class="col-sm-4 form-group form-check" >
                                    <input type="checkbox" class="form-check-input"  [(ngModel)]="roleData.Pharmacy" name="Pharmacy" value="Pharmacy" id ="Pharmacy"/>
                                    <label class="form-check-label" for="Pharmacy">Pharmacy</label>
                                </div> -->
              </div>

              <!-- <div class=" form-check form-check-inline custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline" >
                            <label style="padding-left: 17px;" class="custom-control-label" for="customControlInline">Nurse</label>
                        </div> -->
              <!-- <label formArrayName="roleList" *ngFor="let order of form.controls.roleList.controls; let i = index">
                              <input type="checkbox" [formControlName]="i">
                              {{roleList[i].name}}
                            </label> -->
              <!-- <div class=" form-check form-check-inline custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customControlInline" >
                              <label style="padding-left: 17px;" class="custom-control-label" for="customControlInline">Nurse</label>
                          </div> -->
              <!-- <select   class="selectpicker" multiple data-live-search="true" id="roleName">
                              <option *ngFor="let role of roleName" value="{{role}}">{{role}}</option>
                          </select> -->

            </div>
          </div>
          <!--   </form> -->
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" style="width: 115px;"
            (click)="patchValues()">Cancel</button>
          <button class="btn btn-primary  rounded-0">Add Role</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <div class="card  mt-2">
  <div class="card-body">
         
  </div>
</div> -->

<form name="form" (ngSubmit)="onUpdate()" #Update="ngForm">
  <div class="modal fade" id="UpdateCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="justify-content-center">
            <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Update Role</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="patchValues()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--   <form> -->
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="roleName" class="col-form-label font-weight-bold">Role Name</label>
            </div>
            <div class="col-sm-8 form-group">
              <!-- <input type="text" class="form-control rounded-0" formControlName="roleName" id="roleName" placeholder="Enter role name"> -->
              <input type="text" class="form-control rounded-0" name="name" [(ngModel)]="updatedName.roleName"
                #name="ngModel" id="name" placeholder="Role Name">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-3 form-check form-check-inline custom-control custom-checkbox">
              <label for="assignFeature" class="col-form-label font-weight-bold">Assing Features</label>
            </div>
            <div class="col-sm-8">
              <div class="row">

                <div *ngFor="let updateFeatures of  baseFeaturList; let i=index" class="col-sm-4">
                  <div class="form-group form-check ">
                    <input class="form-check-input" [ngModel]="isUpdated(updateFeatures)"
                      (ngModelChange)="onUpdateChange(updateFeatures, $event)" type="checkbox"
                      id="{{updateFeatures}}{{i}}" name="topicgroup_{{i}}">
                    <label class="form-check-label" for="{{updateFeatures}}{{i}}">{{updateFeatures}}</label>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!--   </form> -->
        </div>
        <div class="modal-footer justify-content-center">
          <!-- 
            <div *ngIf="roleUpdate; else roleUpdateFalse"> -->
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" style="width: 115px;"
            (click)="patchValues()">Cancel</button>
          <button class="btn btn-primary  rounded-0">Update</button>
          <!-- 

            </div> -->
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row mt-2">
 <!--  <ng-container *ngFor="let role of roleList  | filter:search">

    <div class="col-sm-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title primary  font-weight-bold">Role Name</h5>
              <p class="card-text  font-weight-bold">{{role.roleName}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title primary  font-weight-bold">Features</h5>
              <p class="card-text">{{role.checkedFeatureList}}</p>
              <div class="float-right">
                <a class="card-link text-primary" (click)="onRoleEdit(role)">Edit</a>
                <a class="card-link text-secondary" (click)="onRoleDelete(role)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container> -->
</div>

<div class="row">
  <div *ngFor="let role of roleList |filter:search" class="col-sm-6 mt-4">
      <div class="card">
        <div class="card-header" style="background: #17a2b8;">
            <div class="row">
                <div class="col-sm-10 mt-1">
                    <span class="font-weight-bold" style="color:white"> {{ role.roleName | uppercase }}</span>
                </div>
                <div  class="col-sm-1">
                    <a  (click)="onRoleEdit(role)"><i class="fa fa-pencil-square-o"  style="font-size: 28px;color: #fff;"aria-hidden="true"></i></a>
                </div>
                <div  class="col-sm-1">
                    <a (click)="getRoleIdOnClick(role)"><i class="fa fa-trash-o" style="font-size: 28px;color: #fff;" aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class='row'>
                <div class="col-sm-12">
                   <h5 class="card-title primary  font-weight-bold">Features</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-left font-weight-bold">{{role.checkedFeatureList}}&nbsp;&nbsp;</p>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this poc?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                        <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary  rounded-0" (click)="onRoleDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
