<form name="pastMedicalHistory" (ngSubmit)="onPastMedicalHistory()" #f="ngForm" class="m-2">
    <div class="row">
        <div class="col-sm-12">
            <h6 class='primary'>Antenatal</h6>
            <label for="motherTextarea">Mother's Physical & Mental sufferings:</label>
            <textarea class="form-control form-control-sm rounded-0"  [ngModel]="pastMedicalObj.antenatal" #anten="ngModel" type="text" value="" placeholder="Specify if Other" id="motherTextarea" rows="1" name="anten"></textarea>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h6 class='primary'>Postnatal:</h6>
            <textarea class="form-control form-control-sm rounded-0"   value="" name="postnatal" [(ngModel)]="pastMedicalObj.postnatal" #postnatal="ngModel"rows="1"></textarea>
        </div>
    </div>
      <!-- <ng-container *ngFor = "let medicalHistoryValue of medicalHistoryData"> -->
     <!--    <div class="row">
          <div class="col-sm-12 mb-4" *ngIf="medicalHistoryValue.heading">
              <h3 class='primary'>{{medicalHistoryValue?.heading}}</h3>
          </div>
        </div> -->
        <div class="row">
           <!--  <div class="col-sm-3 form-group">
                <label class = "f2-font" for="formGroupInput">{{medicalHistoryValue.quetion}}</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control form-control-sm rounded-0" id="formGroupInput">
                    <option class = "f2-font"  *ngFor="let option of medicalHistoryValue.anser" value="option"><small>{{option}}</small></option>
                </select>
            </div> -->
              <div  *ngFor="let medicalHistory of medicalHistoryData; let i=index" class="col-sm-4">
                    <div class="form-group form-check ">
                        <input class="form-check-input" [ngModel]="isSelected(medicalHistory)" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange(medicalHistory, $event)" type="checkbox" id="{{medicalHistory}}" name="topicgroup_{{i}}">
                        <label class="form-check-label" for="{{medicalHistory}}">{{medicalHistory}}</label>
                    </div>
                </div>
          </div>
      <!-- </ng-container> -->
      <!-- <div class="row">
        <div class="col-sm-4">
            <label class = "f2-font" for="formGroupOther">Others</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="Others">
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12 mb-4">
              <h3 class='primary'>Hospitalization History</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
              <label class = "f2-font" for="formGroupOther">Were you hospitalized in the past?</label>
          </div>
          <div class="col-sm-6">
              <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="Were you hospitalized in the past?">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12  mb-4">
                <h3 class='primary'>Surgical History</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class = "f2-font" for="formGroupOther">Did you undergo any surgery previously?</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm rounded-0" id="formGroupOther" placeholder="Did you undergo any surgery previously?">
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-12">
                <input class="form-control form-control-sm rounded-0" name="other" [(ngModel)]="pastMedicalObj.other" #other="ngModel" type="text"  value="" placeholder="Specify if Other">
            </div>
        </div>
  <button class="btn btn-primary rounded-0 mt-2 mb-2">Next</button>
</form>
