<div class="row">
  <div class="col-sm-8">
    <input type="text" [(ngModel)]="search" (keyup)="onKeyup()" class="form-control col-sm-5  rounded-0"
      id="formGroupExampleInput" placeholder="Search">
  </div>
  <div class="col-sm-4 text-right">
    <button type="button" style="margin-left:29%; width: 241px;height: 37.5px;" class="closet btn btn-info rounded-0"
      aria-label="Close" data-toggle="modal" data-target="#roleCreation" (click)="clean()">
      <span aria-hidden="true" class="fa fa-plus doct "><span style="padding-left: 8px; font-size: 18px;"> Add
          Party</span></span>
    </button>
  </div>
</div>
<div class="col-sm-8" *ngIf="partylist">Showing <b style="color: blue;">{{listCount}}</b> search results</div>
<!-- Modal -->
<!-- <form [formGroup]="roleForms" (ngSubmit)="onRoleSubmit()"> -->
<form name="form" #f="ngForm" (ngSubmit)="addParty()">
  <div class="modal fade" id="roleCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="justify-content-center">
            <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Create New Party</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clean()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--   <form> -->
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="roleName" class="col-form-label font-weight-bold">Party Name</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Party Name" [(ngModel)]="partyDetails.name"
                name="nmae" #nmae="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isname">
              <div *ngIf="isname">Party Name is required</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="partyAddress" class="col-form-label font-weight-bold">Address</label>
            </div>
            <div class="col-sm-8 form-group">
              <textarea type="text" rows="4" class="form-control rounded-0" placeholder="Party Address"
                [(ngModel)]="partyDetails.address" name="address" #address="ngModel" required>
              </textarea>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isaddress">
              <div *ngIf="isaddress">Party Address is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="contactperson" class="col-form-label font-weight-bold">Contact Person</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Contact Person"
                [(ngModel)]="partyDetails.contactperson" name="contactperson" #contactperson="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactperson">
              <div *ngIf="iscontactperson">Contact Person is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="contactmobile" class="col-form-label font-weight-bold">Contact Number</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Contact Number"
                [(ngModel)]="partyDetails.contactmobile" name="contactmobile" #contactmobile="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactmobile">
              <div *ngIf="iscontactmobile">Contact Number is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="emailid" class="col-form-label font-weight-bold">EmailID</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Email ID"
                [(ngModel)]="partyDetails.contactemail" name="contactemail" #contactemail="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactemail">
              <div *ngIf="iscontactemail">EmailID is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="gstno" class="col-form-label font-weight-bold">GSTNo.</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="GSTNo." [(ngModel)]="partyDetails.gstin"
                name="gstin" #gstin="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isgstin">
              <div *ngIf="isgstin">GSTNo. is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="firstName" class= " col-sm-3">Role Name</label>
            <input type="text" class="form-control col-sm-8" name="firstName" [(ngModel)]="roleName.roleName"
              #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName?.errors.required">Role Name is required</div>
            </div>
          </div> -->

          <!-- <div *ngIf="issubmitted && roleForms.controls['name'] && !roleForms.controls['name'].valid">
            <span *ngIf="roleForms.controls['name'].hasError('required') ">
              <div style="color: crimson;font-size: 12px; margin-top: -23px; margin-left: 588px;">
                RoleName is required     [class.has-error]="name.invalid" [class.has-success]="name.valid"

              </div>
            </span>
          </div> -->

          <!--   </form> -->
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" style="width: 115px;"
            (click)="clean()">Cancel</button>
          <button class="btn btn-primary  rounded-0">Add Party</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <div class="card  mt-2">
  <div class="card-body">
         
  </div>
</div> -->

<form name="form" (ngSubmit)="onUpdate()" #Update="ngForm">
  <div class="modal fade" id="UpdateCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="justify-content-center">
            <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Update Party</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="patchValues()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--   <form> -->
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="roleName" class="col-form-label font-weight-bold">Party Name</label>
            </div>
            <div class="col-sm-8 form-group">
              <!-- <input type="text" class="form-control rounded-0" formControlName="roleName" id="roleName" placeholder="Enter role name"> -->
              <input type="text" class="form-control rounded-0" name="name" [(ngModel)]="updatedParty.name"
                #name="ngModel" id="name" placeholder="Role Name">
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isname">
              <div *ngIf="isname">Party Address is required</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-3">
              <label for="partyAddress" class="col-form-label font-weight-bold">Address</label>
            </div>
            <div class="col-sm-8 form-group">
              <textarea type="text" rows="4" class="form-control rounded-0" placeholder="Party Address"
                [(ngModel)]="updatedParty.address" name="address" #address="ngModel" required>
              </textarea>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isaddress">
              <div *ngIf="isaddress">Party Address is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="contactperson" class="col-form-label font-weight-bold">Contact Person</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Contact Person"
                [(ngModel)]="updatedParty.contactperson" name="contactperson" #contactperson="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactperson">
              <div *ngIf="iscontactperson">Contact Person is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="contactmobile" class="col-form-label font-weight-bold">Contact Number</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Contact Number"
                [(ngModel)]="updatedParty.contactmobile" name="contactmobile" #contactmobile="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactmobile">
              <div *ngIf="iscontactmobile">Contact Number is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="emailid" class="col-form-label font-weight-bold">EmailID</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="Email ID"
                [(ngModel)]="updatedParty.contactemail" name="contactemail" #contactemail="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="iscontactemail">
              <div *ngIf="iscontactemail">EmailID is required</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-3">
              <label for="gstno" class="col-form-label font-weight-bold">GSTNo.</label>
            </div>
            <div class="col-sm-8 form-group">
              <input type="text" class="form-control rounded-0" placeholder="GSTNo." [(ngModel)]="updatedParty.gstin"
                name="gstin" #gstin="ngModel" required>
            </div>
            <div style="color: red;margin-left: 599px;margin-top: -8px; font-size: 12px;" *ngIf="isgstin">
              <div *ngIf="isgstin">GSTNo. is required</div>
            </div>
          </div>
          <!--   </form> -->
        </div>
        <div class="modal-footer justify-content-center">
          <!-- 
            <div *ngIf="roleUpdate; else roleUpdateFalse"> -->
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" style="width: 115px;"
            (click)="patchValues()">Cancel</button>
          <button class="btn btn-primary  rounded-0">Update</button>
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" style="width: 115px;"
            (click)="deleteParty()">Delete</button>

          <!-- 

            </div> -->
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <div class="row mt-2"> -->
<!--  <ng-container *ngFor="let role of roleList  | filter:search">

    <div class="col-sm-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title primary  font-weight-bold">Role Name</h5>
              <p class="card-text  font-weight-bold">{{role.roleName}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title primary  font-weight-bold">Features</h5>
              <p class="card-text">{{role.checkedFeatureList}}</p>
              <div class="float-right">
                <a class="card-link text-primary" (click)="onRoleEdit(role)">Edit</a>
                <a class="card-link text-secondary" (click)="onRoleDelete(role)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container> -->
<!-- </div> -->

<!-- <div class="row">
  <div *ngFor="let role of partyList |filter:search;let i=index" class="col-sm-6 mt-4">
    <div class="card">
      <div class="card-header" style="background: #17a2b8;">
        <div class="row">
          <div class="col-sm-10 mt-1">
            <span class="font-weight-bold" style="color:white"> {{ role?.name | uppercase }}</span>
          </div>
          <div class="col-sm-1">
            <a (click)="onRoleEdit(i)"><i class="fa fa-pencil-square-o" style="font-size: 28px;color: #fff;"
                aria-hidden="true"></i></a>
          </div>
          <div class="col-sm-1">
            <a (click)="getRoleIdOnClick(i)"><i class="fa fa-trash-o" style="font-size: 28px;color: #fff;"
                aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <div class='row'>
                <div class="col-sm-12">
                   <h5 class="card-title primary  font-weight-bold">Features</h5>
                </div>
            </div> -->
<!-- <div class="row">
          <div class="col-sm-12">
            <p class="text-left font-weight-bold">{{role?.address}}&nbsp;&nbsp;</p>
          </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this party?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary  rounded-0" (click)="onRoleDelete()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  -->

<div class="card  mt-2">
  <div class="card-body">
    <p-dataTable [value]="partylist| filter:search" selectionMode="single" [paginator]="true" [rows]="15"
      [responsive]="true" [immutable]="false" (onRowSelect)="getPartyValue($event)">
      <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
        [style]="{'text-align': 'center','width':col.width }"></p-column>
    </p-dataTable>
  </div>
</div>
<button type="button" style="float: right; width: 241px;height: 37.5px; margin-top: 5px"
  class="closet btn btn-info rounded-0" (click)="convertPoDetailsExcel();"><span
    style="padding-left: 8px; font-size: 18px;">Download Excel</span>
</button>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Arue you sure you want to delete this Party?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-secondary mr-2 rounded-0" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary  rounded-0" (click)="onDeleteChemComp()">Delete</button>
      </div>
    </div>
  </div>
</div>