app-party-creation {

    .card-body {
        background-color: white;
        box-shadow: 0px 0px 5px 0px #00000030;
        width: 100%;
        height: 100%;
        /* box-shadow: 0 0 10px 0px #8dc1ca7d; */
    }

    .primary {
        color: #1DC8D5 !important;
        //color: #0f008b !important;
        clear: both;
        padding-top: 20px;
        font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }

    .f2-font {
        color: #828282;
        font-size: 14px !important;
        line-height: 1.5;
        color: #343434;
        background-color: #fff;
        font-family: "proxima_novaregular", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    a {
        cursor: pointer;
    }

}