<p-dataTable [value]="existPatientObjectQueue" selectionMode="single" (onRowSelect)="onRowSelect($event)"
  [paginator]="true" [rows]="7" [responsive]="true" [sortField]="sortF" [immutable]="false"
  (onSort)="changeSort($event)">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Payment
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Go To Doctor</span><span *ngIf="data.patientMobile!==statusChange">Go To Doctor</span></button> -->
        <button class="btn btn-info rounded-0 ml-4" (click)="valueChanged(data);onPayment()" 
           style="text-align: center; width: 110px; height: 30px; padding:
        3px;" [disabled]='data.presentQueueType != 4'>Labprescription</button>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      Action
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body" style="text-align: center;">
      <div class="my-center-text">
        <!-- <button type="submit" class="btn rounded-0" [class.btn-info]= "data.patientMobile!==statusChange" pButton (click)="selectedRowData(data)" style="text-align: center;" ><span *ngIf="data.patientMobile===statusChange">Go To Doctor</span><span *ngIf="data.patientMobile!==statusChange">Go To Doctor</span></button> -->
        <button class="btn btn-info rounded-0 ml-4" (click)='navigateComponent()'
          style="text-align: center; width: 110px; height: 30px; padding: 3px;" [disabled]=' data.presentQueueType != 4'>Upload</button>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PresCription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <span>Patient Name:</span>
                </div>
                <div class="col-sm-6">
                  {{ptName}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span>Date:</span>
                </div>
                <div class="col-sm-6">
                  {{ptDate | date:'fullDate'}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span>Time:</span>
                </div>
                <div class="col-sm-6">
                  {{ptDate | date:'h:mm a z'}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img src="../../../../../assets/images/prescription.png" alt="prescription" style="width: 765px;">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <div class="rwo">
                <div class="col-sm-4">
                  <span>Amout</span>
                </div>
                <div class="col-sm-8">
                  <input class="form-control form-control-sm" type="text" placeholder="enter amount">
                </div>
              </div>
              <!-- <div class="rwo">
                <div class="col-sm-4">
                  <span>Days</span>
                </div>
                <div class="col-sm-8">
                  <input class="form-control form-control-sm" type="text" placeholder="Days">
                </div>
              </div> -->
              <div class="rwo">
                <div class="col-sm-4 mt-4">
                  <button type="button" class="btn btn-secondary" (click)="onPayment()">Pay Amount</button>
                </div>
                <div class="col-sm-8">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Go to Doctor</button>
        </div>
      </div>
    </div>
  </div>
