<!-- <p>
  junior-doctor works!
</p> -->

<div class="card">
  <div (valueChange)='displayCounter($event)' *ngIf="investigationqueue">

  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="welcome_txt">Update Your Personal Health Record</h2>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 0.8px;">
      <div class="col-md-12 ml-2">
        <div class="radioContainer">
          <div class="row">
              <div class="col-sm-1">
                <span  [ngClass]="generalInfoBoolean ? 'radioActive' : 'radioCompleted'"  (click)="personalHealthRecord($event)" id="generalInfo" ></span> 
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[generalInfoComplted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-1">
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[chiefComplaintsComplted]}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span [ngClass]="{'radioInActive': chiefComplaintsBoolean, 'radioActive': chiefComplaintsActiveBoolean, 'radioCompleted': chiefComplaintsCompletedBoolean}"  (click)="personalHealthRecord($event)" id="chiefComplaints"></span> 
              </div>
              
              <div class="col-sm-1">
                <span [ngClass]="{'radioInActive': pastMedicalHistoryBoolean, 'radioActive': pastMedicalHistoryActiveBoolean, 'radioCompleted': pastMedicalHistoryCompletedBoolean}"  (click)="personalHealthRecord($event)" id="pastMedicalHistory"></span> 
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[pastMedicalComplted]}"   aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-1">
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[familyHistoryComplted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span [ngClass]="{'radioInActive': familyHistoryBoolean, 'radioActive': familyHistoryActiveBoolean, 'radioCompleted': familyHistoryCompletedBoolean}"  (click)="personalHealthRecord($event)" id="familyHistory"></span> 
              </div>

              <div class="col-sm-1">
                <span  [ngClass]="{'radioInActive': obsGynacHistoryBoolean, 'radioActive': obsGynacHistoryActiveBoolean, 'radioCompleted': obsGynacHistoryCompletedBoolean}"   (click)="personalHealthRecord($event)" id="obsGynacHistory"></span> 
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[obsGynacHistoryComplted]}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-1"> 
                <div class="radioProgressSm1">
                 <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[treatmentHistoryComplted]}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                    <span  [ngClass]="{'radioInActive': treatmentHistoryBoolean, 'radioActive': treatmentHistoryActiveBoolean, 'radioCompleted': treatmentHistoryCompletedBoolean}"  (click)="personalHealthRecord($event)" id="treatmentHistory"></span> 
                </div>

              <div class="col-sm-1">
                <span  [ngClass]="{'radioInActive': labInvestigationHistoryBoolean, 'radioActive': labInvestigationActiveHistoryBoolean, 'radioCompleted': labInvestigationCompletedHistoryBoolean}"  (click)="personalHealthRecord($event)" id="labInvestigation"></span> 
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[labInvestigationComplted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              
              <div class="col-sm-1">
                <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[clinicalFindingComplted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span [ngClass]="{'radioInActive': clinicalFindingBoolean, 'radioActive': clinicalFindingActiveBoolean, 'radioCompleted': clinicalFindingCompletedBoolean}"  (click)="personalHealthRecord($event)" id="clinicalFinding"></span> 
              </div>

              <div class="col-sm-1">
                <span  [ngClass]="{'radioInActive': geneticConstitutionBoolean, 'radioActive': geneticConstitutionActiveBoolean, 'radioCompleted': geneticConstitutionCompletedBoolean}"  (click)="personalHealthRecord($event)" id="physicalMakeup"></span> 
                 <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[physicalMakeupCompleted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div  class="col-sm-1">
                <span  [ngClass]="{'radioInActive': physicalGeneralsBoolean, 'radioActive': physicalGeneralsActiveBoolean, 'radioCompleted': physicalGeneralsCompletedBoolean}"  (click)="personalHealthRecord($event)" id="physicalGenerals"></span> 
                 <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[physicalGeneralsCompleted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div  class="col-sm-1">
                <span  [ngClass]="{'radioInActive': mentalGeneralsBoolean, 'radioActive': mentalGeneralsActiveBoolean, 'radioCompleted': mentalGeneralsCompletedBoolean}"  (click)="personalHealthRecord($event)" id="mentalGenerals"></span> 
                 <div class="radioProgressSm1">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':[mentalGeneralsCompleted]}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div  class="col-sm-1">
                <span  [ngClass]="summaryBoolean ? 'radioCompleted ' : 'radioInActive'"  (click)="personalHealthRecord($event)" id="summary"></span> 
              </div>
          </div>
        </div>
      </div>
      </div>
        
    <div class="row ml-1 mr-2" >
        <div class="col-sm-1" style="padding-left: 0px;">
                <p class="f1-font">General Information</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 0px;"><!-- 
            <p class="f1-font">Personal Information</p> -->
            <p class="f1-font">Chief Complaints</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 0px;">
            <p class="f1-font">Past Medical History</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 6px;">
            <p class="f1-font">Family History</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 4px;">
            <p class="f1-font">OBS &  Gynac History</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 7px;">
            <p class="f1-font">Treatment History</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 10px;">
            <p class="f1-font">Lab Investigations</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 10px;">
            <p class="f1-font">Clinical And Genetic</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 19px;">
            <p class="f1-font" style="word-break: break-word;font-size: 12px;width: 70px; ">Physical Makeup</p>
        </div>
        <div class="col-sm-1">
            <p class="f1-font">Physical Generals</p>
        </div>
        <div class="col-sm-1"  style="padding-left: 20px;">
            <p class="f1-font">Mental Generals</p>
        </div>
        <!-- <div class="col-sm-1"  style="padding-left: 20px;">
            <p class="f1-font">Summary</p>
        </div> -->
        <div class="col-sm-1"  style="padding-left: 20px;">
            <p class="f1-font">Prescription</p>
        </div>
    </div>

  </div>
</div>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>

