.radioContainer span
{
   
    background:url('../../../assets/images/sprite.png') no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    float: left;
}

.radioContainer .radioActive 
{
    background-position: -191px -70px;
}
.radioContainer .radioInActive 
{
    background-position: -223px -70px;
    background-color: gainsboro;
    border-radius: 50%;
}
.radioContainer .radioCompleted {
    background-position: -255px -70px;
    background-color: gainsboro;
    border-radius: 50%;
}
.radioProgressSm2 {
    position: absolute;
    margin-top: 13px;
    padding-top: 0px;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    height: 6px !important;
    width: 161px;
    margin-left: 29px;
} 
.bg-success {
    background-color: #1dc8d5 !important;
}
.radioProgressSm1 {
    position: absolute;
    margin-top: 13px;
    padding-top: 0px;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    height: 6px !important;
    width: 82px;
    margin-left: 29px;
}
.radioProgressSm3 {
    position: absolute;
    margin-top: 13px;
    padding-top: 0px;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    height: 6px !important;
    width: 255px;
    margin-left: 29px;
}
.welcome_txt {
    font-size: 33px;
    color: #1dc8d5;
    font-weight: 500;
}
.f1-font{
    color: #828282;
    text-align: center;
    word-break: break-word;
    font-size: 12px;
    width: 75px;   
    margin-top: 10px;
    padding:0;
}
p{
    margin:0;
    padding:0;
}